.DS_Store

# Python bytecode
__pycache__

# Django dynamic directories
logs
media

# Environment variables
.env
.env.*

# Static files
./frontend-data/node_modules

# docker volume
taibif_volumes

# csv data
csvData

.idea
/tmp

static/js/search.*
static/js/dataset-table.*
