ENV=dev
DEBUG=True
SECRET_KEY=no-secret
DATABASE_URL=postgres://postgres:example@db:5432/taibif
ALLOWED_HOSTS=127.0.0.1
REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password=ungithubbed-secret
STATIC_ROOT=../../taibif-volumes/static
MEDIA_ROOT=../../taibif-volumes/media
AWS_ACCESS_KEY_ID=my-access-key-id
AWS_SECRET_ACCESS_KEY=my-secret-access-key
AWS_SES_REGION_NAME=my-ses-region-name
AWS_SES_REGION_ENDPOINT=my-ses-region-endpoint
TAIBIF_SERVICE_EMAIL=my-email
TAIBIF_BCC_EMAIL_LIST=my-email
GOOGLE_RECAPTCHA_SECRET_KEY=
CSRF_TRUSTED_ORIGINS=
JS_BUNDLE_VERSION=
HCAPTCHA_SECRET_KEY=