[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
pillow = "*"
django-environ = "*"
django-debug-toolbar = "*"
markdown = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
boto3 = "*"
django-ses = "*"
django-redis = "*"
django-cors-headers = "*"
numpy = "*"

[requires]
python_version = "3.8"

[scripts]
serve = "python manage.py runserver"
