.markercluster-map { height: 90vh; }

.leaflet-container {
    width: 100%;
    height: 70vh;
  }

/* leaflet draw */
.sr-only {
    display: none;
  }


/* layout */

.search-content {
    padding-bottom: 0 !important;
}