{% extends "base.html" %}
{% load static %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="03" active_label="關於 GBIF" %}

<!-- container begin -->
<div class="container">
  <h1 class="heading-lg-ul">
    什麼是 GBIF ?
  </h1>
  {% comment %}
  <blockquote>全球生物多樣性資訊機構，簡稱 GBIF，是一個由全球政府資助而成立的跨國合作網絡及研究基礎建設，成立宗旨在於提供大眾無論何時、何地均能公開且自由存取的、各種地球上的生物資料</blockquote>
  {% endcomment %}
  <div class="article-content-wrapper">
    <p>
      全球生物多樣性資訊機構，簡稱 GBIF，是一個由全球政府資助而成立的跨國合作網絡及研究基礎建設，成立宗旨在於提供大眾無論何時、何地均能公開且自由存取的、各種地球上的生物資料。</p>

<p>位於哥本哈根的GBIF祕書處負責統整機構的運作，以參與國、合作組織作為節點(Node)，各節點收集的資料以共同標準、開源格式提供給全球的資料中心，使得這些包含記錄地點、時間的生物資訊得以公開分享。這些生物資訊來源不一，有自 18 至 19 世紀時期博物館的標本典藏，到近年來業餘自然學家們發布附有地理標記的手機拍攝照片。</p>

<p>GBIF以達爾文核心集（Darwin Core）標準格式彙整所有不同來源的資料，形成 GBIF.org 上億萬筆的物種出現記錄資料索引的基礎。彙整的資料在創用 CC 授權條款下，供科學家、研究人員及民眾公開自由存取，可運用於同儕審查論文發表及政策文件中，研究運用的主題涵蓋氣候變遷的衝擊、外來入侵害蟲的擴散、保育與保護區的優先順序、食品安全及人類健康等。</p>
  </div>

    <div class="article-content-wrapper">
      <h3>背景與歷史沿革</h3>
      <p>
        GBIF 的創立，起始於 1999 年經濟合作暨發展組織(OECD)大科學論壇中，生物多樣性資訊小組的建議報告。這份報告提出：國際間需要建立可以自由存取生物多樣性資料、資訊的機制，藉由提供可靠正確的科學證據，可為經濟、社會帶來益處並促進永續發展。</p>

      <p>OECD 的專家小組明確地建議設立一個全球生物多樣性資訊機構，讓全球大眾能瀏覽且使用大量的生物多樣性資訊、促進科學研究、提升經濟、生活品質等社會利益、提供自然知識快速成長的基礎，同時避免重覆的勞力和花費。</p>

      <p>2001 年，該項建議被 OECD 科學部首長們採納，參與的各國政府於合作備忘錄(MOU)簽署下正式成立 GBIF。
        TaiBIF 所推動的生物多樣性資訊整合包含兩個層面。首先是資料共享的文化，透過與各主管單位及研究團隊討論資料管理的觀念和方法，提昇研究人員對於資料價值的認同，從而願意將資料的整理、備份，以及資料標準化、加強資料可讀與重複利用性等工作，納入日常研究活動當中。其次是生物多樣性資訊服務及基礎建設的開發，透過制度的建立及軟體工程方法，確保資料的發布和取用流程中，均有合適的軟體解決方案協助。</p>
    </div>


    <div class="article-content-wrapper">
    <p>
    <h3>關於秘書處</h3>
    <p>GBIF 秘書處目前規劃為四個團隊：</p>
    <ul>
      <li>參與合作部門：推動組織成員間的合作、招募新合作夥伴、並增進既有成員的運作能量。</li>
      <li>資料產品部門：確保GBIF所提供彙整資料的品質與其科學價值。</li>
      <li>資訊部門：執行資料管理、軟體開發及GBIF基礎設施運作。</li>
      <li>行政事務部門：聯繫 GBIF 網絡間合作及秘書處的行政事務處理。</li>
    </ul>
    </div>

    <hr>
    <div>
      <small>資料來源: <a href="https://www.gbif.org/zh-tw/what-is-gbif">什麼是 GBIF ?</a></small>
    </div>
</div>
  <!-- container end -->
{% endblock %}
