{% extends "base.html" %}
{% load static %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="03" active_label="相關連結" %}
<style>
  p {
  line-height: 1.8;
  }

  hr {
  border-top: 1px solid;
    }
</style>

  <!-- container begin -->
  <div class="container">
    <h2 class="h2">
      相關連結
    </h2>
    <hr>
    <!-- web site begin -->
    <h2 class="heading-md-bg">網站</h2>
    <p>透過每個物種的固氮程度，發現共生型豆科植物在非原生地拓殖的可能性顯著較低，顯示共生現象為拓展族群的限制因子，作者們認為可能的原因為缺乏適當的菌種或是不適當的固氮環境。</p>
    <ul class="row relateed-website-wrapper">

      {% for post in Post_url %}
      {% if post.cat == "web" %}
      <li class="col-md-2 col-xs-6">

        <a href="{{post.url}}" alt="" target="_blank"><img src="{{post.upload.url}}"></a>
        <a class="text-ellipsis-h2" href="{{post.url}}" alt="" target="_blank"><span class="myicon icon-link"></span> {{post.title}} </a>
      </li>

      {% endif %}
      {% endfor %}

    </ul>

    <!-- web site end -->

    <!-- database begin -->
    <h2 class="heading-md-bg">資料庫</h2>
    
    <div class="row relateed-datasabe-wrapper">
      <div class="col-md-2 col-xs-4">
        {% for post in Post_url%}
        {% if post.cat == "data" %}
        {% if post.sort == 1 %}
        <a href="{{post.url}}" target="_blank"><img src="{{post.upload.url}}"></a>
      </div>

      <div class="col-md-10 col-xs-8">
        <a href="{{post.url}}" target="_blank"><span class="myicon icon-link"></span> {{post.title}} </a>
        <p>{{post.content}}</p>
      </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="row relateed-datasabe-wrapper">
      <div class="col-md-2 col-xs-4">
        {% for post in Post_url%}
        {% if post.cat == "data" %}
        {% if post.sort == 0 %}
        <a href="{{post.url}}" target="_blank"><img src="{{post.upload.url}}"></a>
      </div>

      <div class="col-md-10 col-xs-8">
        <a href="{{post.url}}" target="_blank"><span class="myicon icon-link"></span> {{post.title}} </a>
        <p>{{post.content}}</p>
      </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- database end -->
  </div>
{% endblock %}
