{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block head %}
{#<link rel="stylesheet" href="{% static 'css/search.css' %}" />#}
<link rel="stylesheet" href="{% static 'css/tree.css' %}" />
{#<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />#}
{% endblock %}

{% block script %}
<script src="{% static 'js/tree.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{#<script src="{% static 'js/uikit.min.js' %}"></script>#}
{#<script src="{% static 'js/uikit-icons.min.js' %}"></script>#}
<script>
  $(document).ready(function() {
    $('.panel-collapse').collapse({
      toggle: false
    });
  });
</script>

<script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container search-container" id="taibif-search-container">
</div>
<div class="container search-container">
  <div class="row" id="taibif-search-container"></div>
</div>

{% if occurrence_list %}
{% include "inc_pagination.html" with object_list=occurrence_list %}
{% endif %}
{% endblock %}


<div class="search-container">

  <div class="search-sidebar">
  </div>
  <div class="search-main">
    <div class="uk-container">
      {% comment %}
      <!-- search form -->
      <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="head-carousel-search-wrapper">
          <div class="head-carousel-search-ctn">
            <ul class="row head-carousel-search-cate">
              <li class="col-xs-3" style="width: 14%;"><a href="#">物種名稱</a></li>
            </ul>
            <div class="head-carousel-search-form-wrapper">
              <input type="text" class="head-carousel-search-input" placeholder="搜尋..." {% if request.GET.q %} value="{{ request.GET.q }}"{% endif %} name="q">
              <button class="head-carousel-search-btn" type="submit">
                <span class="myicon icon-search"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- end search form -->
      {% endcomment %}


