{% extends "base.html" %}
{% load static %}

{% block title %}簡介{% endblock %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="03" active_label="TaiBIF 簡介" %}

<!-- container begin -->
<div class="container">
  <h1 class="heading-lg-ul">
    臺灣生物多樣性資訊機構
    (Taiwan Biodiversity Information Facility, TaiBIF)
  </h1>


  <div class="article-content-wrapper">
    <h3>關於 TaiBIF</h3>
      <p>  
      臺灣生物多樣性資訊機構 (Taiwan Biodiversity Information Facility, TaiBIF) 是全球生物多樣性資訊機構 (GBIF) 在臺灣的國家節點，也是臺灣生物多樣性資訊與國際平台接軌之窗口。在 GBIF.org 國際平台上，所有授權條件明確之公開生物多樣性資料，均提供全球科學研究、政策制定以及公共建設使用。TaiBIF 於 2004 年由國科會委託中央研究院生物多樣性研究中心成立及運作，主要任務為推動、建置臺灣生物多樣性資訊相關基礎建設，包含生物多樣性資訊的開放分享、研究資料管理流程的建置與交流，以及資訊服務的設計與開發。2008 年 3 月，TaiBIF 於中央研究院成立全球生物多樣性資訊機構中華民國委員會 (GBIF-ROC)，促進跨部會在生物多樣性資訊議題上的對話，以推動資訊的流通與整合。</p>
  </div>

    <div class="article-content-wrapper">
      <h3>TaiBIF 工作目標</h3>
      <p>
        TaiBIF 所推動的生物多樣性資訊整合包含兩個層面。首先是資料共享的文化，透過與各主管單位及研究團隊討論資料管理的觀念和方法，提昇研究人員對於資料價值的認同，從而願意將資料的整理、備份，以及資料標準化、加強資料可讀與重複利用性等工作，納入日常研究活動當中。其次是生物多樣性資訊服務及基礎建設的開發，透過制度的建立及軟體工程方法，確保資料的發布和取用流程中，均有合適的軟體解決方案協助。</p>
      <p>
      此外，TaiBIF 亦推動標準化資料之公開授權，供任何使用者合理使用。目前 TaiBIF 所流通的資料是採用 CC 授權 (Creative Common License)，包含 CC0，即作者不保留任何權利，允許任何人將資料做任何使用；CC-BY，雖亦允許任何人做任何使用，但需按照授權人指定的方式標示其姓名；CC-BY-NC 則代表使用時除了需標示授權人之姓名外，亦不得有商業目的性的使用。</p>
    </div>
</div>
  <!-- container end -->
{% endblock %}
