{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% block main %}

<style>
  .error_container{
    display:inline-flex;
    flex-direction: row;
  }
  .error_pic {
    width:50%;
  }
  .error_pic img{
    width:100%;
  }

  .error_desc {
    width:70%;
    margin: auto;
  }
</style>
<!-- container begin -->
  <div class="container">
  {% if LANGUAGE_CODE == "zh-hant" %}


    <div class="error_container">
      <div class="error_pic">
        <img src="{% static 'images/青蛙.png' %}">
      </div>
      <div class="error_desc">
        <p>此頁面之前可能存在，但目前搜尋不到。</p>
        <p>請嘗試我們的 <a href="{% url 'search_all' %}">搜尋功能</a> 來尋找。</p>
        <p>造成您使用不便，敬請見諒！</p>
        <p>歡迎透過 <a href="{% url 'contact_us' %}">問題回報</a> 聯繫我們。</p>
                                            <p style='text-align:end;'>TaiBIF團隊敬上</p>
      </div>
    </div>
    {% endif%}
    {% if LANGUAGE_CODE == "en" %}

    <div class="error_container">
      <div class="error_pic">
        <img src="{% static 'images/青蛙.png' %}">
      </div>
      <div class="error_desc">        
        <p>This page might have existed once, but we can no longer find it.</p>
        <p>Please try our  <a href="{% url 'search_all' %}">search</a> to find what you're looking for.</p>
        <p>You are always welcome to  <a href="{% url 'contact_us' %}"> contact us</a>. </p>
        <p style='text-align:end;'>TaiBIF</p>

    </div>

    {% endif %}
  </div>
  <!-- container end -->
{% endblock %}
