{% extends "base.html" %}

{% load static %}
{% load helper_tags %}

{% block title %}更多資訊 :: {{ article.title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="TaiBIF | 臺灣生物多樣性資訊機構 | {{ article.title }} "/>
{% if article.cover %}
<meta property="og:image" content="http://portal.taibif.tw/media/{{ article.cover }}"/>
{% else %}
<meta property="og:image" content="{% static 'images/taibif-logo-white-bg.png' %}"/>
{% endif %}
<meta property="og:description" content="{{ article.content }}"/>
<meta property="og:url" content="http://portal.taibif.tw{{article.get_absolute_url}}" />
<meta property="og:type" content="website" />
{% endblock %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="04" active_label="" %}
  <!-- container begin -->
  <div class="container">
    <!-- story title & share btns begin -->
    <div class="article-head-wrapper">
      <span class="article-post-date">{{ article.created|date:'Y-m-d' }}</span>
      <h1 class="heading-lg-ul">
        {{ article.title }}
      </h1>
      <ul class="article-tag-ctn">
        {% for i in article.tags.all %}
        <li class="listbox-inner-tag"><a href="{% url 'article-tag-list' tag_name=i.name %}">{{ i.name}}</a></li>
        {% endfor %}
      </ul>
      {% comment %}
      <div class="article-share-btn-wrapper">
        分享文章
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-fb"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-twitter"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-line"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-mail"></span></a>
      </div>
      {% endcomment %}
    </div>
    <!-- story title & share btns end -->
    
    <!-- article content begin -->
   <div class="carousel slide" data-interval="4000" data-ride="carousel">
    <div class="carousel-inner" >
      {% if  article.cover %}
        <div class="head-carousel-wrapper item active">
          <img src="/media/{{ article.cover }}">
        </div>
        <div class="head-carousel-wrapper item active">
          <p style="background-color:white;color:black;">
            {{article.cover_license_text}}
          </p>
        </div>
      {% endif %}
    </div>
   </div>
   <hr>
    <div class="article-content-wrapper">
      <p>
        {% if article.memo|slice:"0:4" == "nid:" %}
          {% if article.is_content_markdown %}
            {{ article.content | markdown | safe }}
          {% else %}
            {{ article.content|safe }}
          {% endif %}
        {% else %}
        {{ article.content | markdown | safe }}
        {% endif %}
      </p>
    <!-- article content begin -->


    <!--Post images 位置-->
      <div id="carousel-postImages" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% if imagesList %}
            {% for image in imagesList %}
              <div class="head-carousel-wrapper item {% if forloop.counter == 1 %} active{% endif %}">
                <img src="/media/{{ image.images }}">
                <div class="carousel-caption">
                  <p>{{image.cover_license_text}}</p> 
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-postImages" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    
        <a class="right carousel-control" href="#carousel-postImages" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    {% comment %}
    <!-- attachment info begin -->
    <ul class="article-attachment-wrapper">
      <li>資料來源：GBIF</li>
      <li>原文連結：Tracing the migration of flowering plants from continents to islands</li>
      <li>附件下載：<a href="#" class="myicon icon-download-document">Species count for specimen records</a></li>
    </ul>
    <!-- attachment info end -->
    {% endcomment %}

    {% if article.category == "PUB" and article.memo_text|slice:"0:9" == "__files__" %}
    <ul class="article-attachment-wrapper">
      {% for i in article.get_legacy_info.files %}
      <li>附件下載：<a href="{{ i.url }}" class="myicon icon-download-document">{{ i.descr }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- related article begin -->
    <div class="article-related-wrapper">
      <h4 class="heading-md">推薦文章</h4>
      <!-- owl-carousel begin -->
      <div class="owl-carousel owl-theme" id="topic-board">
        {% for i in recommended %}
        <div class="topic-card-wrapper item">
        <div class="item article-recommended-item">
          {#<a href="#"><img src="{% static 'images/photo-1.jpg' %}"></a>#}
          <p class="topic-inner-ctn">
            <a class="topic-inner-title" href="{{ i.get_absolute_url }}">{{ i.title }}</a>
          </p>
        </div>
        </div>
        {% endfor %}
      </div>
      <!-- owl-carousel end -->
    </div>
    <!-- related article begin -->

  </div>
   <!-- container end -->
{% endblock %}
