{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load helper_tags %}

{% block title %}{% blocktrans trimmed %}標籤：{{ tag_name }}{% endblocktrans %}{% endblock %}

{% block head %}
    <!-- date range picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block script %}
  <!-- date range picker -->
  <script src="{% static 'js/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
  <script>
    $(function () {
      //Date range picker
      $('#newsFilter').daterangepicker({
        locale: {
          format: 'YYYY-MM-DD'
        },
      }, function(start, end, label) {
        const start_date = start.format('YYYY-MM-DD');
        const end_date = end.format('YYYY-MM-DD');
        window.location = `?start=${start_date}&end=${end_date}`;
      });

      // topic type select
      // 用 API 處理 !
      $('.select-category-sci').click(function(e){
        const selectedType = e.target.dataset.type;
        window.location = `${window.location.origin}/article/category/${selectedType}`;
      });
    });
  </script>
{#<script src="{% static 'js/article.js' %}"></script>#}
{% endblock %}

{% block main %}

  <div class="bg-main-pale">
    <div class="container">
      <div class="caption-mascot-wrapper">
        <h1 class="title">{% blocktrans trimmed %}標籤：{{ tag_name }}{% endblocktrans %}</h1>
        <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
      </div>
    </div>
  </div>

  <!-- container begin -->
  <div class="container container-1340 article-search-page my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'article-search' %}">{% trans "最新消息" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ tag_name }}</li>
      </ol>
    </nav>

    {% for article in article_list %}
    <article class="listbox-img-right-wrapper article-list-card">
      <a class="article-card-link" href="{{ article.get_absolute_url }}">
        <div class="row">
          <div class="{% if article.cover %}col-xs-8{% else %}col-xs-12{% endif %}">
            <span class="listbox-inner-date">{{ article.created|date:'Y/m/d' }}</span>
            <h3 class="listbox-inner-title">{{ article.title }}</h3>

            {% if article.memo|slice:"0:4" == "nid:" and "UPDATE" in article.category_list %}
            {% else %}
              <p class="listbox-inner-summary hidden-xs">{{ article.summary|striptags|truncatechars:150 }}</p>
            {% endif %}
          </div>
          {% if article.cover %}
          <div class="col-xs-4">
            <div class="article-thumb-link">
              <img src="/media/{{ article.cover }}" class="img-responsive" alt="{% firstof article.title _('文章縮圖') %}">
            </div>
          </div>
          {% endif %}
        </div>
      </a>
    </article>
    {% endfor %}

    {% include "inc_pagination.html" with object_list=article_list %}

  </div>
   <!-- container end -->
{% endblock %}
