{% extends "base.html" %}

{% load static %}
{% load helper_tags %}

{% block title %}更多資訊 :: {{ article.title }}{% endblock %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="04" active_label="" %}
  <!-- container begin -->
  <div class="container">
    <!-- story title & share btns begin -->
    <div class="article-head-wrapper">
      <span class="article-post-date">{{ article.created|date:'Y-m-d' }}</span>
      <h1 class="heading-lg-ul">
        {{ article.title }}
      </h1>
      <ul class="article-tag-ctn">
        {% for i in  article.tags.all %}
        <li class="listbox-inner-tag"><a href="{% url 'article-tag-list' tag_name=i.name %}">{{ i.name}}</a></li>
        {% endfor %}
      </ul>
      {% comment %}
      <div class="article-share-btn-wrapper">
        分享文章
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-fb"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-twitter"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-line"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-mail"></span></a>
      </div>
      {% endcomment %}
    </div>
    <!-- story title & share btns end -->
    <div class="mg-todox">
    <!-- article content begin -->
    <div class="article-content-wrapper">
      {% if article.cover %}
      <div class="article-img-wrapper" style="background">
        <img src="/media/{{ article.cover }}" class="img-responsive">
        <span>{{ article.cover_license_text }}</span>
      </div>
      {% endif %}
      <p>
        {% if article.memo|slice:"0:4" == "nid:" %}
          {% if article.is_content_markdown %}
            {{ article.content | markdown | safe }}
          {% else %}
            {{ article.content|safe }}
          {% endif %}
        {% else %}
        {{ article.content | markdown | safe }}
        {% endif %}
      </p>
    <!-- article content begin -->

    {% comment %}
    <!-- attachment info begin -->
    <ul class="article-attachment-wrapper">
      <li>資料來源：GBIF</li>
      <li>原文連結：Tracing the migration of flowering plants from continents to islands</li>
      <li>附件下載：<a href="#" class="myicon icon-download-document">Species count for specimen records</a></li>
    </ul>
    {% endcomment %}
    <!-- attachment info end -->
    </div>

    {% if article.category == "PUB" and article.memo_text|slice:"0:9" == "__files__" %}
    <ul class="article-attachment-wrapper">
      {% for i in article.get_legacy_info.files %}
      <li>附件下載：<a href="{{ i.url }}" class="myicon icon-download-document">{{ i.descr }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- related article begin -->
    <div class="article-related-wrapper">
      <h4 class="heading-md">推薦文章</h4>
      <!-- owl-carousel begin -->
      <div class="owl-carousel owl-theme" id="topic-board">
        {% for i in recommended %}
        <div class="item article-recommended-item">
          {#<a href="#"><img src="{% static 'images/photo-1.jpg' %}"></a>#}
          <a class="topic-inner-title" href="{{ i.get_absolute_url }}">{{ i.title }}</a>
        </div>
        {% endfor %}
      </div>
      <!-- owl-carousel end -->
    </div>
    <!-- related article begin -->

  </div>
   <!-- container end -->
{% endblock %}
