{% extends "base.html" %}

{% load static %}
{% load helper_tags %}
{% load i18n %}

{% block title %}{{ article_cat_label }}{% endblock %}

{% block head %}
    <!-- date range picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block script %}
  <!-- date range picker -->
  <script src="{% static 'js/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
  <script>
    $(function () {
      //Date range picker
      $('#newsFilter').daterangepicker({
        locale: {
          format: 'YYYY-MM-DD'
        },
      }, function(start, end, label) {
        const start_date = start.format('YYYY-MM-DD');
        const end_date = end.format('YYYY-MM-DD');
        window.location = `?start=${start_date}&end=${end_date}`;
      });

      // topic type select
      $('#article-search-input').keypress(function(e){
        if (e.key=="Enter"){
          var keyword = e.target.value;
          query="q=" + keyword;
          window.location.href= `/article/search/?${query}`;
        }
      });
      $('.select-category-sci').click(function(e){
        const url = window.location.search.substring(1)
        const selectedType = "category=" + e.target.dataset.type;
        const urlParams = new URLSearchParams(url);
        const entries = urlParams.entries();
        var q = []
        for(const entry of entries) {
            q.push(`${entry[0]}=${entry[1]}`);
        }
        if (q.includes(selectedType)){
          var index = q.indexOf(selectedType);
          if (index !== -1) {
            q.splice(index, 1);
          }
        }else{q.push(selectedType)}
        query = q.join('&')
        window.location = `${window.location.origin}/article/search/?${query}`;
      });
    });
  </script>
{#<script src="{% static 'js/article.js' %}"></script>#}
{% endblock %}

{% block main %}
  <!-- carousel begin -->
  {% comment %} <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- carousel indicators begin -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
    </ol>
    <!-- carousel indicators end -->

    <!-- carousel content wrapper begin -->
     <div class="carousel-inner" role="listbox">
      {% for i in cover_list %}
      <div class="index-head-carousel-wrapper item{% if forloop.counter == 1 %} active{% endif %}" style="background-image: url('{% if i.cover %}{{ i.cover.url}}{% endif %}');">
        <a href="{{ i.get_absolute_url }}" class="index-head-carousel-btn"></a>
        <div class="carousel-caption">
          <span class="head-carousel-cate">{{ i.get_category_display }}</span>
          <h3 class="head-carousel-title"><a href="{{ i.get_absolute_url }}" style = "color:white">{{ i.title }}</a></h3>
          <div class="home-banner-cover-license">{{ i.cover_license_text }}</div>
        </div>

      </div>
      {% endfor %}
    </div> 
    <!-- carousel content wrapper begin -->

    <!-- carousel controls begin -->
    <a class="left carousel-control" href="#carousel-example" role="button" data-slide="prev">
      <span class="myicon icon-arrow-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example" role="button" data-slide="next">
      <span class="myicon icon-arrow-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> 
    <!-- carousel controls end -->
  </div> {% endcomment %}
  <!-- carousel end -->

  {% include "inc_breadcrumb.html" with tab="04" %}

  <!-- container begin -->
  <div class="container">
    <h1 class="heading-lg-ul">
      文章
    </h1>
    <!-- sort by begin -->
    <div class="heading-sort-ctn">
      <form class="form-inline">
        <span class="heading-sort-name">{% trans "篩選" %}</span>
        <input type="text" placeholder="關鍵字查詢" name="q" id="article-search-input" value={{ article_search_keyword }}>
        <button class="head-carousel-search-btn" type="submit">
          <span class="myicon icon-search"></span>
        </button>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="news" {% if "NEWS" in article_cat %} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "新聞" %}
        </label>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="event"{% if "EVENT" in article_cat%} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "活動" %}
        </label>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="update"{% if "UPDATE" in article_cat%} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "更新" %}
        </label>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="sci"{% if "SCI" in article_cat %} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "科普文章" %}
        </label>  
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="tech"{% if "TECH" in article_cat %} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "技術專欄" %} 
        </label>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="pub"{% if "PUB" in article_cat%} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "出版品資料" %}
        </label>
        <label class="custom-input-ctn">
          <input type="checkbox" class="select-category-sci" data-type="pos"{% if "POS"  in article_cat%} checked="checked"{% endif %}>
          <span class="checkmark"></span>
          {% trans "TaiBIF發表文章/海報" %}
        </label> 
      </form>
    </div>
    <!-- sort by end -->
    {% for article in article_list %}
    <div class="row listbox-img-right-wrapper">
      <div class="col-xs-8">
        <span class="listbox-inner-date">{{ article.created|date:'Y/m/d' }}</span>
        <h3 class="listbox-inner-title"><a href="{{ article.get_absolute_url }}" target="_blank" rel="noreferrer noopener">{{ article.title }}</a></h3>
        <p class="listbox-inner-summary hidden-xs">
            {% if article.memo|slice:"0:4" == "nid:" %}
            {# old article content #}
            {% if article.category == "UPDATE" %}
            {% else %}
            {{ article.content|striptags|truncatechars:150 }}
            <p><a href="{% url 'article-detail-id' pk=article.id %}" target="_blank" rel="noreferrer noopener">閱讀更多</a></p>
            {% endif %}
            {% else %}
            {{ article.content | linebreaks | truncatechars:150}}
            <p><a href="{% url 'article-detail-id' pk=article.id %}" target="_blank" rel="noreferrer noopener">閱讀更多</a></p>
            {% endif %}
        </p>
      </div>
      {% if article.cover %}
      <div class="col-xs-4">
        <a href="{% url 'article-detail-id' pk=article.id %}"><img src="/media/{{ article.cover }}" class="img-responsive"></a>
      </div>
      {% endif %}
    </div>
    {% endfor %}

    {% include "inc_pagination.html" with object_list=article_list %}

  </div>
   <!-- container end -->
{% endblock %}
