{% load static %}
{% load helper_tags %}


<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    {% block meta %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Owl Stylesheets -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">

    {% comment %}
    <!-- Full Calendar Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/fullcalendar-core-main.min.css' %}">
    {% endcomment %}

    <!-- date range picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159438257-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159438257-1');
    </script>
    <title>TaiBIF :: {% block title%}{% endblock %}</title>
  </head>

  <body>
  <button onclick="topFunction()" id="top" title="Return to top" class="btn-2top myicon icon-arrow-up"></button>
  <!-- Header begin -->
  <div class="header-fluid">
    <nav class="navbar-main navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/taibif-logo-rgb-l.jpg' %}" class="hidden-xs navbar-brand-l"><img src= {% static "images/taibif-logo-rgb-s.jpg" %} class="visible-xs navbar-brand-s"></a>
        <div class="row">
          <!-- hidden xs begin -->
          <div class="hidden-xs col-xs-6 navbar-hidden-xs">
            <div class="navbar-search-wrapper">
              <input type="text" class="navbar-search-input" placeholder="全站搜尋...">
              <button class="navbar-search-btn" type="button">
                <span class="myicon icon-search"></span>
              </button>
            </div>
            <a href="https://www.facebook.com/TaiBIF.tw/" target="_blank" class="navbar-oval-btn"><span class="myicon icon-social-fb"></span></a>
            <a href="#" target="_blank" class="navbar-oval-btn"><span class="myicon icon-social-yt"></span></a>
            <a href="#" class="navbar-language-btn"><span class="myicon icon-language"></span>English</a>
          </div>
          <!-- hidden xs end -->
          <!-- visible xs begin -->
          <div class="visible-xs col-xs-6 navbar-visible-xs">
            <a href="#" class="navbar-icon-btn" id="xs-navbtn-search" data-toggle="modal" data-target=".xs-search-modal-pos">
              <span class="myicon icon-search"></span>
            </a>
            <a href="#" class="navbar-icon-btn" id="xs-navbtn-lang" data-toggle="modal" data-target=".xs-lang-modal-pos">
              <span class="myicon icon-language"></span>
            </a>
          </div>
          <!-- visible xs end -->
        </div>
      </div>

      <div class="navbar-collapse-wrapper">
        <div class="container">
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="DropdownMenu-data" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  資料開放
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownMenu-data">
                  <li><a href="{% url 'open_data' %}">Open Data 概述</a></li>
                  <li><a href="{% url 'data_stats' %}">資料發布狀況</a></li>
                  <li><a href="01-schedule.html">資料上傳</a></li>
                  <li><a href="01-journals.html">資料論文/期刊</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="DropdownMenu-tool" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  工具與文件
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownMenu-tool">
                  <li><a href="02-tools.html">工具分享</a></li>
                  <li><a href="#">檔案下載</a></li>
                  <li><a href="02-cookbookList.html">Cookbook</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="DropdownMenu-about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  關於 TaiBIF
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownMenu-about">
                  <li><a href="{% url 'about_taibif' %}">TaiBIF 簡介</a></li>
                  <li><a href="03-planList.html">TaiBIF 年度計畫成果</a></li>
                  <li><a href="{% url 'about_gbif' %}">GBIF 介紹</a></li>
                  <li><a href="03-contact.html">聯絡我們</a></li>
                  <li><a href="03-sites.html">相關連結</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="DropdownMenu-more" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  更多資訊
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownMenu-more">
                  <li class="dropdown-group-wrapper clearfix">
                    <ul class="dropdown-group-ctn">
                      <li class="dropdown-group-cate hidden-xs">最新消息</li>
                      <li><a href="04-newsList.html">新聞</a></li>
                      <li><a href="{% url 'article-list' category='event' %}">活動</a></li>
                      <li><a href="{% url 'article-list' category='update' %}">更新</a></li>
                    </ul>
                    <ul class="dropdown-group-ctn">
                      <li class="dropdown-group-cate hidden-xs">專題文章</li>
                      <li><a href="04-topicList.html">科普文章</a></li>
                      <li><a href="{% url 'article-list' category='tech' %}">技術專欄</a></li>
                      <li><a href="{% url 'article-list' category='pub' %}">出版品資料</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="visible-xs navbar-collapse-xs">
                追蹤：
                <a href="https://www.facebook.com/TaiBIF.tw/" target="_blank"><span class="myicon icon-social-fb"></span></a>
                <a href="#" target="_blank"><span class="myicon icon-social-yt"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- xs-search-modal begin -->
  <div class="modal fade xs-modal-wrapper xs-search-modal-pos" data-backdrop="false">
    <div class="xs-modal-content">
      <div class="xs-modal-header">
        <span class="xs-search-modal-close myicon icon-close" data-dismiss="modal" aria-label="Close"></span>
        <p class="text-center xs-modal-title">搜尋</p>
      </div>
      <div class="xs-modal-body">
        <div class="xs-search-modal-input-group">
          <input type="text" class="navbar-search-input" placeholder="請輸入關鍵字...">
          <button class="navbar-search-btn" type="button">
            <span class="myicon icon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- xs-search-modal end -->

  <!-- xs-lang-modal begin -->
  <div class="modal fade xs-modal-wrapper xs-lang-modal-pos" role="dialog" data-backdrop="false">
    <div class="xs-modal-content">
      <div class="xs-modal-header">
        <span class="xs-search-modal-close myicon icon-close" data-dismiss="modal" aria-label="Close"></span>
        <p class="text-center xs-modal-title">Change Lamguage</p>
      </div>
      <div class="xs-modal-body">
        <label class="custom-input-ctn">
          <input type="radio" name="radio">
          <span class="radiomark"></span>
          English
        </label>
      </div>
    </div>
  </div>
  <!-- xs-lang-modal end -->

  <!-- Header end -->

  {% block main %}{% endblock %}

  <!-- footer begin -->
  <div class="container-fluid footer-wrapper">
    <div class="container">
      <div id='calendar'></div>
      <a href="/"><img src="{% static 'images/taibif-logo-w-l.png' %}" class="ft-brand center-block"></a>
      <p class="ft-contact">
          <span class="myicon icon-pin-stroke" aria-hidden="true">11529 台北市南港區研究院路二段 128 號</span>
          <span class="ft-xs-block">跨領域科技研究大樓 C301室</span>
      </p>
      <p class="ft-copywrite">Copyright © TaiBIF 臺灣生物多樣性資訊機構</p>
    </div>
  </div>
  <!-- footer end -->

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/page.js' %}"></script>
  <!-- owl carousel -->
  <script src="{% static 'js/OwlCarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/OwlCarousel/owl.carousel2.thumbs.min.js' %}"></script>
  <!-- DataTables -->
  <script src="{% static 'js/datatable/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatable/dataTables.bootstrap.min.js' %}"></script>

  </body>
</html>






