{% extends "base.html" %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="03" active_label="聯絡我們" %}

<style>
  p {
  line-height: 1.8;
  }

  hr {
  border-top: 1px solid;
    }
</style>


  <!-- container begin -->
  <div class="container">
    <h2 class="h2">
      聯絡我們
      <span class="heading-footnote">以下皆為必填</span>
    </h2>
    <hr>
    <!-- contact form begin -->
    <div class="contact-form-wrapper clearfix">

      <form>
        <div class="form-group clearfix">
          <div class="col-sm-4 col-xs-12">
            <div class="custom-select">
              <select>
                <option>請選擇問題分類...</option>
                <option>問題分類一二三</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="myicon icon-user"></i></div>
              <input type="text" class="form-control" placeholder="姓名">
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="myicon icon-mail"></i></div>
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="col-xs-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="myicon icon-write"></i></div>
              <textarea class="form-control textarea" placeholder="留言內容" rows="3"></textarea>
            </div>
          </div>          

          <div class="col-xs-12 contact-btn-wrapper">
            <button type="submit" class="btn btn-sunset">送出</button>
          </div>

        </div>
      </form>

    </div>
    <!-- contact form end -->
  </div>
{% endblock %}
