{% extends "base.html" %}
{% load static %}

{% block title %}聯絡我們{% endblock %}

{% block main %}

{% block script %}
<script src="https://js.hcaptcha.com/1/api.js?hl=en"></script>
{% endblock %}
<!-- topnav begin -->
<div class="bg-main-pale">
  <div class="container">
    <div class="caption-mascot-wrapper">
      <h1 class="title">聯絡我們</h1>
      <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
    </div>
  </div>
</div>
<!-- topnav end -->
  <!-- container begin -->
<div class="container my-5">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
      <li class="breadcrumb-item" aria-current="page">聯絡我們</li>
    </ol>
  </nav>
  
  {% if message %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ message.head }}</strong> {{ message.content }}
  </div>
  {% endif %}
  {% if messages %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ message }}</strong>
    {% endfor %} 
  </div>
  {% endif %}
   
  <div class="row">
        
    <!-- col begin -->
    <div class="col-12 col-lg-10 offset-lg-1">
      <h4 class="headline-left-hr">聯絡我們<span class="footnote ml-1">以下皆為必填</span></h4>
      <div class="contact-us-wrapper">
        <form method="post" action="{% url 'contact_us' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-lg-4 mb-4">
              <div class="customized-select">
                <select name="cat" required>
                  <option>請選擇問題分類...</option>
                  <option value="物種資料相關諮詢">物種資料相關諮詢</option>
                  <option value="操作問題詢問">操作問題詢問</option>
                  <option value="錯誤回報">錯誤回報</option>
                  <option value="其他">其他</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-4">
              <div class="input-group input-group-addicon">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="myicon icon-user"></i>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="姓名" name="name" required>
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-4">
              <div class="input-group input-group-addicon">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="myicon icon-mail"></i>
                  </div>
                </div>
                <input type="email" class="form-control" placeholder="Email" name="email" required>
              </div>
            </div>

            <div class="col-12 mb-4">
              <div class="input-group input-group-addicon">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="myicon icon-write"></i>
                  </div>
                </div>
                <textarea class="form-control" placeholder="留言內容" rows="3" name="content" required></textarea>
              </div>
            </div>

            <div class="col-auto mx-auto">
              <div class="h-captcha" data-sitekey="2bf3ce93-dd10-46d6-be61-55a687f72557"><iframe src="https://newassets.hcaptcha.com/captcha/v1/180e565/static/hcaptcha.html#frame=checkbox&amp;id=0ellmt3wsa5u&amp;host=portal.taibif.tw&amp;sentry=true&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;hl=en&amp;tplinks=on&amp;sitekey=2bf3ce93-dd10-46d6-be61-55a687f72557&amp;theme=light&amp;origin=https%3A%2F%2Fportal.taibif.tw" tabindex="0" frameborder="0" scrolling="no" title="Widget containing checkbox for hCaptcha security challenge" data-hcaptcha-widget-id="0ellmt3wsa5u" data-hcaptcha-response="" style="width: 303px; height: 78px; overflow: hidden;"></iframe><textarea id="g-recaptcha-response-0ellmt3wsa5u" name="g-recaptcha-response" style="display: none;"></textarea><textarea id="h-captcha-response-0ellmt3wsa5u" name="h-captcha-response" style="display: none;"></textarea></div>
              <button type="submit" class="btn btn-block btn-sunset-md mt-3">送出</button>
            </div>
          </div>

        </form>
      </div>

    </div>
    <!-- col end -->

  </div>



  
  </div>
{% endblock %}