{% extends "base.html" %}
{% load static %}

{% block title %}聯絡我們{% endblock %}

{% block main %}

{% block script %}
<script src="https://js.hcaptcha.com/1/api.js?hl=en"></script>
<script>
var x, i, j, l, ll, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    ll = selElmnt.length;
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < ll; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
                y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
            }
        }
        h.click();
    });
    b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, xl, yl, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    xl = x.length;
    yl = y.length;
    for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
            arrNo.push(i)
        } else {
            y[i].classList.remove("select-arrow-active");
        }
    }
    for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
        }
    }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
{% endblock %}

<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">聯絡我們</h1>
            <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->
<!-- container begin -->
<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">首頁</a></li>
            <li class="breadcrumb-item" aria-current="page">聯絡我們</li>
        </ol>
    </nav>

    {% if message %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ message.head }}</strong> {{ message.content }}
    </div>
    {% endif %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ message }}</strong>
        {% endfor %} 
    </div>
    {% endif %}

    <div>
        <h1 class="heading-lg-ul">
            聯絡我們
            <span class="footnote">以下皆為必填</span>
        </h1>
        <!-- contact form begin -->
        <div class="contact-form-wrapper clearfix">
            <form method="post" action="{% url 'contact_us' %}">
                {% csrf_token %}
                <div class="form-group clearfix">
                    <div class="col-sm-4 col-xs-12">
                        <div class="custom-select">
                            <select name="cat" required>
                                <option>請選擇問題分類...</option>
                                <option value="物種資料相關諮詢">物種資料相關諮詢</option>
                                <option value="操作問題詢問">操作問題詢問</option>
                                <option value="錯誤回報">錯誤回報</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-user"></i></div>
                            <input type="text" class="form-control" placeholder="姓名" name="name" required>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-mail"></i></div>
                            <input type="text" class="form-control" placeholder="Email" name="email" required>
                        </div>
                    </div>

                    <div class="col-xs-12" id="contact-content">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="myicon icon-write"></i></div>
                            <textarea class="form-control textarea" placeholder="留言內容" rows="3" name="content" required></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 contact-btn-wrapper">
                        <div class="h-captcha" data-sitekey="2bf3ce93-dd10-46d6-be61-55a687f72557"></div>
                        <button type="submit" class="btn btn-block btn-sunset-md mt-3">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}