{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Cookbook 2 - 準備用於發布的資料集{% endblock %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="02" active_label="Cookbook"%}

<style>
  p, li{
  line-height: 1.8;
  }
  hr {
  border-top: 1px solid;
    }
</style>


<!-- container begin -->
<div class="container">
  {% if LANGUAGE_CODE == "zh-hant" %}
  <div class="thumbnail">
    <img src="{% static 'images/content-cookbook-ch3.jpg' %}" alt="Callosciurus erythraeus subsp. thaiwanensis (Bonhote, 1901) 赤腹松鼠, 尹若宇 攝, Photo via iNaturalist (CC BY-NC 4.0)">
    <div class="caption">
      <span class="text-muted"><em>Callosciurus erythraeus </em>subsp. <em>thaiwanensis</em> (Bonhote, 1901) 赤腹松鼠, 尹若宇 攝, Photo via iNaturalist (CC BY-NC 4.0)</span>
    </div>
  </div>

    <!-- story title & share btns begin -->
    <div class="article-head-wrapper">
      {#<span class="article-post-date">2018/12/08</span>#}
      <h2 class="h2">
        第三章 準備用於發布的資料集
        <span class="article-author">作者：王豫煌 博士/ 譯者：雲翻譯公司</span>
      </h2>
      <hr>

      {% comment %}
      <div class="article-share-btn-wrapper">
        分享文章
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-fb"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-twitter"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-social-line"></span></a>
        <a href="#" class="navbar-oval-btn"><span class="myicon icon-mail"></span></a>
      </div>
    </div>
    {% endcomment %}
    <!-- article content begin -->
    <div class="article-content-wrapper">
      <h4 class="heading-md" id="section1" style="font-weight:bold">3.1 透過GBIF發布生物多樣性資料集</h4>
      <p>資料集包括了詮釋資料和原始資料。最簡單的資料集可以只包含詮釋資料。目前GBIF支持發布的資料集有以下四種：1） 僅詮釋資料 metadata-only，2） 物種名錄 cheklist，3） 出現紀錄 occurrence，以及4） 調查活動資料集 sampling event，依照資料內容的豐富性及資料結構的複雜性而定。 為了維持一個資料集的完整性，我們建議資料提供者盡可能發布現有最完整的資料集。</p>
      <p>在網站上發布資料集就像是生產資料產品；而詮釋資料就像產品專屬的使用手冊，用來告訴使用者產品的內容、產品的使用方法以及客服相關資訊等。換句話說，詮釋資料可以告訴你資料的來源、如何使用該資料，以及如果對資料有任何疑問時可以聯繫誰等。一個產品就是一種資源，因此，資料集也是網路的資源。在GBIF的概念中，資料集是一種資源，要透過GBIF發布資料集（或資源），必須使用符合達爾文核心延伸集中一連串的專有名詞作為資料欄位標準名稱，包含物種名錄、出現紀錄、調查活動資料集的資訊都要按照此標準呈現。</p>
      <p>準備資料集最簡單的方法是使用預定格式的Excel模板來填寫詮釋資料和原始資料。這將協助你輕鬆地將資料整理後輸入到GBIF接受的標準化資料結構中。GBIF提供簡單的Excel模板，其中包括達爾文核心集所採用的標準化資料欄位名稱。</p>
      <p>但是，當你的資料表中有大量的資料時（例如超過一萬筆以上的紀錄），你會發現使用Excel處理這些紀錄很困難。在這種情況下，我們建議可以使用R，R是一種提供統計和資料處理的開源軟體。如果你是R的新手，我們鼓勵你學習使用R，因為它是目前最受歡迎的資料分析工具之一。在本章節中，我們將向你說明如何使用Excel模板和R script來準備調查活動資料集。</p>

      <h4 class="heading-md" id="section2" style="font-weight:bold">3.2 什麼是調查活動資料？</h4>
      <p>有時資料集可提供的資訊遠超乎你想像，不僅僅可提供發現物種的地點、日期，也有機會去觸及更廣泛的物種分類群的群落組成或者不同時間、地點的物種豐度。這些資料集通常來自測量和監測生物多樣性的標準作業程序，如植物群落穿越線採樣調查、鳥類調查計畫以及淡水和海水採樣。藉由指出記錄樣本時所使用的方法、事件和物種相對豐度，這些資料集可以強化在同樣標準作業程序下，但在不同時間不同地點所收集的資料之間的比較，有時候甚至可以讓研究員發現某些特定地點物種缺失的狀況。
        （原文參照：<a href="http://www.gbif.org/publishing-data/summary">http://www.gbif.org/publishing-data/summary）</a></p>
      <h4 class="heading-md">3.2.1 調查活動（Event）+ 位置（Location）之核心（Core）詞彙</h4><span sryle="font-size:12px">（**為必填欄位)</span>
      <br>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>調查活動識別碼（eventID**）</td>
          <td>最低海拔（公尺）（minimumElevationInMeters）</td>
        </tr>
        <tr>
          <td>父階調查活動識別碼（parentEventID）</td>
          <td>最高海拔（公尺） （maximumElevationInMeters）</td>
        </tr>
        <tr>
          <td>調查活動日期（eventDate**）</td>
          <td>最小深度（公尺） （minimumDepthInMeters）</td>
        </tr>
        <tr>
          <td>棲息地（Habitat）</td>
          <td>最大深度（公尺） （maximumDepthInMeters）</td>
        </tr>
        <tr>
          <td>調查採樣流程（samplingProtocol**）</td>
          <td>與海平面最小距離（公尺） （minimumDistanceAboveSurfaceIn Meters）</td>
        </tr>
        <tr>
          <td>樣本大小值（sampleSizeValue**）</td>
          <td>與海平面最大距離（公尺） （maximumDistanceAboveSurfaceIn Meters）</td>
        </tr>
        <tr>
          <td>樣本大小單位（sampleSizeUnit**）</td>
          <td>洲（Continent）</td>
        </tr>
        <tr>
          <td>調查採樣努力量（samplingEffort）</td>
          <td>國家（Country）</td>
        </tr>

        <tr>
          <td>地點識別碼（locationID）</td>
          <td>國碼（countryCode）</td>
        </tr>
            <tr>
          <td>十進位緯度（decimalLatitude）</td>
          <td>州/省（stateProvince）</td>
        </tr>
            <tr>
          <td>十進位經度（decimalLongitude）</td>
          <td>縣（Country）</td>
        </tr>
            <tr>
          <td>大地基準（geodeticDatum）</td>
          <td>市（Municipality）</td>
        </tr>
            <tr>
          <td>座標誤差（公尺）（coordinateUncertaintyInMeters*) </td>
          <td>地點（locality）</td>
        </tr>
        <tr>
          <td>座標精確度（coordinatePrecision*）</td>
          <td>&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <p>參照：<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Event">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Event</a></p>


      <h4 class="heading-md">3.2.2 測量或事實（MeasurementOrFact）之核心詞彙</h4>
      <ul>
        <li>調查活動識別碼（eventID**) </li>
        <li>測量識別碼（measurementID </li>
        <li>測量類型（measurementType）</li>
        <li>測量值（measurementValue）</li>
        <li>測量準確度（measurementAccuracy）</li>
        <li>測量單位（measurementUnit）</li>
        <li>測量確認者（measurementDeterminedBy） </li>
        <li>測量確認日期（measurementDeterminedDate）</li>
        <li>測量方法（measurementMethod）</li>
        <li>測量備註（measurementRemarks）</li>
      </ul>
      <p>參照：<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:MeasurementOrFact">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:MeasurementOrFact</a></p>

      <h4 class="heading-md">3.2.3 選擇出現紀錄（Occurrence）+ 分類（Taxon）之核心詞彙</h4>
      <br>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>調查活動識別碼（eventID**）</td>
          <td>個體數（individualCount）</td>
        </tr>
        <tr>
          <td>出現紀錄識別碼（occurrenceID**）</td>
          <td>生物體數量（organismQuantity）</td>
        </tr>
        <tr>
          <td>學名識別碼（scientificNameID）</td>
          <td>生物體數量類別（organismQuantityType）</td>
        </tr>
        <tr>
          <td>學名（scientificName）</td>
          <td>性別（sex）</td>
        </tr>
        <tr>
          <td>分類識別碼（taxonID）</td>
          <td>生活史階段（lifestage）</td>
        </tr>
        <tr>
          <td>俗名（vernacularName）</td>
          <td>繁殖狀況（reproductiveCondition）</td>
        </tr>
        <tr>
          <td>分類階層（taxonRank）</td>
          <td>行為（behavior）</td>
        </tr>
        <tr>
          <td>界（kingdom）</td>
          <td>出現紀錄狀態（occurrenceStatus）</td>
        </tr>

        <tr>
          <td>門（phylum）</td>
          <td>有效學名使用名稱識別碼（acceptedNameUsageID）</td>
        </tr>
            <tr>
          <td>綱（class）</td>
          <td>有效學名使用名稱（acceptedNameUsage）</td>
        </tr>
            <tr>
          <td>目（order）</td>
          <td>種小名（specificEpithet）</td>
        </tr>
            <tr>
          <td>科（family）</td>
          <td>亞種小名（infraspecificEpithet）</td>
        </tr>
            <tr>
          <td>屬（genus） </td>
          <td>學名命名者（scientificNameAuthorship）</td>
        </tr>
        <tr>
          <td>記錄者（recordedBy）</td>
          <td>&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <p>參照：<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence</a></p>

      <h4 class="heading-md" id="section3" style="font-weight:bold">3.3 達爾文核心集—資料的星型結構</h4>
      <img src="{% static 'images/cookbook-3-flow.png' %}" >

      <h4 class="heading-md">3.3.1 資料的星型結構 (Star schema)</h4>
      <p>GBIF 的發布資料結構如上圖所示（以調查活動為例），在發布資料前，先確認你的研究資料類型是屬於名錄、出現紀錄還是調查活動，並以該類型資料結構為基礎（Core核心集）去設定資料表的欄位名稱（參照 Darwin Core），而其他未被包含於核心集的資料，則可以選擇其他類型的欄位名稱，整理成延伸集（可視為核心集的補充說明）。所有的延伸集都必須能有一個欄位（強烈建議為唯一識別碼ID）與核心集相同，才能相互對應，追溯到同一批次的資料。可以把這些想像成一個excel表，主頁資料就是核心集，其他分頁都是延伸集，內容皆與主頁有關。</p>

      <h4 class="heading-md">3.3.2 如何發布資料呢？</h4>
      <ol>
        <li>先準備好原始資料</li>
        <li>檢查並清理資料（修正學名或其他的錯誤)</li>
        <li>採用達爾文核心調查活動、出現紀錄等詞彙集，作為資料表的欄位名稱</li>
        <li>將資料結構轉成獨立的表格，並將資料套入達爾文核心星型結構中，區分核心集（Core）和延伸集（Extension），接著將此表格儲存為以UTF-8編碼的CSV文本檔案</li>
        <li>準備詮釋資料</li>
        <li>在由節點管理的IPT工具（如TaiBIF IPT）上申請帳號資料，節點將確認你的組織成為資料發布組織（須先於GBIF註冊申請成為資料發布者）</li>
        <li>登入IPT，建立新的資料來源，上傳你的資料表並與Darwin Core進行欄位對應</li>
        <li>提供詮釋資料</li>
        <li>發布資料</li>
      </ol>

      <p><img src="{% static 'images/cookbook-3-1.png' %}" ></p>
      <br>
      <p><img src="{% static 'images/cookbook-3-2.png' %}" ></p>
      <p>如何發布調查活動資料？<br><a href="http://github.com/gbif/ipt/wiki/samplingEventData#exemplar-datasets">http://github.com/gbif/ipt/wiki/samplingEventData#exemplar-datasets</a></p>

      <p>大致流程：<br>確認資料的種類 >> 轉換資料 >> 上傳資料至IPT >> 將資料對應至調查活動及出現紀錄 >> 填入詮釋資料 >> 發布資料集 >> 完成資料集註冊</p>

      <h4 class="heading-md" id="section4" style="font-weight:bold">3.4使用Excel模板準備調查活動資料</h4>
      <p>範例：準備資料所使用的資料集與工具
      <ul>
        <li>範例表格 1_AlienPlantSurvey.xlsx （範例:外來種植物調查）</li>
        <li>試算表軟體 MS Excel / LibreOffice Calc</li>
        <li>純文字編輯器 Notepad++ / PSPad / … </li>
        <li>臺灣生物多樣性資訊機構學名比對工具 <a href="http://match.taibif.tw">(http://match.taibif.tw)</a></li>
      </ul>
      </p>

  <p>範例：資料檔案
  <ul>
  <li>1_AlienPlantSurvey.xlsx （範例：外來種植物調查）</li>
  <li>7個表格：
    <ol>
      <li>部分調查樣區（partialSurveyPlot）</li>
      <li>部分植物出現紀錄（partialplantOccurrence）</li>
      <li>部分已對應資料（partialMatchingData）</li>
      <li>部分已清理資料（partialCleanedData）</li>
      <li>部分調查活動（partialEvent）</li>
      <li>部分測量值（partialMeasurement）</li>
      <li>部分出現紀錄（partialOccurrence）</li>
    </ol>
  </li>
</ul>


  </p>
  <br>
  <p><img src="{% static 'images/cookbook-3-3.png' %}" ></p>
      <br>
  <p>資料清理和轉換之工作流程：
    <ol>
  <li>檢查並研讀原始資料結構</li>
  <li>使用學名比對工具檢查輸入的學名拼法是否正確，並將配對結果儲存為CSV文字檔</li>
  <li>使用NotePad ++打開上述文件，複製所有內容並貼到試算表</li>
  <li>根據配對結果整理名稱，獲取分類階層的資訊以及更高分類階層名稱</li>
  <li>分別創建調查活動、測量或事實以及出現紀錄的表格</li>
  <li>將原始欄位名稱對應到達爾文核心詞彙</li>
  <li>分別複製調查活動、測量、出現紀錄表格的資料到Notepad++，以UTF-8編碼，接著再存成CSV文字檔</li>
</ol>

  </p>
  <br>
  <p><img src="{% static 'images/cookbook-3-4.png' %}" ></p>
  <br>
  <p><img src="{% static 'images/cookbook-3-5.png' %}" ></p>
  <br>
  <p><img src="{% static 'images/cookbook-3-6.png' %}" ></p>
  <br>
  <p><img src="{% static 'images/cookbook-3-7.png' %}" ></p>

    </div>

    {% endif %}
    {% if LANGUAGE_CODE == "en" %}
    <div class="thumbnail">
      <img src="{% static 'images/content-cookbook-ch3.jpg' %}" alt="Callosciurus erythraeus subsp. thaiwanensis (Bonhote, 1901) 赤腹松鼠, 尹若宇 攝, Photo via iNaturalist (CC BY-NC 4.0)">
      <div class="caption">
        <span class="text-muted"><em>Callosciurus erythraeus </em>subsp. <em>thaiwanensis</em> (Bonhote, 1901) 赤腹松鼠, 尹若宇 攝, Photo via iNaturalist (CC BY-NC 4.0)</span>
      </div>
    </div>
  
      <!-- story title & share btns begin -->
      <div class="article-head-wrapper">
        {#<span class="article-post-date">2018/12/08</span>#}
        <h2 class="h2">
          Chapter 3: Prepare datasets for publishing
          <span class="article-author">Author: Yu-Huang Wang ; Modified: Melissa Liu</span>
        </h2>
        <hr>
        
        
        
        
        
        
        
        
      <!-- article content begin -->
      <div class="article-content-wrapper">
        <h4 class="heading-md" id="section1" style="font-weight:bold">3.1 Overview of publishing biodiversity dataset through GBIF</h4>
        <p>A dataset includes metadata and raw data. The simplest dataset can just only include metadata. Currently, there are four types of datasets GBIF supported to publish: 1) metadata-only, 2) checklist, 3) occurrence, and 4) sampling-event datasets, with increasing richness in data content and complexity in data structure. To preserve the completeness of a dataset we suggest data providers publish the richest datasets as possible as they can.</p>
        <p>To publish a dataset on the web is just like to produce a data product. Metadata is just like the specification and manual of a product. It tells the users about the content, usage of the product, information for customer services, etc. In other words, metadata may tell you how the data came from, how to use the data, whom you can contact with if you have any question about the data, etc. A product is a kind of resource, therefore, a dataset is also a resource on the web. In context of GBIF, dataset is one kind of resource. For publishing a dataset (or resource) via GBIF, you have to prepare resource metadata with checklist, occurrence, or sampling-event data using a collection of terms in the DarwinCore Extensions as the standardized column names in the data tables of your checklist, occurrence, or sampling-event data.</p>
        <p>The simple way to prepare your dataset is to use an Excel template with predefined format to fill in the metadata and raw data. This will help you easily organize your data into the standardized data structure accepted by GBIF. GBIF provides simple Excel templates, which include DarwinCore terms as the standardized column names.</p>
        <p>However, when you have a huge data table, for example, more ten thousand records, you will find it is not easy to handle too many records using Excel. In that situation, we will suggest you use R, an open source statistical and data-processing software. If you are new to R, we encourage you learn R because it is one of the most popular tools for data analysis. In this chapter, we will show you how to use Excel template and R-scripts to prepare a sampling-event dataset.</p>
  
        <h4 class="heading-md" id="section2" style="font-weight:bold">3.2 What is sampling-event data?</h4>
        <p>Sometimes datasets can provide far more information than you might imagine, not just where and when a species was discovered, but also the opportunity to discover the community composition of a broader taxonomic group or species abundance at different times and places. These datasets typically come from standard operating procedures for measuring and monitoring biodiversity, such as transect surveys of plant communities, bird survey programs, freshwater and marine sampling. By indicating the methods, events, and relative abundances of species used to record the samples, these datasets can enhance comparisons between data collected at different times and locations under the same standard operating procedures, and sometimes even allow researchers to discover the absence of species in certain locations. 
          Original reference:<a href="http://www.gbif.org/publishing-data/summary">http://www.gbif.org/publishing-data/summary）</a></p>
        <h4 class="heading-md">3.2.1 Selected core terms for Sampling Event + Location</h4><span sryle="font-size:12px">(**Required)</span>
        <br>
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td>eventID**</td>
            <td>minimumElevationInMeters</td>
          </tr>
          <tr>
            <td>parentEventID</td>
            <td>maximumElevationInMeters</td>
          </tr>
          <tr>
            <td>eventDate**</td>
            <td>minimumDepthInMeters</td>
          </tr>
          <tr>
            <td>Habitat</td>
            <td>maximumDepthInMeters</td>
          </tr>
          <tr>
            <td>samplingProtocol**</td>
            <td>minimumDistanceAboveSurfaceIn Meters</td>
          </tr>
          <tr>
            <td>sampleSizeValue**</td>
            <td>maximumDistanceAboveSurfaceIn Meters</td>
          </tr>
          <tr>
            <td>sampleSizeUnit**</td>
            <td>Continent</td>
          </tr>
          <tr>
            <td>samplingEffort</td>
            <td>Country</td>
          </tr>
  
          <tr>
            <td>locationID</td>
            <td>countryCode</td>
          </tr>
              <tr>
            <td>decimalLatitude</td>
            <td>stateProvince</td>
          </tr>
              <tr>
            <td>decimalLongitude</td>
            <td>Country</td>
          </tr>
              <tr>
            <td>geodeticDatum</td>
            <td>Municipality</td>
          </tr>
              <tr>
            <td>coordinateUncertaintyInMeters**</td>
            <td>地點（locality）</td>
          </tr>
          <tr>
            <td>coordinatePrecision**</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <p>Reference:<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Event">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Event</a></p>
  
  
        <h4 class="heading-md">3.2.2 MeasurementOrFact Core Terms</h4>
        <ul>
          <li>eventID**</li>
          <li>measurementID</li>
          <li>measurementType</li>
          <li>measurementValue</li>
          <li>measurementAccuracy</li>
          <li>measurementUnit</li>
          <li>measurementDeterminedBy </li>
          <li>measurementDeterminedDate</li>
          <li>measurementMethod</li>
          <li>measurementRemarks</li>
        </ul>
        <p>Reference:<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:MeasurementOrFact">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:MeasurementOrFact</a></p>
  
        <h4 class="heading-md">3.2.3 Selected core terms for Occurrence + Taxon</h4>
        <br>
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td>eventID**</td>
            <td>individualCount</td>
          </tr>
          <tr>
            <td>occurrenceID**</td>
            <td>organismQuantity</td>
          </tr>
          <tr>
            <td>scientificNameID</td>
            <td>organismQuantityType</td>
          </tr>
          <tr>
            <td>scientificName</td>
            <td>sex</td>
          </tr>
          <tr>
            <td>taxonID</td>
            <td>lifestage</td>
          </tr>
          <tr>
            <td>vernacularName</td>
            <td>reproductiveCondition</td>
          </tr>
          <tr>
            <td>taxonRank</td>
            <td>behavior</td>
          </tr>
          <tr>
            <td>kingdom</td>
            <td>occurrenceStatus</td>
          </tr>
  
          <tr>
            <td>phylum</td>
            <td>acceptedNameUsageID</td>
          </tr>
              <tr>
            <td>class</td>
            <td>acceptedNameUsage</td>
          </tr>
              <tr>
            <td>order</td>
            <td>specificEpithet</td>
          </tr>
              <tr>
            <td>family</td>
            <td>infraspecificEpithet</td>
          </tr>
              <tr>
            <td>genus </td>
            <td>scientificNameAuthorship</td>
          </tr>
          <tr>
            <td>recordedBy</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <p>Reference:<a href="http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence">http://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence</a></p>
  
        <h4 class="heading-md" id="section3" style="font-weight:bold">3.3 Darwin Core - Sampling-event Star Schema</h4>
        <img src="{% static 'images/cookbook-3-flow.png' %}" >
  
        <h4 class="heading-md">3.3.1 Star schema</h4>
        <p>Structure your core data containing column names by refering to Darwin Core terms, and the non-core data can be included as an extension set (it can be regarded as a supplementary description of the core set). All extension sets must have a field (strongly recommended as a unique identifier ID) that is the same as the core set to allow tracing back to the core data. You can think of these as an excel sheet, the homepage data is the core set, and the other pages are extension sets, and the content is related to the homepage.</p>
        

        
        
        <h4 class="heading-md">3.3.2 How to publish data?</h4>
        <ol>
          <li>Prepare raw data</li>
          <li>Check and Clean the data (correct scientific names or other errors)</li>
          <li>Adopt terms of Darwin Core Event vocabulary and MeasureOrFacts. Occurrence, … extensions as the column names of your data table</li>
          <li>Transform data structure innto separate tables fitted into DarwinCore star-schema and save the tables as UTF-8 encoded CSV text files.</li>
          <li>Prepare metadata</li>
          <li>Register an account on the IPT hosted by the node (such as TaiBIF), which endorse your orgainzation as a data publishing orgainzation</li>
          <li>Log into the IPT, create a new resource, upload your data tables and do DarwinCore mappings</li>
          <li>Provide metadata</li>
          <li>Publish the data</li>
        </ol>
  
        <p><img src="{% static 'images/cookbook-3-1.png' %}" ></p>
        <br>
        <p><img src="{% static 'images/cookbook-3-2.png' %}" ></p>
        <p>How to publish sampling-event data?<br><a href="http://github.com/gbif/ipt/wiki/samplingEventData#exemplar-datasets">http://github.com/gbif/ipt/wiki/samplingEventData#exemplar-datasets</a></p>
        <p><img src="{% static 'images/cookbook-3-3-2.png' %}" ></p>
  
        <h4 class="heading-md" id="section4" style="font-weight:bold">3.4 Prepare sampling-event data using Excel template</h4>
        <p>Example dataset annd tools for preparing data
        <ul>
          <li>Data file: 1_AlienPlantSurey.xlsx</li>
          <li>MS Excel / LibreOffice Calc</li>
          <li>Text editor: Notepad++ / PSPad / …</li>
          <li>TaiBIF Scientific names matching service (Nomenmatch): <a href="http://match.taibif.tw">http://match.taibif.tw</a></li>
        </ul>
        </p>
        
    <p>Example data file
    <ul>
    <li>1_AlienPlantSurvey.xlsx</li>
    <li>7 tables
      <ol>
        <li>1_partialSurveyPlot</li>
        <li>2_partialPlantOccurrence</li>
        <li>3_partialMatchingData</li>
        <li>4_partialCleanedData</li>
        <li>5_partialEvent</li>
        <li>6_partialMeasurement</li>
        <li>7_partialOccurrence</li>
      </ol>
    </li>
  </ul>
  
  
    </p>
    <br>
    <p>Nomenmatch
    <p><img src="{% static 'images/cookbook-3-3.png' %}" ></p>
        <br>
    <p>Data cleaning and transformation workflow
      <ol>
    <li>Check and study the original data structure</li>
    <li>Check the spelling of the input scientific name using matching service and get the matching results CSV text file</li>
    <li>Using the Notepad++ to open the matching results file and copy all text and paste into an spreadsheet table</li>
    <li>Cleaning names based on the matching results and get data of taxonRank and names for higher taxonomic ranks</li>
    <li>Create Event, MeasurementOrFacts, and Occurrence tables</li>
    <li>Mapping original column names to Darwin Core terms</li>
    <li>Copy data of Event, Measurement, Occurrence tables respectively into Notepad++, encoded in UTF-8, then save as CSV text files.</li>
  </ol>
  
    </p>
    <br>
    <p><img src="{% static 'images/cookbook-3-4.png' %}" ></p>
    <br>
    <p><img src="{% static 'images/cookbook-3-5.png' %}" ></p>
    <br>
    <p><img src="{% static 'images/cookbook-3-6.png' %}" ></p>
    <br>
    <p><img src="{% static 'images/cookbook-3-7.png' %}" ></p>
    <p>Congratulations!
      You are ready to publish the dataset using IPT.</p>
      </div>
  
      {% endif %}

</div>

{% endblock %}
