{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{% trans "資料視覺化" %}{% endblock %}


{% block main %}


<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "資料視覺化" %}</h1>
            <img src="{% static 'images/mascot-flower.png' %}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "資料應用" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "資料視覺化" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- 資訊視覺化 row begin -->
    <div class="row justify-content-center wrap">
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Plants" class="d-block">
                <span class="myicon icon-species-icon-plantae"></span>
                <p class="title">植物</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Plants' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Fungi" class="d-block">
                <span class="myicon icon-species-icon-fungi"></span>
                <p class="title">真菌</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Fungi' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Bacteria" class="d-block">
                <span class="myicon icon-species-icon-bacteria"></span>
                <p class="title">細菌</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Bacteria' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Insects" class="d-block">
                <span class="myicon icon-species-icon-Insecta"></span>
                <p class="title">昆蟲</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Insects' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Fishes" class="d-block">
                <span class="myicon icon-species-icon-fish"></span>
                <p class="title">魚</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Fishes' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Reptiles" class="d-block">
                <span class="myicon icon-species-icon-gecko"></span>
                <p class="title">爬蟲類</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Reptiles' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Amphibia" class="d-block">
                <span class="myicon icon-species-icon-frog"></span>
                <p class="title">兩棲類</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Amphibia' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
            </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Birds" class="d-block">
                <span class="myicon icon-species-icon-bird"></span>
                <p class="title">鳥類</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Birds' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Mammals" class="d-block">
                <span class="myicon icon-species-icon-muntiacus-reevesi"></span>
                <p class="title">哺乳類</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Mammals' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
        <!-- col begin -->
        <div class="col col-icon-stat">
            <a href="{%  url 'search-occurrence' cat='search' %}?taibif_taxonGroup=Others" class="d-block">
                <span class="myicon icon-species-icon-more"></span>
                <p class="title">其他</p>
                <p class="amount">
                    {% for k,v in taxonGroup_dict.items %}
                        {% if k == 'Others' %} {{ v|intcomma:False  }} {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
        <!-- col end -->
    </div>
    <!-- 資訊視覺化 row end -->

    <div class="my-5">
        <h1 class="headline-center-sm">更多視覺化敬請期待</h1>
    </div>
</div>
<!-- container end -->   
{% endblock %}