{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}資料使用條款暨隱私權政策{% endblock %}
{% get_current_language as LANGUAGE_CODE %}

{% block main %}

 <!-- topnav begin -->
 <div class="bg-main-pale">
  <div class="container">
    <div class="caption-mascot-wrapper">
      <h1 class="title">{% trans "資料使用條款暨隱私權政策" %}</h1>
      <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
    </div>
  </div>
</div>
<!-- topnav end -->

<!-- container begin -->


<div class="container my-5">

  <!-- breadcrumb begin -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">{% trans "首頁" %}</a></li>
      <li class="breadcrumb-item">{% trans "關於我們" %}</li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "資料使用條款暨隱私權政策" %}</li>
    </ol>
  </nav>
  <!-- breadcrumb end -->

  <h1 class="heading-lg-ul">
    {% blocktrans %}
    臺灣生物多樣性資訊機構
    <br>
    (Taiwan Biodiversity Information Facility, TaiBIF)網站
    <br>及資料使用條款暨隱私權政策
    {% endblocktrans %}
  </h1>


  <div class="article-content-wrapper">
    <h3>{% trans "網站及資料使用條款" %}</h3>
    <h4>{% trans "臺灣生物多樣性資訊機構 (Taiwan Biodiversity Information Facility, TaiBIF) 網站及資料使用條款" %}</h4>
    <h4>{% trans "更新日期：" %}2021/10/05</h4>
    <h5>{% trans "適用範圍" %}</h5>
      <p>  
        <li>
          {% blocktrans %}
          本網站由中央研究院生物多樣性研究中心負責維運。本站其上資料與素材，依貢獻者提交時指定之授權或聲明方式發布，未標示貢獻者資訊之資料與素材，則歸維運單位所有。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          本頁面的著作權政策，適用於您於 TaiBIF 網站活動時，所涉及之著作授權與被授權關係。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          使用者繼續使用 TaiBIF 網站服務之作為，視為當事人明示同意下述之使用條款，包括使用行為之拘束與技術規範之遵守，以及本使用條款之更新適用。
          {% endblocktrans %}
        </li>
      </p>
    <h5>{% trans "資料的授權與分享方式" %}</h5>
    <p>
      <li>
        {% blocktrans %}
        TaiBIF 網站刊載之所有資料，依貢獻者提交時之指定，採下列三者擇一之公眾授權或聲明方式提供使用，包括：
        {% endblocktrans %}
      <ul>
        {% blocktrans %}
        1. CC0(公眾領域貢獻宣告)：透過採用公眾領域貢獻宣告，貢獻者將於符合法律規定的最大範圍內，宣告拋棄其對著作擁有之權利，以使公眾能不受限制地自由使用該著作，這是使用幅度最寬鬆的素材提供方式。
        {% endblocktrans %}
      </ul>
      <ul>
        {% blocktrans %}
        2. CC BY(CC授權 姓名標示)：本授權條款允許使用者重製、散布、傳輸以及修改著作(包括商業性利用)，惟使用時必須按照貢獻者所指定的方式，表彰其姓名。說明：使用者可以把照片用在任何地方，包括營利用途的使用，但不論任何方式的使用，都必須同步標示貢獻者的姓名、筆名，或其他指定的顯名資訊；使用者也可以使用貢獻者提供的資料及素材產出新的作品。
        {% endblocktrans %}
      </ul>
      <ul>
        {% blocktrans %}
        3. CC BY-NC(CC授權 姓名標示-非商業性)：本授權條款允許使用者重製、散布、傳輸以及修改著作，但不得為商業目的之使用。使用時必須按照貢獻者指定的方式表彰其姓名。
        {% endblocktrans %}
      </ul>
      </li>
      <li>
        {% blocktrans %}
        除個別純粹事實性紀錄資訊，依法不受著作權利保護，或另有聲明者外，本網站其餘資料與素材，皆採前列三者擇一之授權或聲明方式提供予公眾使用。依CC0、CC BY、或CC BY-NC，使用者得於商業目的或非商業目的上，不限時間、地域，對所提供之資料進行重製、改作、編輯、公開傳輸，或為其他依法需取得著作授權方可行之之利用。此一授權或宣告行為不會嗣後撤回，使用者亦毋須取得書面或其他方式授權，相關資料與素材亦得依所擇定之授權或聲明方式，經重製、散布，轉至其他託管平台進行公開演播模式之使用，包括但不限於轉引或轉載至全球生物多樣性資訊機構(GBIF)之主資料庫或其他節點提供利用。依CC BY、CC BY-NC授權方式提供者，後續使用時必須註明貢獻者姓名及原始出處，採CC0聲明方式提供者，該公眾領域貢獻宣告並不要求任何顯名義務，然基於學術倫理及科研考據之立場，仍建議使用者於可行狀況，盡量採下列中英文擇一之格式，註解相關資料及素材之貢獻者姓名及原始出處：
        {% endblocktrans %}
        <ul>
          {% blocktrans %}
          1. 資料集或資料庫名稱-貢獻者顯名資訊@TaiBIF 臺灣生物多樣性資訊機構-CC BY / CC BY-NC / CC0
          {% endblocktrans %}
        </ul>
        <ul>
          {% blocktrans %}
          2. Title of the Dataset or Database-Contributor’s Attribution@TaiBIF-CC BY / CC BY-NC / CC0
          {% endblocktrans %}
        </ul>
      </li>
      <li>
        {% blocktrans %}
        本網站所採用之CC授權條款及CC0公眾領域貢獻宣告未指定版本，意即採前列之公眾授權或聲明方式提供使用時，使用者得自行選擇任何 Creative Commons 組織發布之授權條款及貢獻宣告版本進行適用，以CC BY為例，使用者得任擇CC BY 3.0 TW或CC BY 4.0授權條款進行利用，若未來CC授權條款或貢獻宣告版本再有更新，使用者亦得採行具同樣授權元素，更新的授權方式進行利用。
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
        本網站對於CC非商業性元素之限制範圍，尊重資料或素材貢獻者及使用者之獨立判斷與自主解釋，並無任何擴大、限縮，或引導之解釋意向。然提醒非商業性元素於不同立場間，或存有寬嚴不一的認定標準與灰色地帶，倘發生司法爭議，本網站當主張法律上網路服務提供者之免責地位，不參與任何一方發動之實體訴訟程序。
        {% endblocktrans %}
      </li>
    </p>
      <h5>{% trans "相關事項說明" %}</h5>
      <p>
        <li>
          {% blocktrans %}
          除依照本網站主動提供或應申請提供之資料介接 API 及其使用規範者外，本網站相關服務僅提供自然人使用，禁止其他各種型態或頻率之機械自動化操作。當流量監控管理程式，發現網站系統資源有不正常耗用，並可合理推估其為機械自動化資料或素材捉取行為所致時，本網站將可能中斷或終止對該帳號之後續使用服務。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          本網站對提交之貢獻資料與素材，不負永久露出的維護責任；除此之外，當涉及生物多樣性敏感資料及相近狀況，該資料與素材內含的物種資訊可能造成物種受害，或其他相關環境損害時，本網站得要求貢獻者對資料進行適當遮蔽之後再次上傳，或由本平台協助進行遮蔽濾除之後另行更換。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          本網站於部分頁面提供資料及素材下載功能。關於下載資料與素材之保存，本網站會力求完整維護，惟資料與素材可能因其他因素，如天災、系統錯誤等，而滅失，本網站與維運單位不對前述滅失負任何責任。為避免前述滅失，貢獻者及使用者應自行保留資料與素材之複本。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          本網站不會對使用者上傳的貢獻資料與素材進行個案監督，然若該等資料或素材事後為第三方提報檢舉為不合法或不適當，本網站得於合理通知原貢獻者之後，移除相關爭議資料或素材，然當爭議資料與素材涉及侵害他人權利、違反法令、或有公然污辱、謾罵等人身攻擊等不適當資訊嵌入的狀況，本網站得不待通知原貢獻者，立即移除相關資料與素材。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          TaiBIF 網站授權範圍僅及於著作權及其相關權利保護之範圍，不及於其他智慧財產權利，包括但不限於專利、商標、及機關標誌或商號圖示之提供。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          使用 TaiBIF 網站提供之各項資料與素材，不論其受著作權利保護與否，使用者不得惡意變更其相關資訊，若編輯、改作後所展示之資訊與原不符而造成損害，使用者須自負民事、刑事上之法律責任。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          本網站並不擔保所提供資料與素材之正確性及合用性，使用者利用本網站無償提供之各項資料與素材，受有損害或損失，或致第三人受有損害或損失，除法令另有規定外，本網站及其維運單位，依CC授權條款及CC0公眾領域宣告之免責聲明，主張法律容許限度下最高的免責範圍，不負任何賠償或補償之責。
          {% endblocktrans %}
        </li>
        </p>
    <div class="article-content-wrapper">
    <h4>{% trans "臺灣生物多樣性資訊機構 (Taiwan Biodiversity Information Facility, TaiBIF) 隱私權政策" %}</h4>
    <h4>{% trans "更新日期：" %}2021/10/05</h4>
    <h5>{% trans "適用範圍" %}</h5>
      <p>
        <li>
          {% blocktrans %}
          本處所述隱私權政策，適用於貢獻者及使用者在 TaiBIF 網站活動時，所涉及有關個人資料的蒐集、處理及利用，包括但不限於會員註冊服務、洽詢維運團隊進行意見互動、資料與素材貢獻，以及網路資訊瀏覽等使用行為。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          使用者持續使用 TaiBIF 網站服務，即視為當事人明示同意下述之資料蒐集、處理，及利用方式。
          {% endblocktrans %}
        </li>
      </p>
    
    
      </div>
    <h5>{% trans "TaiBIF 蒐集使用者資料" %}</h5>
    <p>
      <li>
        {% blocktrans %}
        使用者登錄本網站服務之相關帳號時，自主填註的各項個人識別資料，包括姓名、電郵、以及服務單位，僅作為認證、授權標示，與相關通知、聯繫之用。
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
        若使用者未自設資訊屏蔽機制，TaiBIF 或將自動紀錄使用者連線時使用之IP位址、登入時間，及其他瀏覽器依其安全層級調校得提供之數據資訊，此等數據資訊之收集，僅供管理端分析流量及觀測網站服務之用。Cookies 的收集僅用於協助網站操作介面中英語系（繁體中文/ English）的轉換紀錄，使用者亦可調校瀏覽界的管理層級，將所有 cookies 收集的允許逕行關閉。
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
        貢獻者提供資料與素材，所記錄或內嵌之地理位置，相關資訊僅用於生物資訊之顯示、分析與彙整。
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
        本網站採CC授權條款及CC0公眾領域貢獻宣告來吸納貢獻，當貢獻者提供資料或素材之顯名資訊，涉及個人資料之描述時，該等個人資料視為當事人自行公開之個人資料，依個人資料相關法令之規範，後續蒐集處理毋須再經當事人書面同意，該等資料之提供使用範圍，將用於支持科學資料有效驗證之公益目的。
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans %}
        本網站得將貢獻者提交之內容，依其指定之授權或宣告方式推送至其他平台，包括但不限於轉引或轉載至全球生物多樣性資訊機構(GBIF)之主資料庫或其他節點，或推送至臉書、推特等社群網路平台，此一推送模式涉及個人資料之國際傳輸，於推送後就該平台之個人資料使用事宜，轉依該平台依其隱私權政策進行處理。
        {% endblocktrans %}
      </li>
    </p>
      <h5>{% trans "TaiBIF 對相關資料之去識別化與量化處理" %}</h5>
      <p>
        <li>
          {% blocktrans %}
          貢獻者同意 TaiBIF 得以對其回報資料與素材，進行合理妥適之去識別化或相關數據量化的處理。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          處理後的資料、素材，與其貢獻者或其他當事人個人識別狀態無法產生連結者，便不再屬於個人資料，後續將得以不受回報目的之限制，被進行利用。
          {% endblocktrans %}
        </li>
      </p>
      <h5>{% trans "隱私權保護政策修訂" %}</h5>
      <p>
        <li>
          {% blocktrans %}
          TaiBIF 將不定時修訂本項政策，以符合最新的個人資料與相關法定權利之保護規範。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          隱私權政策經修訂後，將透過 IPT 資料發布工具的會員註冊時提供的聯繫電郵主動通知，亦會於本網站「最新消息」分類項下進行公告。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          使用者對 TaiBIF 網站服務的繼續使用，視為明示同意更新版本的隱私權政策。
          {% endblocktrans %}
        </li>
      </p>
      <h5>{% trans "回報機制" %}</h5>
      <p>
        <li>
          {% blocktrans %}
          TaiBIF 對於相關資料的收集，已踐履個人資料保護法及其相關法規的基礎要求，並在資料的處理及利用上，透過彙整或去識別化流程，以強化使用者的隱私防護。相關資料在處理之後，將提供科學研究目的之分享。
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
          若網站服務的使用者或資料素材之貢獻者，對於當事人自身之個人資料有隱私疑慮，請透過網站公告資訊聯絡維運團隊，相關當事人若對自身之個人資料有進行查閱、更正、停止利用，以及刪除的意見與要求，亦可透過網站回報機制進行提報，本網站之維運團隊，將於確認收受提交意見，並完成人別確認後，三十日內進行妥善處理。
          {% endblocktrans %}
        </li>
      </p>
    </div>

    
</div>
  <!-- container end -->
{% endblock %}
