{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "給我一些例子" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/data-case.css' %}">
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-cloud@1/build/d3.layout.cloud.js"></script>
<script src="{% static 'js/data-case.js' %}"></script>
{% endblock head %}

{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "給我一些例子" %}</h1>
            <img src="{% static 'images/mascot-butterfly.png' %}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5 container-1340 data-case-page">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "開放資料怎麼應用" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "給我一些例子" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <div>
        <section>
            <div class="word-cloud-container">
                <div class="loader"></div>
                <div id="data_viz"></div>
                <small>
                    上圖的文字雲為<a href="https://www.gbif.org/resource/search?contentType=literature&countriesOfCoverage=TW" target="_blank"> {% trans "GBIF 文獻追蹤系統" %}</a>來源之臺灣資料應用案例主題與關鍵詞所產生。
                </small>
            </div>
        </section>
        <section>
            <div class="article-content-wrapper">
                <h3>{% trans "資料故事" %}</h3>
            </div>
            
            <div class="story-list-container">
                    <ul class="story-list">
                        {% for article in articles %}
                        <li class="listbox-img-right-wrapper article-list-card">
                            <a class="article-card-link" href="{% url 'article-detail-id' article.id %}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="listbox-inner-date">{{ article.date }}</span>
                                        <h3 class="listbox-inner-title">{{ article.title }}</h3>
                                        <p class="listbox-inner-summary">{{ article.content|slice:":100" }}{% if article.content|length > 30 %}...{% endif %}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="story-list-more">
                    </li>
                </ul>
            </div>
            <div class="data-case-btn-container">
                <a href="{% url 'article-search' %}?category=sci" class="btn-style1 data-case-btn">
                    <p class="remove-margin-bottom">{% trans "更多資料故事" %}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.83" height="15.656" viewBox="0 0 8.83 15.656">
                        <path id="Union_2" data-name="Union 2" d="M8313.292,15.363a1,1,0,0,1,0-1.414l6.123-6.121-6.123-6.122a1,1,0,1,1,1.414-1.414l6.83,6.829a1,1,0,0,1,0,1.414l-6.83,6.827a1,1,0,0,1-1.414,0Z" transform="translate(-8312.999 0)" fill="#846c5b"/>
                    </svg>
                </a>
            </div>     
        </section>
        <section>
            <div class="article-content-wrapper">
                <h3>{% trans "臺灣資料應用案例列表" %}</h3>
            </div>
            <p>
                這個列表有兩個分頁：(1) <strong>{% trans "GBIF 應用案例：" %}</strong><a href="https://www.gbif.org/resource/search?contentType=literature&countriesOfCoverage=TW" target="_blank"> {% trans "GBIF 文獻追蹤系統" %}</a>{% trans "來源的台灣相關文獻整理，以及 (2)" %} <strong>{% trans "TaiBIF 應用案例：" %}</strong>我們自行整理的國內應用案例。
            </p>
            <div class="data-table-btn-container">
                <button class="table-btn is-active" id="gbif-case-btn">{% trans "GBIF 應用案例" %}</button>
                <button class="table-btn" id="taibif-case-btn">{% trans "TaiBIF 應用案例" %}</button>
            </div>
            <div class="data-table-container">
                <div class="loader"></div>
                <table id="gbif-case" class="table content-readable-table"></table>
                <table id="taibif-case" class="table content-readable-table d-none"></table>
            </div>
        </section>
    </div>
</div>
<!-- container end -->
{% endblock %}
