{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
資料發布狀況
{% endblock %}
{% block head %}
<style>
  .info {
    position: relative;
    display: inline-block;
  }
  .info[alt]:hover::after {
    content: attr(alt);
    white-space: pre;
    position: absolute;
    top: -120%;
    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color: #4A3E3A ;
  }
  .axis {
      font: 16px sans-serif;
  }
  .axis path,
  .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }

svg text.label {
  fill: #846C5B;
  font-size: 15px;
  font-weight: 400;
  text-anchor: middle;
}

</style>
{% endblock %}

{% block script %}
{#<script src="https://d3js.org/d3.v3.min.js"></script>#}
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/analytics.js' %}"></script>

{% if env == "dev" %}
<script src="{% static 'js/dataset-table.dev.js' %}"></script>
{% elif env == "prod" or env == "stag" %}
<script src="{% static 'js/dataset-table.min.js' %}"></script>
{% endif %}

<script>
const checkboxes = document.querySelectorAll('input[type=checkbox]');
const checkMostCheckbox = document.querySelector('.check-most');
const checkTaibifIptCheckbox = document.querySelector('.check-taibif-ipt');
const checkTaibifAllCheckbox = document.querySelector('.check-all');
let baseURL = `${window.location.origin}${window.location.pathname}`;

// Set checkTaibifAllCheckbox as default
if (baseURL === window.location.href) {
    checkTaibifAllCheckbox.setAttribute('checked', 'checked');
};

checkboxes.forEach(checkbox => {
    // Multiple choice function of checkboxes
    checkbox.addEventListener('change', function() {
        if (this.checked) {
            checkboxes.forEach(otherCheckbox => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            })
        }
    })

    // Redrirect to the specific url based on the slelected checkbox
    checkbox.addEventListener('change', function() {
        if (this === checkMostCheckbox && this.checked) {
            window.location.href = `${baseURL}?most=1`
        } else if (this === checkTaibifIptCheckbox && this.checked) {
            window.location.href = `${baseURL}?taibif_ipt=1`
        } else {
            window.location.href = baseURL;
        }
    })
});
</script>
{% endblock %}

{% block main %}


{% comment %} {% include "inc_breadcrumb.html" with tab="01" active_label="資料發布狀況" %} {% endcomment %}

<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
    <div class="caption-mascot-wrapper">
        <h1 class="title">資料發布狀況</h1>
        <img src="{% static 'images/mascot-Mreevesi.png'%}" alt="" class="symbol">
    </div>
    </div>
</div>
<!-- topnav end -->
<!-- container begin -->
<div class="container my-5" >
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">開放資料</li>
            <li class="breadcrumb-item active" aria-current="page">資料發布狀況</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- 資料發布狀況 row begin -->
    <div class="row justify-content-center mb-4">
    <!-- col begin -->
    <div class="col-card-brick">
        <div class="card-brick card-glowing">
            <p class="title"><span class="myicon icon-data-stats mr-1"></span>出現紀錄</p>
            <p class="content"><a href="/occurrence/search/" >{{occ_num|intcomma:False}}</a></p>
        </div>
    </div>
    <!-- col end -->
    <!-- col begin -->
    <div class="col-card-brick">
        <div class="card-brick card-glowing">
            <p class="title"><span class="myicon icon-data-folder mr-1"></span>資料集</p>
            <p class="content"><a href="/dataset/search/">{{dataset_num|intcomma}}</a></p>
        </div>
    </div>
    <!-- col end -->
    <!-- col begin -->
    <div class="col-card-brick">
        <div class="card-brick card-glowing">
            <p class="title"><span class="myicon icon-data-tw mr-1"></span>涵蓋物種數</p>
            <p class="content">70,234</p>
        </div>
    </div>
    <!-- col end -->
    <!-- col begin -->
    <div class="col-card-brick">
        <div class="card-brick card-glowing">
            <p class="title"><span class="myicon icon-data-org mr-1"></span>資料發布單位</p>
            <p class="content"><a href="/publisher/search/">{{publisher_num}}</a></p>
        </div>
    </div>
    <!-- col end -->
    <!-- col begin -->
    <div class="col-card-brick">
        <div class="card-brick card-glowing">
            <p class="title"><span class="myicon icon-data-paper mr-1"></span>資料應用發表</p>
            <p class="content">0</p>
        </div>
    </div>
    <!-- col end -->
    </div>
    <!-- 資料發布狀況 row begin -->

    <!-- row begin -->
    <div class="row">
    <!-- col begin -->
    <div class="col-12">
        <h1 class="headline-left-hr">
        資料發布狀況
        <span class="footnote">全部</span>
        </h1>
        <div class="heading-sort-ctn">
            <label class="custom-input-ctn">
                <input type="checkbox" class="check-all">
                <span class="checkmark"></span>
                檢視 TaiBIF 裡所有資料的發布狀況（包含有台灣點位的 GBIF 來源資料）
            </label>
            <label class="custom-input-ctn">
                <input type="checkbox" class="check-taibif-ipt" {% if request.GET.taibif_ipt %} checked {% endif %}>
                <span class="checkmark"></span>
                僅檢視 TaiBIF IPT 資料庫的發布狀況
            </label>
            <label class="custom-input-ctn">
                <input type="checkbox"  class="check-most" {% if request.GET.most %} checked {% endif %}>
                <span class="checkmark"></span>
                僅檢視國科會發布狀況 (TaiBIF 的資料庫及基礎建設乃由國科會之經費及相關計畫支持，勾選此項可了解國科會生物多樣性計畫物種資料開放狀況)
            </label>
        </div>

        <h3 class="headline-left">統整數據</h3>

        <div class="card-tools-wrapper">
        <div class="title">
            今年度上傳出現紀錄資料筆數
            <a href="#" class="btn-dataicon-downlod"><span class="myicon icon-download-infographic"></span></a>
        </div>
        <div class="content responsive">
            <div id="taibif-stats__this_year_occurrence"></div>
        </div>
        </div>

        <div class="card-tools-wrapper">
        <div class="title">
            今年度上傳資料集數量
            <a href="#" class="btn-dataicon-downlod"><span class="myicon icon-download-infographic"></span></a>
        </div>
        <div class="content responsive">
            <div id="taibif-stats__this_year_dataset"></div>
        </div>
        </div>

        <div class="card-tools-wrapper">
        <div class="title">
            累積出現紀錄資料筆數
            <a href="#" class="btn-dataicon-downlod"><span class="myicon icon-download-infographic"></span></a>
        </div>
        <div class="content responsive">
            <div id="taibif-stats__trend_occurrence"></div>
        </div>
        </div>

        <div class="card-tools-wrapper">
        <div class="title">
            累積資料集數量
            <a href="#" class="btn-dataicon-downlod"><span class="myicon icon-download-infographic"></span></a>
        </div>
        <div class="content responsive">
            <div id="taibif-stats__trend_dataset"></div>
        </div>
        </div>
        <div id="dataset-table-container" lang="zh-hant"></div>

        <h3 class="headline-left">
            資料集列表
            <a href="#" class="btn ntn-sm btn-outline-main mx-2"><span class="myicon icon-search-lens mr-2"></span>搜尋資料集</a>
            <a href="#" class="btn-dataicon-downlod float-right mt-2 mr-3"><span class="myicon icon-download-infographic"></span></a>
        </h3>

        <div class="table-responsive">
            <table class="table table-ltmilo" id="opendata-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>資料集名稱</th>
                        <th>發布單位</th>
                        <th>資料類型</th>
                        <th>資料筆數</th>
                        <th>出現紀錄</th>
                        <th>發佈時間</th>
                        <th>地區</th>
                        <th>公開狀態</th>
                        <th>MOST</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dataset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="#">{{ i.title }}</a></td>
                        <td>{{ i.organization_name }}</td>
                        <td>{{ i.dwc_core_type }}</td>
                        <td>Confirming...</td>
                        <td>{{ i.num_occurrence }}</td>
                        <td>{{ i.pub_date|date:"Y-m-d"}}</td>
                        <td>{{ i.country }}</td>
                        <td>{{ i.status }}<div><small>未註冊至 GBIF</small></div></td>
                        <td>{{ i.is_most_project }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
    <!-- col end -->
    </div>
    <!-- row end -->

    </div>
    <!-- container end -->
{% endblock %}
