{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}資料應用案例{% endblock %}


{% block main %}

    
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "資料應用案例" %}</h1>
            <img src="{% static 'images/mascot-flower.png' %}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "資料應用" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "資料應用案例" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- row begin -->
    <div class="row">
        <!-- col begin -->
        <div class="col-12">
            <div class="my-5">
                <h1 class="headline-center-sm">敬請期待</h1>
            </div>
        </div>
        <!-- col end -->
    </div>
    <!-- row end -->
</div>
<!-- container end -->
{% endblock %}