
{% if LANGUAGE_CODE == "zh-hant" %}
<li><a href="#" data-cat="sop" class="pub-data-nav-item active">操作流程</a></li>
<li><a href="#" data-cat="format" class="pub-data-nav-item">資料格式說明</a></li>
<li><a href="#" data-cat="cc" class="pub-data-nav-item">授權方式說明</a></li>
<li><a href="http://ipt.taibif.tw/" target="_blank">資料上傳網站 (IPT)</a></li>
<li><a href="#" data-cat="schedule" class="pub-data-nav-item">國科會資料繳交依據與時程</a></li>
<li><a href="#" data-cat="rule" class="pub-data-nav-item">國科會生物多樣性學科相關計畫開放資料繳交規範</a></li>
{% endif %}

{% if LANGUAGE_CODE == "en" %}
<li><a href="#" data-cat="sop" class="pub-data-nav-item active">Upload procedure</a></li>
<li><a href="#" data-cat="format" class="pub-data-nav-item">Data format description</a></li>
<li><a href="#" data-cat="cc" class="pub-data-nav-item">CC licensing description</a></li>
<li><a href="http://ipt.taibif.tw/" target="_blank">The Integrated Publishing Tookit (IPT) </a></li>
<li><a href="#" data-cat="schedule" class="pub-data-nav-item">NSTC data and document submission</a></li>
<li><a href="#" data-cat="rule" class="pub-data-nav-item">Specification of open data submission for Biodiversity-related projects funded by NSTC</a></li>
{% endif %}