{% load helper_tags %}

{% get_pagination_info object_list request.GET as page_info %}

<!-- pagination begin -->
<nav class="center-block text-center pagination-nav" aria-label="Pagination">
  <ul class="pagination pagination-modern">
    {% if object_list.has_previous %}
    <li class="page-prev">
      <a href="?page={{ object_list.previous_page_number}}{{ page_info.append_query_string }}" aria-label="Previous page">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in page_info.page_range %}
      {% if object_list.number == p %}
        <li class="active"><span aria-current="page">{{ p }}</span></li>
      {% elif p == '...' %}
        <li class="disabled pagination-ellipsis"><span aria-hidden="true">{{ p }}</span></li>
      {% else %}
        <li><a href="?page={{ p }}{{ page_info.append_query_string }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
    <li class="page-next">
      <a href="?page={{ object_list.next_page_number }}{{page_info.append_query_string }}" aria-label="Next page">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- pagination end -->
