{% extends "base.html" %}
{% load static %}

{% block main %}
{# include "inc_breadcrumb.html" with tab="03" active_label="" #}
<!-- container begin -->
<div class="container">
  <div class="article-head-wrapper">
    <span class="article-post-date">{{ occur.eventdate|date:'Y-m-d' }}</span>
    <h1>
      {{ occur.scientificname }}{% if occur.vernacularname %}, {{ occur.vernacularname }}{% endif %}
    </h1>
  </div>

  {% comment %}
photo

map
    {% endcomment %}
  <div class="article-head-wrapper">
    <h1 class="heading-lg-ul">資料集出現紀錄</h1>
  </div>
  <table class="table">
    <thead><tr><th>資料集</th><th>次數</th></tr></thead>
    <tbody>
      {% for k,v in in_dataset.items %}
      <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="article-head-wrapper">
    <h1 class="heading-lg-ul">
      出現紀錄</h1>
  <span>共計 {{ n|length }} 筆出現紀錄。</span>
  </div>
    <table class="table">
      <thead><tr><th>scientificName</th><th>eventDate</th><th>Country</th><th>decimalLongitude</th><th>decimalLatitude</th><th>資料集</th></tr></thead>
      <tbody>
        {% for i in n %}
        <tr><td>{{ i.scientificname }}</td><td>{{ i.eventDate }}</td><td>{{ i.country }}</td><td>{{ i.decimalLongitude}}</td><td>{{ i.decimalLatitude}}</td><td>{{ i.taibif_dataset_name }}</td></tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="article-head-wrapper">
      <h1 class="heading-lg-ul">
        Occurrence Terms</h1>
    </div>
    <table class="table">
      <thead><tr><th>Term</th><th>Value</th></tr></thead>
      <tbody>
        {% for k,v in columns.items %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  <!-- container end -->
{% endblock %}
