{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/taibif.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="{% static 'js/leaflet.js' %}"></script>
    <style>
        #map { width: auto; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>
{% endblock %}

{% block script %}
{% if map_view %}

<script>

  var map = L.map('map').setView([{{ map_view.0 }}, {{ map_view.1}} ], 13);
  
  const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);  
  
  L.marker([{{ map_view.0 }}, {{ map_view.1}}]).addTo(map);
</script>

{% endif %}
{% endblock %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="0501" active_label="" %}

<!-- container begin -->
<div class="container">
  <div class="article-head-wrapper">
    {% if event.eventDate.value %}
    <span class="article-post-date">
      {% if event.eventDate.value.1 != None %}
        {{ event.eventDate.value.1 }}
      {% else %}
        {{ event.eventDate.value.0 }}
      {% endif %}
      </span>
    {% endif %}
    <h1 style="margin-top:0px">
      {% if taxon.vernacularName.value.1 %}
          {{ taxon.vernacularName.value.1 }}
        {% else %}
          {{ taxon.vernacularName.value.0 }}
      {% endif %}
      {% if intro.scientificName %}
        <I>{{ intro.scientificName }}</I>
      {% elif occurrence.scientificname %}
        {{ occurrence.scientificname }}
      {% endif %}
      {% if intro.name_zh %}
        {{ intro.name_zh }}
      {% endif %}
    </h1>
  </div>
  
  <div class="jumbotron">
    <dl>      
      <!-- <dd>{{ intro.scientificname}}{% if intro.simple_data.taxon_species %} (<a href="/species/{{ intro.spe }} ">{{ occurrence.simple_data.taxon_species.scientific_name_infraspecific}}</a>){% endif %}</dd> -->
      <dt>物種</dt>
      <dd>
        {% if taxon.vernacularName.value.1 %}
          {{ taxon.vernacularName.value.1 }}
        {% else %}
          {{ taxon.vernacularName.value.0 }}
        {% endif %} 
      <I>{{ intro.scientificName}} </I></dd>
      <dt>資料集</dt>
      <dd><a href="/dataset/{{ intro.dataset}}">{{ intro.dataset_zh }}</a></dd>
      <dt>發布單位</dt>
      <dd>{%if intro.publisher_id%}<a href="/dataset/{{ intro.publisher}}">{% endif %}{{ intro.publisher }}</a></dd>
    </dl>
  </div>
  {% if map_view %}<div id="map"></div>{% endif %}


  <div class="article-head-wrapper">
    <h1 class="heading-lg-ul">基本資料 Record</h1>
  </div>
  
  <table class="table">
    <thead><tr><th width="25%">欄位名稱</th><th width="25%">轉釋資料</th><th width="25%">原始資料</th></tr></thead>
    <tbody>
      {% for k,v in record.items %}
          {% if v.value.0 != None or v.value.1 != None %}
            <tr>
              <td>{{ v.name_zh }}</td>
              <td>
              {% if v.value.1 != None %}
                {{ v.value.1 }}
              {% endif %}
              </td>
              <td>
              {% if v.value.0 != None %}
                {{ v.value.0 }}
              {% endif %}
              </td>
            </tr>
          {% endif %}      
      {% endfor %}
    </tbody>
    </table>
    
    <div class="article-head-wrapper">
      <h1 class="heading-lg-ul">出現紀錄 Occurrence</h1>
    </div>
    <table class="table">
      <thead><tr><th width="25%">欄位名稱</th><th width="25%">轉釋資料</th><th width="25%">原始資料</th></tr></thead>
      <tbody>
        {% for k,v in occ.items %}
          {% if v.value.0 != None or v.value.1 != None %}
            <tr>
              <td>{{ v.name_zh }}</td>
              <td>
                {% if v.value.1 != None%}
                  {{ v.value.1 }}
                {% endif%}
              </td>
              <td>
                {% if v.value.0 != None %}
                  {{ v.value.0 }}
                {% endif%}
              </td>
            </tr>
          {% endif %}      
        {% endfor %}
      </tbody>
      </table>
     
      <div class="article-head-wrapper">
        <h1 class="heading-lg-ul">調查活動 Event</h1>
      </div>
      <table class="table">
        <thead><tr><th width="25%">欄位名稱</th><th width="25%">轉釋資料</th><th width="25%">原始資料</th></tr></thead>
        <tbody>
          {% for k,v in event.items %}
            {% if v.value.0 != None or v.value.1 != None %}
              <tr><td>{{ v.name_zh }}</td>
                <td>
                  {% if v.value.1 != None %}
                    {{ v.value.1 }}
                  {% endif %}
                </td>
                <td>
                  {% if v.value.0 != None %}
                    {{ v.value.0 }}
                  {% endif %}
                </td>
              </tr>
            {% endif %}  
          {% endfor %}
        </tbody>
        </table>


      <div class="article-head-wrapper">
        <h1 class="heading-lg-ul">分類 Taxon</h1>
      </div>
      <table class="table">
        <thead><tr><th width="25%">欄位名稱</th><th width="25%">轉釋資料</th><th width="25%">原始資料</th></tr></thead>
        <tbody>
          {% for k,v in taxon.items %}
            {% if v.value.0 != None or v.value.1 != None %}
              {% if k == 'genus' or k == 'subgenus' or k == 'scientificName' %}
                <tr>
                  <td>{{ v.name_zh }}</td>
                  <td><I>
                    {% if v.value.1 != None %}
                      {{ v.value.1 }}
                    {% endif %}
                  </I></td>
                  <td><I>
                    {% if v.value.0 != None %}
                      {{ v.value.0 }}
                    {% endif %}
                  </I></td>
                </tr>
              {% else %}
                <tr><td>{{ v.name_zh }}</td>
                  <td>
                    {% if v.value.1 != None %}
                      {{ v.value.1 }}
                    {% endif %}
                  </td>
                  <td>
                    {% if v.value.0 != None %}
                      {{ v.value.0 }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
        </table>


      <div class="article-head-wrapper">
        <h1 class="heading-lg-ul">地理資訊 Location</h1>
      </div>
      <table class="table">
        <thead><tr><th width="25%">欄位名稱</th><th width="25%">轉釋資料</th><th width="25%">原始資料</th></tr></thead>
        <tbody>
          {% for k,v in location.items %}
            {% if v.value.0 != None or  v.value.1 != None %}
            <tr><td>{{ v.name_zh }}</td>
              <td>
                {% if v.value.1 != None %}
                  {{ v.value.1 }}
                {% endif %}
              </td>
              <td>
                {% if v.value.0 != None %}
                  {{ v.value.0 }}
                {% endif %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
        </table>


</div>
  <!-- container end -->
{% endblock %}
