{% extends "base.html" %}
{% load static %}
{% block title %}資料標準化{% endblock %}


{% block main %}

    
    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">資料標準化</h1>
            <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">開放資料</li>
            <li class="breadcrumb-item active" aria-current="page">資料標準化</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row">
          <!-- col left begin -->
          <div class="col-12 col-md-3">
  
            <div class="dropdown dropdown-flexible-wrapper">
              <a class="btn btn-toggle-flexible" href="#">
                資料標準與模板
              </a>
              <div class="dropdown-menu dropdown-menu-flexible show">
                <a data-cat="dwc" class="dropdown-item toggle-item current-green" href="#">達爾文核心標準 Darwin Core</a>
                <a data-cat="eco-survey" class="dropdown-item toggle-item" href="#">生態檢核資料模板</a>
                <a data-cat="natural-history" class="dropdown-item toggle-item" href="#">自然史典藏資料模板</a>
                <a data-cat="virus" class="dropdown-item toggle-item" href="#">病媒介資料模板</a>
              </div>
            </div>
  
            <div class="dropdown dropdown-flexible-wrapper">
              <a class="btn btn-toggle-flexible" href="#" data-toggle="dropdown">
                主題資料發布指引
              </a>
              <div class="dropdown-menu dropdown-menu-flexible">
                <a data-cat="dna-guide" class="dropdown-item toggle-item" href="#">DNA 資料發布指引</a>
                <a data-cat="principal" class="dropdown-item toggle-item" href="#">敏感物種資料處理原則？</a>
              </div>
            </div>
  
          </div>
          <!-- col left end -->
          <!-- col right begin -->
          <div data-cat="dwc" class="col-12 col-md-9 toggle-item-content">
            <h4 class="headline-left-hr">達爾文核心標準 Darwin Core</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="eco-survey" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">生態檢核資料模板</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="natural-history" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">自然史典藏資料模板</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="virus" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">病媒介資料模板</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="dna-guide" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">DNA 資料發布指引</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="principal" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">敏感物種資料處理原則？</h4>
            <p>敬請期待</p>
          </div>
          <!-- col right end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
{% endblock %}