{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "開放資料的好處" %}{% endblock %}


{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "開放資料的好處" %}</h1>
            <img src="{% static 'images/mascot-frog.png'%}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5 container-1340">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "我想探索教育資源" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "開放資料的好處" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- col begin -->
    <div class="col-12 content-readable-panel content-readable-full-panel">
        <p>
            {% trans "讓調查心血發揮最大價值：開放生物多樣性資料的 5 大好處" %}
            {% trans "每一筆野外調查資料，都是調查者在野外風吹日曬、流汗流淚換來的心血結晶。當辛苦的計畫畫下句點，這些珍貴的紀錄如果只能靜靜地躺在個人電腦的硬碟裡 ，不僅侷限了資料的潛力，也辜負了投入其中的大把青春。" %}
            {% trans "將資料開放，絕不是把心血白白送人，而是透過資源共享，讓你的調查紀錄發揮超乎想像的影響力。還在猶豫是否要將手邊的資料開放嗎？以下五個好處，將告訴你為什麼這是一項穩賺不賠的投資：" %}
        <ol>
            <li>
                <strong>{% trans "成為全球保育與永續發展的關鍵解方。" %}</strong>
                <p>{% trans "開放資料能讓你的每筆觀察紀錄，成為全球生物多樣性知識的重要拼圖。當資料符合 FAIR 原則並公開發布，就能成為政策與保育行動的科學依據。例如，在公共工程的生態檢核制度中，開放資料能幫助相關單位避開敏感物種（如保育類或紅皮書物種）的棲息地，在工程規劃之初就將傷害減到最低，成為實質的保育力量。" %}</p>
            </li>
            <li>
                <strong>{% trans "開啟跨領域合作的無限可能獨木難支，開放資料能創造研究者與資料提供者間的合作新機。" %}</strong>
                <p>{% trans "資料的發布促成了全球資料集的整合，讓志同道合、擁有彼此需要知識的人更容易找到彼此。例如，曾有研究是透過開放資料，成功串聯了「標本採集者」、「氣候變遷學者」與「資料科學家」，共同發表具影響力的跨界研究成果。" %}</p>
            </li>
            <li>
                <strong>{% trans "讓幕後英雄獲得完整的貢獻肯定過去，資料管理者或協助採集的人員往往難以在傳統論文中被凸顯。" %}</strong>
                <p>{% trans "開放資料能幫助實務工作者，獲得在野外調查與資料管理的完整貢獻肯定。透過撰寫完善的詮釋資料（metadata），可以清楚標明「誰是蒐集者」、「誰清理資料」、「誰寫詮釋資料」，彰顯每個角色的個人工作成就。你甚至可以將其撰寫成「資料論文（Data Paper）」，讓這些成就在學術界獲得實質認可。" %}</p>
            </li>
            <li>
                <strong>{% trans "輕鬆掌握資料的影響力與被引用狀況。" %}</strong>
                <p>{% trans "把資料交出去，然後呢？別擔心，幫助你掌握資料被引用與應用的實際狀況，是開放資料平台的核心功能之一。以 GBIF 為例，平台對於資料集的引用與追蹤做得特別好 ，系統會自動為你統計並追蹤他人如何使用你蒐集的資料 。這不僅能為你帶來新的研究靈感，這些客觀的被引用數據更是展現個人或組織影響力的絕佳 KPI。" %}</p>
            </li>
            <li>
                <strong>{% trans "符合計畫要求，爭取資料管理預算。" %}</strong>
                <p>{% trans "隨著科學界對「開放科學」的重視，研究期刊對資料開放的期待日益提升，越來越多經費補助單位也將開放資料列為申請條件 。例如，國科會計畫鼓勵納入「研究資料管理方案 (DMP)」，要求明訂資料分享方式。開放資料不僅能提升計畫的公益性與研究成果的可再現性，也能讓你在計畫申請時，更名正言順地爭取資料管理所需的預算。" %}</p>
            </li>
        </ol>
        <p>
            {% trans "別讓你的調查人生留下遺憾！不論你的角色是現地採集者、資料管理者、研究發表者、策略擬定者，或是一線工作者 ，你都可以參與開放資料的貢獻與應用。" %}
            {% trans "TaiBIF 作為生物多樣性資料開放的推手，提供了完善的資料標準、管理方法以及 IPT 等資料發布工具 。現在就行動，讓你的心血被世界看見！" %}
        </p>
    </div>
    <!-- row end -->
</div>
<!-- container end -->
{% endblock %}
