{% extends "base.html" %}
{% load static %}
{% block title %}TaiBIF 資源下載專區{% endblock %}


{% block main %}
    
    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">開放授權</h1>
            <img src="assets/images/mascot-Mreevesi.png" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">開放資料</li>
            <li class="breadcrumb-item active" aria-current="page">開放授權</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row">
          <!-- col begin -->
          <div class="col-12 col-md-10 offset-md-1">
  
            <div class="schedule-flow-wrapper schedule-flow-skin-1">
              <div class="schedule-flow-title">姓名標示 (CC-BY)</div>
              <div class="schedule-flow-content"><img src="assets/images/cc-by.png" width="120px" class="mb-2">
                <br>本授權條款允許使用者重製、散布、傳輸以及修改著作（包括商業性利用），惟使用時必須按照著作人或授權人所指定的方式，表彰其姓名。</div>
            </div>
  
            <div class="schedule-flow-wrapper schedule-flow-skin-1">
              <div class="schedule-flow-title">姓名標示-非商業性(CC-BY-NC)</div>
              <div class="schedule-flow-content"><img src="assets/images/cc-by-nc.png" width="120px" class="mb-2">
                <br>本授權條款允許使用者重製、散布、傳輸以及修改著作，但不得為商業目的之使用。使用時必須按照授權者指定的方式表彰其姓名。</div>
            </div>
  
            <div class="schedule-flow-wrapper schedule-flow-skin-1">
              <div class="schedule-flow-title">公眾領域貢獻宣告 (CC0)</div>
              <div class="schedule-flow-content">可使科學家、教育工作者、藝術家、其他創作者及著作權人，或內容受資料庫保護的權利人等拋棄他們對各自著作的利益，並盡可能將這些著作釋出到公眾領域，讓其他人可以任何目的自由地以該著作為基礎，從事創作、提升或再使用等行為，而不受著作權或是資料庫相關法律的限制。 CC0與其它創用CC授權不同，後者允許著作權人在一定範圍內選擇釋出的權利，並保留部分權利；相反的，CC0則提供另一種｢不保留權利｣的授權選擇，讓權利人能選擇不受著作權及資料庫相關法律保護，也不享有法律直接提供給創作人的排他權。參考: <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.zh-Hant" target="_blank"> Public Domain (CC0 1.0)</a></div>
            </div>
  
            <p>參考: <a href="https://cc.ocf.tw/" target="_blank">CC 台灣社群</a></p>
            
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
      
{% endblock %}