{% extends "base.html" %}
{% load static %}
{% block title %}計畫資料繳交依據與時程{% endblock %}


{% block main %}

    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">計畫資料繳交依據與時程</h1>
            <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">開放資料</li>
            <li class="breadcrumb-item active" aria-current="page">計畫資料繳交依據與時程</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row">
          <!-- col left begin -->
          <div class="col-12 col-md-3">
  
            <div class="dropdown dropdown-flexible-wrapper">
              <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown" aria-expanded="false">
                計畫資料繳交依據與時程
              </a>
              <div class="dropdown-menu dropdown-menu-flexible d-md-block">
                <a data-cat="nstc" class="dropdown-item nav-item current-sunset" href="#">國科會計畫</a>
                <a data-cat="eco" class="dropdown-item nav-item" href="#">生態檢核計畫</a>
                <a data-cat="ltser" class="dropdown-item nav-item" href="#">LTSER</a>
              </div>
            </div>
  
          </div>
          <!-- col left end -->
          <!-- col right begin -->
          <div data-cat="nstc" class="col-12 col-md-9 nav-item-content">
            <h4 class="headline-left-hr">國科會計畫</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="eco" class="col-12 col-md-9 nav-item-content hide">
            <h4 class="headline-left-hr">生態檢核計畫</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="ltser" class="col-12 col-md-9 nav-item-content hide">
            <h4 class="headline-left-hr">LTSER</h4>
            <p>敬請期待</p>
          </div>
          <!-- col right end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
  
{% endblock %}