{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "資料上傳" %}{% endblock %}


{% block main %}

<!-- topnav begin -->
<div class="bg-main-pale">
	<div class="container">
		<div class="caption-mascot-wrapper">
			<h1 class="title">{% trans "資料上傳" %}</h1>
			<img src="{% static 'images/mascot-Mreevesi.png' %} " alt="" class="symbol">
		</div>
	</div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5">
	<!-- breadcrumb begin -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
			<li class="breadcrumb-item">{% trans "開放資料" %}</li>
			<li class="breadcrumb-item active" aria-current="page">{% trans "資料上傳" %}</li>
		</ol>
	</nav>
	<!-- breadcrumb end -->

	<!-- row begin -->
	<div class="row justify-content-center">
		<!-- col begin -->
		<div class="col-12 col-md-10 offset-md-1">
			<div class="embed-responsive embed-responsive-3by2">
				<iframe src="https://www.slideshare.net/slideshow/embed_code/key/jex9xY0EKJqy5Z?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
			</div>
			<p class="mt-3">操作流程下載：<a href="/media/online-workshop-handouts/使用IPT上傳資料-公告板v20241107.pdf" class="myicon icon-download-document"></a></p>
			<div class="text-center py-3 justify-content-center">
				<a href="https://ipt.taibif.tw" class="btn btn-sunset-md col-12 col-md-6">進入資料上傳網站 TaiBIF IPT</a>
			</div>
		</div>
		<!-- col end -->
	</div>
	<!-- row end -->
</div>
<!-- container end -->

{% endblock %}