{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="0504" active_label="" %}

</script>
<!-- container begin -->
<div class="container">


  <h2>{{ publisher.name }}</h2>

  <div class="article-head-wrapper">
    <h1 class="heading-lg-ul">
      簡介
    </h1>
  </div>
  <p>{{ publisher.description }}
  </p>
  
  <br>
  <div>
    {% if info.dataset_num %}資料集數量: {{ info.dataset_num }}<br> {% endif %}
    {% if info.sum_occurrence %}發現紀錄總筆數: {{ info.sum_occurrence|intcomma:False }}<br>{% endif %}
    {% if publisher.country_or_area %}國家或地區：{{publisher.country_or_area}}<br>{% endif %}
    {% if publisher.administrative_contact %}行政聯絡人: {{ publisher.administrative_contact }}<br>{% endif %}
    {% if publisher.technical_contact %}技術聯絡人: {{ publisher.technical_contact }}<br>{% endif %}
    
    </p>
  </div>
<div>
  <table id="dataset-table" class="table table-bordered">
    <thead>
      <tr>
        <th>資料集</th>
        <th>達爾文核心集</th>
        <th>核心集資料筆數</th>
      </tr>
    </thead>
    <tbody>
      {% for set in dataset %}
      <tr>
        <td><a href="{% url 'dataset-detail'  name=set.name %}">{{ set.name_zh }}</a></td>
        <td>{{ set.core_type }}</td>
        <td>{{ set.num_record|intcomma:False }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
  <!-- container end -->
{% endblock %}
