{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block title %}
Dataset::search
{% endblock %}

{% block main %}
<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="position: unset"><!--strange bug-->
          <div class="head-carousel-search-ctn">
            <form action="/search/" method="post">
              {% csrf_token %}
              <ul class="row head-carousel-search-cate search-all-wrapper">
                {#<li class="col-xs-12"><a href="#" class="search-type-btn active">搜尋全部</a></li>#}
                <li class="col-xs-3"><a href="{% url 'search-occurrence' cat='search'  %}?q={{ request.GET.q }}" class="search-type-btn" data-type="occurrence">{% trans "出現紀錄" %}</a></li>
                <!-- <li class="col-xs-3"><a href="{% url 'search-species' %}?q={{ request.GET.q }}" class="search-type-btn" data-type="species">{% trans "物種" %}</a></li> -->
                <li class="col-xs-3"><a href="{% url 'search-species' %}?q={{ request.GET.q }}" class="search-type-btn" data-type="species">{% trans "物種" %}</a></li>
                <li class="col-xs-3"><a href="{% url 'search-dataset' %}?q={{ request.GET.q }}" class="search-type-btn" data-type="dataset">{% trans "資料集" %}</a></li>
                <li class="col-xs-3"><a href="{% url 'search-publisher' %}?q={{ request.GET.q }}" class="search-type-btn" data-type="publisher">{% trans "發布單位" %}</a></li>
              </ul>
              <div class="head-carousel-search-form-wrapper">
              <input type="text" class="head-carousel-search-input" placeholder="{% trans "全站搜尋..." %}" name="q" value="{{ request.GET.q }}">
              <button class="head-carousel-search-btn" type="submit">
                <span class="myicon icon-search"></span>
              </button>
            </div>
            </form>
          </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% if count > 0 %}
        {% for cat in results %}
        {% if cat.rows %}
        <div class="list-group">
        <h1 class="heading-lg-ul">{{ cat.label }}</h1>
          {% for i in cat.rows %}
          <a href="{{ i.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ i.title }}</h4>
          {% if cat.cat == "article" %}
          <p class="list-group-item-text">{{ i.content|striptags|truncatechars:200 }}</p>
          {% else %}
          <p class="list-group-item-text">{{ i.content|truncatechars:200 }}</p>
          {% endif %}
          </a>
          {% endfor %}
          {% if cat.rows|length >= 10 %}
          <h4 class="list-group-item-heading">...</h4>
          {% if cat.cat != "article" %}{# TODO #}
          <a href="/{{ cat.cat }}/search?q={{ request.GET.q }}" class="list-group-item list-group-item-success">
            {% endif %}
          <h4 class="list-group-item-heading">搜尋: {{ request.GET.q }}</h4>
          <p class="list-group-item-text">更多{{cat.label}}</p>
          </a>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
      {% else %}
      <h2>{% trans "查無資料" %}</h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
