{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %}
Search
{% endblock %}

{% block head %}
{#<link rel="stylesheet" href="{% static 'css/search.css' %}" />#}
<style>
  .loading-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>
{#<link rel="stylesheet" href="{% static 'css/tree.css' %}" />#}
{% endblock %}

{% block script %}
{#<script src="{% static 'js/tree.js' %}"></script>#}
{#<script src="{% static 'js/search.js' %}"></script>#}

{% if env == "dev" %}
<script src="{% static 'js/search.js' %}"></script>
{% elif env == "prod" %}
<script src="{% static 'js/search.min.js' %}"></script>
{% endif %}
{% endblock %}

{% block main %}
<!--div class="container search-container" id="taibif-search-container" data-q="{{ request.GET.q }}"></div-->
<div class="container-fluid search-container-fluid" id="taibif-search-container" data-q="{{ request.GET.q }}"></div>
{% endblock %}
