{% extends "base.html" %}


{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}
出現紀錄
{% endblock %}

{% block head %}
<style>
  .loading-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>
{#<link rel="stylesheet" href="{% static 'css/tree.css' %}" />#}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% get_current_language as LANGUAGE_CODE %}

{% block script %}

{% if env == "prod" or env == "stag" %}

  <script src="/static/js/search{{JS_BUNDLE_VERSION}}.min.js"></script>

{% else %}

  <script src="{% static 'js/search.dev.js' %}"></script>

{% endif %}
{% endblock %}

{% block main %} 

    <!-- topnav begin -->
    <div class="bg-main-pale">
      <div class="container">
        <div class="caption-mascot-wrapper">
          <h1 class="title">出現紀錄</h1>
          <img src="{% static 'images/mascot-flower.png' %}" alt="" class="symbol">
          
        </div>
      </div>
    </div>
    <!-- topnav end -->
<!--div class="container search-container" id="taibif-search-container" data-q="{{ request.GET.q }}"></div-->
{% if LANGUAGE_CODE == "zh-hant" %}
  <div class="container-fluid search-container-fluid" id="taibif-search-container" data-q="{{ request.GET.q }}"  lang="zh-hant"></div>
  <span id="taibif-search-container-zh-hant">
{% endif%}
{% if LANGUAGE_CODE == "en" %}
  <div class="container-fluid search-container-fluid" id="taibif-search-container" data-q="{{ request.GET.q }}" lang="en"></div>
  <span id="taibif-search-container-en">
{% endif%}
{% endblock %}
