{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "TaiBIF 成果" %}{% endblock %}


{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "TaiBIF 成果" %}</h1>
            <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "關於我們" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "TaiBIF 成果" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- row begin -->
    <div class="row">
        <!-- col left begin -->
        <div class="col-12 col-md-3">
            <div class="dropdown dropdown-flexible-wrapper">
                <a data-cat="1" class="btn btn-toggle-flexible current-green toggle-item" href="#" data-toggle="dropdown" aria-expanded="false">
                    TaiBIF 近年成果
                </a>
                <div class="dropdown-menu dropdown-menu-flexible show">
                    <a data-cat="1-1" class="dropdown-item toggle-item" href="#">建置生物多樣性資訊基礎建設</a>
                    <a data-cat="1-2" class="dropdown-item toggle-item" href="#">推廣開放資料概念</a>
                    <a data-cat="1-3" class="dropdown-item toggle-item" href="#">促進生物多樣性資料的開放與整合</a>
                    <a data-cat="1-4" class="dropdown-item toggle-item" href="#">支持生物多樣性科學研究與政策制定</a>
                    <a data-cat="1-5" class="dropdown-item toggle-item" href="#">連結臺灣與國際的生物多樣性資訊</a>
                </div>
            </div>

            <div class="dropdown dropdown-flexible-wrapper">
                <a class="btn btn-toggle-flexible" href="#" data-toggle="dropdown" aria-expanded="false">
                    發表文章/ 海報
                </a>
                <div class="dropdown-menu dropdown-menu-flexible">
                    <a class="dropdown-item toggle-item" href="#">2023</a>
                        <div class="hide dropdown-3rd">
                            <a data-cat="2-1-1" class="toggle-item dropdown-child-3rd">2023 動物行為暨生態學研討會</a>
                            <a data-cat="2-1-2" class="toggle-item dropdown-child-3rd">科學發展月刊6月 No. 498—當開放資料遇上生物多樣性—TaiBIF讓世界看見你的資料</a>
                        </div>
                    <a data-cat="2-2" class="dropdown-item toggle-item" href="#">2022</a>
                        <div class="hide dropdown-3rd">
                            <a data-cat="2-2-1" class="toggle-item dropdown-child-3rd">參與生物多樣性資訊標準 (TDWG) 2022 年度會議 （線上）</a>
                            <a data-cat="2-2-2" class="toggle-item dropdown-child-3rd">2022 國土生態綠網成果交流研討會</a>
                        </div>
                    <a data-cat="2-3" class="dropdown-item toggle-item" href="#">2021</a>
                    <div class="hide dropdown-3rd">
                        <a data-cat="2-3-1" class="toggle-item dropdown-child-3rd">林務局台灣林業雙月刊</a>
                        <a data-cat="2-3-2" class="toggle-item dropdown-child-3rd">「海龜點點名」資料集論文資料</a>
                        <a data-cat="2-3-3" class="toggle-item dropdown-child-3rd">2021 動物行為、生態暨環境教育研討會壁報</a>
                        <a data-cat="2-3-4" class="toggle-item dropdown-child-3rd">2021 台灣植物分類學會年會暨研討會壁報</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col left end -->

        <!-- col right begin -->
        <div data-cat="1" class="col-12 col-md-9 toggle-item-content">
            <h4 class="headline-left-hr">TaiBIF 近年成果</h4>
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/nvcx0b6IT6sOS?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>
        
        <div data-cat="1-1" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">建置生物多樣性資訊基礎建設</h4>
            <p>
                我們提供了五項平台服務：
                <ol>
                    <li><a href="http://taibif.tw/" target="_blank">臺灣生物多樣性資訊機構平台</a>：提供國內生物多樣性開放資料搜尋、資料開放概念介紹及發布資料的相關引導、相關新聞及推廣活動發布，以及TaiBIF開發的資料清理工具等內容。不僅能讓資料使用者看到臺灣的資料開放現況，亦可檢視物種分布資料地圖，同時也能閱讀資源，獲取相關知識。</li>
                    <li><a href="http://ipt.taibif.tw/" target="_blank">資料發布工具 IPT</a>：是目前國內開放資料並與國際平台GBIF連結的唯一管道，除可上傳及開放自己的生物多樣性資料，也可以是免費的個人生物多樣性資料倉儲及管理的空間，亦提供版本管理的功能，讓使用者方便管理不同的資料發布版本。</li>
                    <li><a href="http://taicol.tw/" target="_blank">臺灣物種名錄</a>：透過各物種類群的分類學專家的名錄審訂，此資料庫提供了國內的所有物種有效學名及分類資訊搜尋，還可檢視學名變動的歷史及相關文獻。為目前國內生物多樣性領域工作者確認物種學名的重要參考依據。</li>
                    <li><a href="http://nametool.taicol.tw/" target="_blank">物種學名管理工具</a>：為名錄資料管理與分類資訊紀錄的網頁平台，除了名錄的整合查詢檢視，其管理流程貼近分類學者的工作流程，包含管理學名名錄與文獻資訊的功能，並可產出發表文章的分類處理架構等，也是提升分類資訊更新的工具，另提供專有名詞說明，以期降低分類學研究的門檻。</li>
                    <li><a href="http://camera-trap.tw/" target="_blank">臺灣自動相機資訊系</a>：自動相機資料管理及共享的平台，亦呈現視覺化的資料統計數據供主管機關及大眾了解現況。</li>
                </ol>
            </p>
            <p>
                此外，本團隊亦致力於推動共通的資料交換標準，除了與TBIA聯盟合作發布了
                <a href="https://tbiadata.tw/media/resources/%E7%94%9F%E7%89%A9%E5%A4%9A%E6%A8%A3%E6%80%A7%E9%A0%98%E5%9F%9F%E8%B3%87%E6%96%99%E6%A8%99%E6%BA%96.pdf" target="_blank">生物多樣性領域資料標準</a>，
                也陸續規劃推出<strong>主題式資料標準模板</strong>（如生態檢核、典藏標本資料等），
                讓不同專業背景的生物多樣性領域人士皆可依循參考，將彼此的資料開放共享，促進更多生物多樣性資料的流通。
            </p>
        </div>

        <div data-cat="1-2" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">推廣開放資料概念</h4>
            <p>
                為讓資料提供者及大眾更加了解生物多樣性資料開放的概念，形成資料共享的文化，我們每年會參與各大研討會擺攤宣傳(如動物行為暨生態研討會)，以及舉辦資料發布及應用工作坊，針對下列主題進行說明：
                <ol>
                    <li>開放資料流程</li>
                    <li>資料發布類型</li>
                    <li>開放資料授權</li>
                    <li>資料標準及共通欄位</li>
                    <li>敏感物種資料開放原則</li>
                    <li>開放資料的前置準備</li>
                    <li>用工具驗證及清理資料</li>
                    <li>如何上傳資料</li>
                    <li>資料論文data paper</li>
                    <li>資料管理方案規劃</li>
                    <li>怎麼下載及引用資料、應用案例介紹</li>
                    <li>用rgbif 下載及清理資料</li>
                </ol>
            </p>
            <p>
                自2022年9月起，TaiBIF 首度試辦課程認證制度及志工培訓，學員繳交指定作業可獲得課程的初階或進階認證，亦可在報名工作坊時選擇是否有想當志工的意願。
                培訓的志工類型主要分成三種：翻譯協作者、推廣大使與資料清理協作者。翻譯協作者將協助翻譯文件、推廣大使主要協助工作坊教學，
                也可進階成為講師、以及資料清理協作者協助客製化的資料清理。
            </p>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/workshop.png' %}"/>
            </div>
        </div>

        <div data-cat="1-3" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">促進生物多樣性資料的開放與整合</h4>
            <p>
                我們以 TaiBIF 做為國家連結國際的資訊整合窗口，近年來持續在推動國內的生物多樣性資料開放，並整合至 GBIF ，截至 2024年 5月，
                臺灣已開放了 1千7百多萬筆物種出現紀錄至 GBIF 上，包含了 24 個資料發布單位，共計 111 個資料集，為目前亞洲區域資料筆數第二名（第一名為印度，第三名為日本）。
                除了國際知名的<a href="https://www.gbif.org/dataset/4fa7b334-ce0d-4e88-aaae-2e0c138d049e" target="_blank">鳥類公民科學資料集 (EOD - eBird Observation Dataset) </a>外，<a href="https://www.gbif.org/dataset/78fc169f-cef0-4054-88ec-9b694bcbf6e4" target="_blank">中華民國野鳥學會 (Chinese Wild Bird Federation Bird Records Database) </a> 、
                <a href="https://www.gbif.org/dataset/4410edca-3bdd-4475-98a2-de823b2266bc" target="_blank">玉山國家公園鳥音AI辨識資料集 (Acoustic detections of birds using the SILIC in Yushan National Park, Taiwan) </a>和
                <a href="https://www.gbif.org/dataset/eb7681c5-5c9c-4e28-954f-f328991c7004" target="_blank">林試所植物標本典藏資料庫 (Herbarium of Taiwan Forestry Research Institute) </a>亦為貢獻良多的大型開放資料集。
            </p>
            <p>
                而在國內的部分，我們亦與國內的生物多樣性資料庫管理機關結盟成為合作夥伴，促成「臺灣生物多樣性資訊聯盟 (Taiwan Biodiversity Information Alliance, TBIA)」，
                定期舉行例會，針對物種名錄整合、共同資料標準、資料庫介接、敏感物種開放原則、生物時空分布圖資、國家級生物多樣性網絡等議題討論，並提出相關解決方針或參考文件，
                期望能達成十年共同願景。2023年12月，我們發布了<a href="https://tbiadata.tw/" target="_blank">TBIA生物多樣性資料庫共通查詢系統</a>（簡稱TBIA入口網），將TBIA各夥伴單位所屬的生物多樣性開放資料庫入口串連，
                提供資料使用者一個共通的窗口來查詢分散各處的生物多樣性資料。
            </p>
        </div>

        <div data-cat="1-4" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">支持生物多樣性科學研究與政策制定</h4>
            <p>
                為推廣資料開放的應用及好處，TaiBIF 長期提供國內外研究學者、單位與團體資料發布諮詢服務及發表合作，協助將生物多樣性資料整理成資料集並發布至 GBIF。
                自2022年起也提供相關經費支援，與申請者合作發表資料論文，並由TaiBIF補助資料論文發表費用。歷年合作資料論文請見：<a href="{% url 'data-paper' %}">資料期刊與論文</a>
            </p>
        </div>

        <div data-cat="1-5" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">連結臺灣與國際的生物多樣性資訊</h4>
            <p>
                我們與 GBIF 保持密切互動及合作關係，除協助過去的亞洲生物多樣性資訊基金 (BIFA)計畫審查及工作坊辦理，與來自亞洲各國的計畫團隊成員交流，
                團隊成員亦長期擔任GBIF亞洲工作坊的講師及助教，並有部分成員同時加入GBIF Asia Regional Support Team，建立起亞洲各國家或組織節點的交流社群；
                同時，我們也投入翻譯工作，協助將GBIF或國際組織相關文件翻譯成中文，讓臺灣社群對於汲取國際生物多樣性資訊知識可以更加容易。
                目前已於 <a href="http://gbif.org/" target="_blank">GBIF.org</a> 推出官網<a href="https://www.gbif.org/zh-tw/" target="_blank">繁體中文版介面</a>，亦將持續推出 GBIF 主題資料發布指引<a href="{% url 'open-standard' %}">中文版</a>。
                此外，亦曾與日本節點 JBIF 合作，共同撰寫生物多樣性資訊教學手冊 (Biodiversity Information Cookbook)，目前中文版已部分公開於 TaiBIF 官網，將陸續更新各章節。
            </p>
            <p>
                TaiBIF 身為GBIF的節點之一，節點經理及部分團隊成員每年皆出席GBIF全球理事會議，以及每兩年舉行一次的亞洲區域節點會議。
                同時，TaiBIF執行長端木茂甯副研究員更是自2021起擔任亞洲區節點副代表，並將TaiBIF的節點經驗分享亞洲其他節點。
                GBIF 2022 亞洲區域會議暨資料應用及開放科學研討會中，林業保育署亦代表台灣受邀赴泰國曼谷，向亞洲各國介紹臺灣在應用生物多樣性開放資料於政策決策上的成果。
            </p>
        </div>

        <div data-cat="2-1-1" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">2023 動物行為暨生態學研討會</h4>
            <p>
                TaiBIF 團隊於2023年1月16-17日參加在東海大學所舉辦的動物行為暨生態學研討會，會中由執行長端木茂甯、內容經理劉璟儀，
                以及資料管理資料管理員蔡思怡，分別發表「開放資料時代下的巨觀生態學研究」、「讓世界看見你的資料—TaiBIF 與資料開放」和「臺灣物種名錄再進化-名錄新系統與分類研究工具開發」三場演講，
                除了說明 TaiBIF 在生物多樣性資料流通與整合、物種名錄管理及更新方面的成果外，也介紹開放資料在科學研究上的可能應用，希望研究人員與學生能更了解開放資料的價值，
                並知道如何在相關工作上付出貢獻。三場演講的摘要請見附圖。
            </p>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-1.png' %}"/>
            </div>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-2.png' %}"/>
            </div>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-3.png' %}"/>
            </div>
        </div>
        <div data-cat="2-1-2" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">科學發展月刊6月 No. 498—當開放資料遇上生物多樣性—TaiBIF讓世界看見你的資料</h4>
            <p>
                近年來，愈來愈多的生物多樣性研究不只透過田野調查取得資料，更結合開放資料（open data）讓研究的視野擴大；許多學者也開始跳脫傳統科學研究思維，
                結合科技走向新型態的生物多樣性資料應用，如聲音資料、衛星遙測、環境DNA（environment DNA, eDNA）等，讓研究尺度在時空或物種上有機會能拓展延伸。
            </p>
            <p>
                在成熟的大數據概念尚未被建立起的時代，聯合國經濟合作暨發展組織（Organisation for Economic Cooperation and Development, OECD）
                下的生物多樣性資訊小組就已經針對生物多樣性的資料提出建議：「國際間需要建立可以自由存取生物多樣性資料、資訊的機制，藉由提供可靠正確的科學證據，
                可為經濟、社會帶來益處並促進永續發展。」於是，全球生物多樣性資訊機構（Global Biodiversity Information Facility, GBIF）便背負著這樣的期望，
                在2001年正式成立。GBIF由多國政府共同簽署合作備忘錄（MOU）加入成為會員並設立節點（nodes），以「提供大眾無論何時何地，均能公開且自由存取有關地球上各種生物的資料」為宗旨，
                建立了整合全球的生物多樣性資訊開放平臺（GBIF.org）和相關資訊基礎建設。（更多詳細內容請見 <a href="https://www.scimonth.com.tw/archives/6474" target="_blank">科學發展月刊6月 No. 498</a>）
            </p>
        </div>

        <div data-cat="2-2-1" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">參與生物多樣性資訊標準 (TDWG) 2022 年度會議 （線上）</h4>
            <p>
                生物多樣性資訊標準（Biodiversity Information Standards，原名為分類學資料庫工作小組 Taxonomic Databases Working Group，雖已改名但組織縮寫仍稱為 TDWG），
                是主要負責開發及維護資料標準的非營利科學及教育組織，其專注於開發生物及生物多樣性資料的交換標準，以利生物多樣性相關資料交換，並發展生物多樣性資訊學等。
                TaiBIF 博士後研究員何芷蔚與資料管理員蔡思怡於 2022/10/17-21 線上參與 TDWG 2022 年度會議，以了解國際最新的資料標準與趨勢，將有利於臺灣的生物多樣性資訊發展與國際接軌。
                TaiBIF 在此會議中發表推動台灣生物多樣性資訊開放的任務與成果。這次發表的主題為「Taiwan Biodiversity Information Facility (TaiBIF)’s Role in Facilitating Open Biodiversity Data in Taiwan」，
                <a href="https://doi.org/10.3897/biss.6.93628" target="_blank">摘要</a>已發布在 Biodiversity Information Science and Standards 期刊 
            </p>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-4.png' %}"/>
            </div>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-5.png' %}"/>
            </div>
        </div>
        <div data-cat="2-2-2" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">2022 國土生態綠網成果交流研討會</h4>
            <p>
                2022年10月28日執行長端木茂甯受邀於林務局（現為林業保育署）辦理的「2022國土生態綠網成果交流研討會」中分享〈臺灣生物多樣性資料的整合開放與應用〉，
                說明開放資料對於生物多樣性保育的重要性，並介紹臺灣生物多樣性資訊聯盟的成立，對於我國生物多樣性資料流通及整合的重要意義。
            </p>
        </div>

        <div data-cat="2-3-1" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">林務局台灣林業雙月刊</h4>
            <p>
                TaiBIF 團隊受林務局台灣林業雙月刊邀稿撰寫關於生物多樣性資訊之發展的文章，主題為「生物多樣性資料整合的共同願景 –從 TaiBIF 平台到資料庫共同查詢系統」一文，
                介紹TaiBIF成立的契機與開放資料的意義（圖十）。月刊連結：<a href="https://www.forest.gov.tw/0000104/0000547" target="_blank">點擊</a>
            </p>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-6.png' %}"/>
            </div>
        </div>
        <div data-cat="2-3-2" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">「海龜點點名」資料集論文資料</h4>
            <p>
                TaiBIF 博士後研究員何芷蔚將台灣海龜目擊紀錄資料整理並公開至GBIF，撰寫了資料論文並投稿於著名資料期刊Biodiversity Data Journal。
                論文已在審查中並同時將預印本 (preprint) 公開於 Pensoft Publishers (Hoh et al., 2022)。論文連結：<a href="https://preprints.arphahub.com/article/90210/" target="_blank">點擊</a>
            </p>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-7.png' %}"/>
            </div>
        </div>
        <div data-cat="2-3-3" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">2021 動物行為、生態暨環境教育研討會壁報</h4>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-8.png' %}"/>
            </div>
        </div>
        <div data-cat="2-3-4" class="col-12 col-md-9 toggle-item-content hide">
            <h4 class="headline-left-hr">2021 台灣植物分類學會年會暨研討會壁報</h4>
            <div class="toggle-item-content-img-container">
                <img src="{% static 'images/paper-9.png' %}"/>
            </div>
        </div>  
        <!-- col right end -->
    </div>
    <!-- row end -->
</div>
<!-- container end -->
{% endblock %}