{% extends "base.html" %}
{% load static %}

{% block title %}資料上傳{% endblock %}

{% block head %}

{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    $('.pub-data-nav-item').click(function(){
      const cat = $(this).data()['cat'];
      $('.pub-data-nav-item').removeClass('active');
      $(this).addClass('active');

      $('.pub-data-content').addClass('hide');
      $(`.pub-data-content[data-cat="${cat}"]`).removeClass('hide');
    });
  });
</script>

{% endblock %}

{% block main %}
  <!-- container begin -->
  <div class="container">


      {% if LANGUAGE_CODE == "zh-hant" %}
       {% comment %} {% include "inc_breadcrumb.html" with tab="01" active_label="api"%} {% endcomment %}
        <!-- row begin -->
          <div class="col-sm-3 hidden-xs">
            <ul class="schedule-flow-nav-wrapper">
              {% include "taibif-api-nav-items.html" %}
            </ul>
          </div>
          <!-- left nav end -->
      <!-- right content begin -->
        <div class="col-xs-12 col-sm-9 pub-data-content" data-cat="usage_api">
          <h1 class="heading-lg-ul">說明 Usage</h1>
          最後修改：2023/04/25
          <div class="pub-data-section">
            <h4>使用規範：</h4>
            
            <p>本 API 採「<a href="https://data.gov.tw/license" target="_blank">政府資料開放授權條款－第1版</a>」</p>
            <h4>回傳格式說明：</h4>
            <ul>
              <li>回傳格式為 JSON。</li>
              <li>查詢網址為 https://portal.taibif.tw/api/{version}/{type}/{mode}?{parameter}，其中：
                <ul>
                  <li>{version}：API 版本，此版本為 v2</li>
                  <li>{type}：查詢資料種類，目前提供 occurrence、dataset 與 publisher</li>      

                  <li>{mode}：<strong>限出現紀錄 (occurrence) 資料類型查詢</strong>，目前提供 basic_occ（轉譯 + 基本欄位資料回傳）、 detail_occ（轉譯 + 基本欄位 + 常用欄位資料回傳）與 raw_occ（原始資料回傳）。<br>各自的差別請看
                  <a href="#" data-cat="occurrence_api" class="pub-data-nav-item">出現紀錄查詢類型</a>說明。</li>

                  <li>{parameter}：查詢參數</li>
                  <li>網址範例：</li>
                  
                </ul>
                <table class="table table-striped table-bordered">
                  <thead><tr><th><strong>資料種類{type}</strong></th><th><strong>範例</strong></th></tr></thead>
                  <tbody>
                    <tr><td>occurrence (basic_occ)</td> <td> https://portal.taibif.tw/api/v2/occurrence/basic_occ?{parameter}=</td></tr>
                    <tr><td>occurrence (detail_occ)</td> <td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?{parameter}= </td></tr>
                    <tr><td>occurrence (raw_occ)</td> <td>https://portal.taibif.tw/api/v2/occurrence/raw_occ?{parameter}=</td></tr>
                    <tr><td>dataset</td> <td>https://portal.taibif.tw/api/v2/dataset?{parameter}=</td></tr>
                    <tr><td>publisher</td> <td>https://portal.taibif.tw/api/v2/publisher?{parameter}=</td></tr>
                  </tbody>
                </table>
              </li>
              <li><h4>分頁參數說明：</h4>
                <table class="table table-striped table-bordered">
                  <thead><tr><th><strong>參數名稱 {parameter}</strong> </th><th><strong>說明</strong></th><th><strong>範例</strong></th></tr></thead>
                  <tbody>
                  <tr><td>limit</td><td>每頁回傳筆數。預設為 100 筆，1000 筆為上限 </td>
                    <td><a href="https://portal.taibif.tw/api/v2/occurrence/basic_occ?rows=100" target="_blank">https://portal.taibif.tw/api/v2/occurrence/basic_occ?rows=100</a> 
                      <br />
                    <a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=100" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=100</a>
                    </td></tr>
                  <tr><td>offset</td><td> 起始分頁。預設為 0 ==（想要多描述）==</td><td>
                    <a href="https://portal.taibif.tw/api/v2/occurrence/basic_occ?offset=0" target="_blank">https://portal.taibif.tw/api/v2/occurrence/basic_occ?offset=0</a> </td></tr>
                  </tbody>
                </table>
              </li>


            
            如有建議或額外需求，歡迎<a href="https://portal.taibif.tw/contact-us" target="_blank">聯絡我們</a>。
          </div>
        </div>


        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="occurrence_api">
          <h1 class="heading-lg-ul">
            出現紀錄 Occurrence API
          </h1>

          <div class="pub-data-section">
          <h4>查詢方式：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th></tr>
            </thead>
            <tbody>
            <tr><td>取得出現紀錄資料</td><td>請看回傳欄位說明</td><td>/api/v2/occurrence/</td></tr>
            </tbody>
          </table>

          <h3 class="heading-lg-ul">出現紀錄查詢類型</h3>
          <li>出現紀錄資料類型查詢 {mode} 說明：</li>
          <table class="table table-striped table-bordered">
            <thead><tr><th>定義名稱</th><th>描述</th><th>欄位名稱</th></tr></thead>
            <tbody>
            <tr><td>轉譯資料</td><td>TaiBIF 針對特定欄位資料做清理 (例如統一格式等)</td><td>（請Jefferson列出來）</td></tr>
            <tr><td>基本欄位資料</td><td>出現紀錄相關的重要欄位</td><td>（請Jefferson列出來）</td></tr>
            <tr><td>常用欄位欄位</td><td>出現紀錄相關的次要欄位</td><td>（請Jefferson列出來）</td></tr>
            <tr><td>原始資料</td><td>資料上傳者所提供的資料</td><td>（請Jefferson列出來）</td></tr>
            </tbody>
          </table>
          <li>各查詢類型的回傳欄位說明：</li>
          <table class="table table-striped table-bordered">
            <thead><tr><th>類型 {mode}</th><th>回傳內容</th><th>回傳欄位</th><th>可查詢參數名稱 {parameter}</th></tr></thead>
            <tbody>
            <tr><td>basic_occ</td><td>轉譯資料 + 基本欄位</td><td>（請Jefferson列出來）</td><td>rows, offset, taibifModDate</td></tr>
            <tr><td>detail_occ</td><td>轉譯資料 + 基本欄位 + 常用欄位</td><td>（Jefferson列了以上的後Daphne再補充）</td><td>rows, offset, taibifModDate</td></tr>
            <tr><td>raw_occ</td><td>原始資料</td><td>所有資料上傳者所提供的原始資料</td><td></td></tr>
            </tbody>
          </table>
          </div>
          <h3 class="heading-lg-ul">回傳欄位說明</h3>
          <table class="table table-striped table-bordered">
            <thead><tr><th>參數名稱</th><th>中文欄位名</th><th>型態</th><th>範例</th><th>說明</th></tr></thead>
            <tbody>
              <tr><td>occurrenceID</td><td>資料發布者提供資料辨識碼</td><td>ID</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=HAST-127359</td><td></td></tr>
              <tr><td>taibifOccID</td><td>TaiBIF 資料辨識碼</td><td>ID</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=hast-1186</td><td></td></tr>
              <tr><td>basisOfRecord</td><td>紀錄類型</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?basisOfRecord=HumanObservation</td><td></td></tr>
              <tr><td>modifiedDate</td><td>原始資料更新日期</td><td>date</td><td>單一日期：https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01
                  <br>兩個日期之間：https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01,2022-03-31</td><td></td></tr>
              <tr><td>taibifModDate</td><td>TaiBIF 更新日期</td><td>date</td><td>單一日期：https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModDate=2022-01-01
                  <br>兩個日期之間：https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModDate=2022-01-01,2022-03-31</td><td></td></tr>
              <tr><td>gbifDatasetID</td><td>GBIF 資料集 ID</td><td>UUID</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716</td><td></td></tr>
              <tr><td>occurrenceStatus</td><td>觀測狀態</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceStatus=present</td><td>present, absent</td></tr>
              <tr><td>establishmentMeans</td><td>類群當地原生性</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?establishmentMeans=invasive</td><td>invasive, managed, introduced, naturalised</td></tr>
              <tr><td>scientificName</td><td>拉丁學名</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=chelonia
                  <br>https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=Collix ghosha</td><td></td></tr>
              <tr><td>taxonGroup</td><td>類群種類</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonGroup=insects</td><td>物種類群，目前提供：plants, fungi, bacteria, insects, fishes, reptiles, amphibians, birds, mammals, others. 如有別的類群需求請聯絡我們。</td></tr>
              <tr><td>taicolID</td><td>臺灣物種名錄物種編碼 taxonID</td><td>numeric</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?taicolID=380137</td><td></td></tr>
              <tr><td>kingdom</td><td>界</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?kingdom=plantae</td><td>大小寫有差？</td></tr>
              <tr><td>phylum</td><td>門</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?phylum=tracheophyta</td><td></td></tr>
              <tr><td>class</td><td>科</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?class=elasmobranchii</td><td></td></tr>
              <tr><td>order</td><td>目</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?order=kentrogonida</td><td></td></tr>
              <tr><td>family</td><td>綱</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?family=sminthuridae</td><td></td></tr>
              <tr><td>genus</td><td>屬</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?genus=apamamia</td><td></td></tr>
              <tr><td>taxonRank</td><td>分類階層</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonRank=order</td><td></td></tr>
              <tr><td>eventDate</td><td>觀測日期</td><td>date</td><td>單一日期：https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01
                <br>兩個日期之間：https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01,2022-03-31</td><td></td></tr>
              <tr><td>year</td><td>觀測年</td><td>numeric</td><td>單一年份：https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2022
                  <br>兩個年份之間： https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2020,2022</td><td></td></tr>
              <tr><td>month</td><td>觀測月</td><td>numeric</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?month=3</td><td></td></tr>
              <tr><td>country</td><td>國家</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?country=Taiwan</td><td></td></tr>
              <tr><td>county</td><td>臺灣縣市</td><td>string</td><td>單一縣市：https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Lienchiang County
                  <br>多選：https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Kaohsiung City,Taitung County</td><td></td></tr>
              <tr><td>decimalLatitude</td><td>緯度</td><td>numeric</td><td>緯度之間：https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLatitude=-22.24829&decimalLatitude=-14.21675
                  <br>經緯度之間：https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=121&decimalLatitude=22
                <br>方形：https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=120&decimalLongitude=121&decimalLatitude=22&decimalLatitude=24</td><td></td></tr>
              <tr><td>decimalLongitude</td><td>經度</td><td>numeric</td><td></td><td>格式同上</td></tr>
              <tr><td>coordinateUncertaintyInMeters</td><td>原始座標誤差(公尺)</td><td>numeric</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?coordinateUncertaintyInMeters=500</td><td></td></tr>
              <tr><td>issue</td><td>資料問題</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?issue=Taxon Match None</td><td>Taxon%20Match%20None, Coordinate%20Invalid, Recorded%20Date%20Invalid</td></tr>
              <tr><td>license</td><td>觀測紀錄授權</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?license=CC0</td><td>CC0, CC-BY, CC-BY-NC</td></tr>
              <tr><td>typeStatus</td><td>?</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?typeStatus=輸入什麼？</td><td></td></tr>
              <tr><td>selfProduced</td><td>TaiBIF IPT 來源的資料</td><td>string</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?selfProduced=yes</td><td>yes, no</td></tr>
            </tbody>
          </table>

          <h3 class="heading-lg-ul">更多範例</h3>
          <table class="table table-striped table-bordered">
            <thead><tr><th>使用情境</th><th>範例</th></tr></thead>
            <tbody>
            <tr><td>取得所有有臺灣點位的哺乳類資料</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?country=Taiwan&taxonGroup=mammals</td></tr>
            <tr><td>取得某觀測日期的300筆資料</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=300&eventDate=2022-01-01</td></tr>
            </tbody>
          </table>
        </div>
        

        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="dataset_api">
          <h1 class="heading-lg-ul">
            資料集 Datset API
          </h1>
          <div class="pub-data-section">

          </div>
          <div class="pub-data-section">
          <h4>查詢方式：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th></tr>
            </thead>
            <tbody>
            <tr><td>取得資料集資訊</td><td>title, organizationID, organizationName, author, publicationDate, modifiedDate, gbifDatasetID, license</td><td>/api/v2/dataset/</td></tr>
            </tbody>
          </table>

          <h4>查詢參數說明：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>參數名稱 {parameter}</th><th>說明</th><th>範例</th></tr>
            </thead>
            <tbody>
              <tr><td>title</td><td>資料集名稱，關鍵字模糊查詢</td><td>https://portal.taibif.tw/api/v2/dataset?title=海龜</td></tr>
              <tr><td>publisherID</td><td>同 GBIF 發布單位 ID</td><td>https://portal.taibif.tw/api/v2/dataset?organizationID=7c07cec1-2925-443c-81f1-333e4187bdea</td></tr>
              <tr><td>publisherName</td><td>發布單位名稱，關鍵字模糊查詢</td><td>https://portal.taibif.tw/api/v2/dataset?organizationName=Taiwan (有錯誤？)</td></tr>
              <tr><td>author</td><td>發布者</td><td>https://portal.taibif.tw/api/v2/dataset?author=Li</td></tr>
              <tr><td>publicationDate</td><td>資料集發布日期</td><td>單一日期：https://portal.taibif.tw/api/v2/dataset?publicationDate=2020-07-30 <br>兩個日期之間：https://portal.taibif.tw/api/v2/dataset?publicationDate=2013-08-12,2020-07-01</td></tr>
              <tr><td>modifiedDate</td><td>資料集更新日期</td><td>https://portal.taibif.tw/api/v2/dataset?modifiedDate=2020-07-30</td></tr>
              <tr><td>gbifDatasetID</td><td>GBIF 資料集 ID</td><td>https://portal.taibif.tw/api/v2/dataset?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716</td></tr>
              <tr><td>license</td><td>資料授權格式</td><td>https://portal.taibif.tw/api/v2/dataset?license=CC0 <br>https://portal.taibif.tw/api/v2/dataset?license=CC-BY</td></tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="publisher_api">
          <h1 class="heading-lg-ul">
            發布單位 Publisher API
          </h1>
          <div class="pub-data-section">
            <h4>查詢方式：</h4>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th><th>範例</th></tr>
            </thead>
            <tbody>
              <tr><td>取得發布單位資訊</td><td>q, id, countryCode</td><td>/api/v2/publisher/</td><td>https://portal.taibif.tw/api/v2/publisher?id=2</td></tr>	
              <tr><td>取得該發布單位所發布的資料集資訊</td><td>id</td><td>/api/v2/publisher/dataset/</td><td>https://portal.taibif.tw/api/v2/publisher/dataset?id=2</td></tr>	
            </tbody>
          </table>

          <h4>查詢參數說明：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>參數名稱{parameter}</th><th>說明</th><th>範例</th></tr>
            </thead>
            <tbody>
              <tr><td>q</td><td>單位名稱，關鍵字模糊查詢</td><td>https://portal.taibif.tw/api/v2/publisher?q=Forestry</td></tr>
              <tr><td>id</td><td>TaiBIF 底下發布單位的列表，同 GBIF 發布單位 ID</td><td>https://portal.taibif.tw/api/v2/publisher?id=e506ec0c-b3c5-4c3d-ae69-ebc56596fc52</td></tr>
              <tr><td>countryCode</td><td>發布單位國家代碼，使用XX標準</td><td>https://portal.taibif.tw/api/v2/publisher?countryCode=TW</td></tr>
            </tbody>
          </table>
        </div>
        {% endif%}
        {% if LANGUAGE_CODE == "en" %}
        
        {% include "inc_breadcrumb.html" with tab="01" active_label="Publish Your Data"%}
          <!-- row begin -->
          <div class="row">
            <!-- visible-xs modal begin -->
            <div class="visible-xs">
              <a href="javascript:void(0)" class="xs-schedule-flow-btn myicon icon-arrow-left" data-toggle="modal" data-target="#flowBtnModal">
                更多資料上傳介紹
              </a>
            </div>
      
            <!-- xs-schedule-navBtn-modal begin -->
            <div class="modal right fade" id="flowBtnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
      
                  <div class="modal-body">
                    <span class="modal-close myicon icon-close" data-dismiss="modal" aria-label="Close"></span>
                    <ul class="schedule-flow-nav-wrapper">
                      {% include "taibif-api-nav-items.html" %}
                    </ul>
                    </p>
                  </div>
      
                </div>
                <!-- modal-content -->
              </div>
              <!-- modal-dialog -->
            </div>
            <!-- xs-schedule-navBtn-modal end -->
      
            <!-- visible-xs modal end -->
      
            
            <!-- left nav begin -->
            <div class="col-sm-3 hidden-xs">
              <ul class="schedule-flow-nav-wrapper">
                {% include "taibif-api-nav-items.html" %}
              </ul>
            </div>
            <!-- left nav end -->
        <div class="col-xs-12 col-sm-9 pub-data-content" data-cat="sop">
          
        </div>
        {% endif%}
      <!-- right content end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
{% endblock %}
