{% extends "base.html" %}
{% load static %}
{% block title %}TaiBIF 成果{% endblock %}


{% block main %}
 <!-- topnav begin -->
 <div class="bg-main-pale">
    <div class="container">
      <div class="caption-mascot-wrapper">
        <h1 class="title">TaiBIF 成果</h1>
        <img src="assets/images/mascot-Mreevesi.png" alt="" class="symbol">
        <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
      </div>
    </div>
  </div>
  <!-- topnav end -->
  <!-- container begin -->
  <div class="container my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
        <li class="breadcrumb-item">關於我們</li>
        <li class="breadcrumb-item active" aria-current="page">TaiBIF 成果</li>
      </ol>
    </nav>
    <!-- breadcrumb end -->
    <!-- row begin -->
    <div class="row">
      <!-- col left begin -->
      <div class="col-12 col-md-3">

        <div class="dropdown dropdown-flexible-wrapper">
          <a class="btn btn-toggle-flexible" href="#" data-toggle="dropdown">
            TaiBIF 近年成果
          </a>
          <div class="dropdown-menu dropdown-menu-flexible">
            <a class="dropdown-item" href="#">建置資訊基礎建設</a>
            <a class="dropdown-item" href="#">推廣開放資料概念</a>
            <a class="dropdown-item" href="#">促進資料的開放與整合</a>
            <a class="dropdown-item" href="#">連結臺灣與國際</a>
          </div>
        </div>

        <div class="dropdown dropdown-flexible-wrapper">
          <a class="btn btn-toggle-flexible" href="#" data-toggle="dropdown">
            發表文章/ 海報
          </a>
          <div class="dropdown-menu dropdown-menu-flexible">
            <a class="dropdown-item" href="#">2022</a>
            <a class="dropdown-item" href="#">2021</a>
            <a class="dropdown-item" href="#">2020</a>
            <a class="dropdown-item" href="#">2019</a>
          </div>
        </div>

      </div>
      <!-- col left end -->
      <!-- col right begin -->
      <div class="col-12 col-md-9">
        <div class="embed-responsive embed-responsive-3by2">
          <iframe src="https://www.slideshare.net/slideshow/embed_code/key/68wnofrPt4FlcO?hostedIn=slideshare&amp;page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
        </div>
        <p class="mt-3">操作流程下載：<a href="/media/article/download/TaiBIF IPT操作說明 2023 v2.6.3.pdf" class="myicon icon-download-document"></a></p>
        <div class="my-4">
          <h4 class="headline-left">相關參考連結：</h4>
          <ul>
            <li>DwC 資料欄位的各集合內容：<a href="https://tools.gbif.org/dwca-validator/extensions.do" target="_blank">Darwin Core Registered Extensions</a>（按 core 和 extension 分類）</li>
            <li>DwC 資料欄位標準英文定義快速查詢：<a href="https://dwc.tdwg.org/terms/" target="_blank">Darwin Core Quick Reference Guide</a>（按詞條的 class 分類）</li>
          </ul>
        </div>
        <div class="my-4">
          <h4 class="headline-left">物種名錄 Checklist</h4>
          <div class="table-responsive">
            <table class="table table-ltmilo">
              <thead>
                <tr><th>DwC 欄位名稱</th><th>所屬類別</th><th>定義</th><th>常見對應名稱</th><th>範例</th></tr>
              </thead>
              <tbody>
              <tr><td>taxonID</td><td>Taxon</td><td>分類識別碼</td><td>ID、編號</td><td>32567</td></tr>
              <tr><td>scientificName</td><td>Taxon</td><td>完整的學名，包括已知的作者和日期資訊。若是作為鑑定的一部分，應是可確定的最低分類階層的名稱。</td><td>學名、Name、名字</td><td>“Coleoptera” (目), “Vespertilionidae”(科), “Manis” (屬), “Ctenomys sociabilis” (屬 + 種小名),“Ambystoma tigrinum diaboli” (屬 +種小名 + 亞種小名), “Roptrocerus typographi (Györfi, 1952)” (屬 + 種小名 + 學名命名者), "Quercus agrifolia var. oxyadenia (Torr.) J.T.</td></tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- col right end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
{% endblock %}