{% extends "base.html" %}
{% load static %}

{% block title %}API{% endblock %}

{% block head %}

{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    $('.pub-data-nav-item').click(function(){
      const cat = $(this).data()['cat'];
      $('.pub-data-nav-item').removeClass('active');
      $(this).addClass('active');

      $('.pub-data-content').addClass('hide');
      $(`.pub-data-content[data-cat="${cat}"]`).removeClass('hide');
    });
  });
</script>

{% endblock %}

{% block main %}
  <!-- container begin -->
  <div class="container">


      {% if LANGUAGE_CODE == "zh-hant" %}
       {% comment %} {% include "inc_breadcrumb.html" with tab="01" active_label="api"%} {% endcomment %}
        <!-- row begin -->
          <div class="col-sm-3 hidden-xs">
            <ul class="schedule-flow-nav-wrapper">
              {% include "taibif-api-nav-items.html" %}
            </ul>
          </div>
          <!-- left nav end -->
      <!-- right content begin -->
        <div class="col-xs-12 col-sm-9 pub-data-content" data-cat="usage_api">
          <h1 class="heading-lg-ul">說明 Usage</h1>
          最後修改：2023/05/17
          <div class="pub-data-section">
            <h4>使用規範：</h4>
            
            <p>本 API 採「<a href="https://data.gov.tw/license" target="_blank">政府資料開放授權條款－第1版</a>」</p>
            <h4>回傳格式說明：</h4>
            <ul>
              <li>回傳格式為 JSON。</li>
              <li>查詢網址為 <b>https://portal.taibif.tw/api/{version}/{type}/{mode}?{parameter}</b>，其中：
                <ul>
                  <li>{version}：API 版本，此版本為 v2 。</li>
                  <li>{type}：查詢資料種類，目前提供 occurrence、dataset 與 publisher 。</li>

                  <li>{mode}：<strong>限出現紀錄 (occurrence) 資料類型查詢</strong>，目前提供 basic_occ（轉譯欄位 + 基本欄位資料回傳）、 detail_occ（轉譯欄位 + 基本欄位 + 常用欄位資料回傳）與 raw_occ（原始資料回傳）。
                    <br>各自的差別請看<a href="#" data-cat="occurrence_api" class="pub-data-nav-item">出現紀錄查詢類型</a>說明。</li>

                  <li>{parameter}：查詢參數</li>
                  <li>網址範例：</li>
                  
                </ul>
                <table class="table table-striped table-bordered">
                  <thead><tr><th><strong>資料種類{type}</strong></th><th><strong>範例</strong></th></tr></thead>
                  <tbody>
                    <tr><td>occurrence (basic_occ)</td> <td> https://portal.taibif.tw/api/v2/occurrence/basic_occ?{parameter}=</td></tr>
                    <tr><td>occurrence (detail_occ)</td> <td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?{parameter}= </td></tr>
                    <tr><td>occurrence (raw_occ)</td> <td>https://portal.taibif.tw/api/v2/occurrence/raw_occ?{parameter}=</td></tr>
                    <tr><td>dataset</td> <td>https://portal.taibif.tw/api/v2/dataset?{parameter}=</td></tr>
                    <tr><td>publisher</td> <td>https://portal.taibif.tw/api/v2/publisher?{parameter}=</td></tr>
                  </tbody>
                </table>
              </li>
              <li><h4>分頁參數說明：</h4>
                <table class="table table-striped table-bordered">
                  <thead><tr><th><strong>參數名稱 {parameter}</strong> </th><th><strong>說明</strong></th><th><strong>範例</strong></th></tr></thead>
                  <tbody>
                  <tr><td>rows</td><td>每頁回傳筆數。預設為 100 筆，1000 筆為上限 </td>
                    <td><a href="https://portal.taibif.tw/api/v2/occurrence/basic_occ?rows=100" target="_blank">https://portal.taibif.tw/api/v2/occurrence/basic_occ?rows=100</a> 
                      <br />
                    <a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=100" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=100</a>
                    </td></tr>
                  <tr><td>offset</td><td> 起始回傳資料位置。預設為 0 。</td><td>
                    <a href="https://portal.taibif.tw/api/v2/occurrence/basic_occ?offset=0" target="_blank">https://portal.taibif.tw/api/v2/occurrence/basic_occ?offset=0</a> </td></tr>
                  </tbody>
                </table>
              </li>


            
            如有建議或額外需求，歡迎<a href="https://portal.taibif.tw/contact-us" target="_blank">聯絡我們</a>。
          </div>
        </div>


        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="occurrence_api">
          <h1 class="heading-lg-ul">
            出現紀錄 Occurrence API
          </h1>

          <div class="pub-data-section">
          <h4>查詢方式：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th></tr>
            </thead>
            <tbody>
            <tr><td>取得出現紀錄資料</td><td>請看回傳欄位說明</td><td>/api/v2/occurrence/</td></tr>
            </tbody>
          </table>

          <h3 class="heading-lg-ul">出現紀錄查詢類型</h3>
          <li>出現紀錄資料類型查詢 {mode} 說明：</li>
          <table class="table table-striped table-bordered">
            <thead><tr><th>定義名稱</th><th>描述</th><th>欄位名稱</th></tr></thead>
            <tbody>
            <tr><td>轉譯資料</td><td>TaiBIF 針對特定欄位資料做清理 (例如統一格式等)</td><td>共 33 個欄位：taibifOccurrenceID、scientificName、isPreferredName、taxonRank、taicolTaxonID、gbifAcceptedID、scientificNameID、taxonBackbone、eventDate、decimalLongitude、decimalLatitude、geodeticDatum、verbatimSRS、coordinateUncertaintyInMeters、basisOfRecord、selfProduced、license、occurrenceStatus、kingdom、phylum、class、order、family、genus、taxonGroup、country、countryCode、county、year、month、day、habitatReserve、wildlifeReserve</td></tr>
            <tr><td>基本資料</td><td>出現紀錄相關的重要欄位</td><td>共 17 個欄位：occurrenceID、dataGeneralizations、coordinatePrecision、locality、organismQuantity、organismQuantityType、datasetName、datasetShortName、typeStatus、recordedBy、recordNumber、preservation、collectionID、taibifCreatedDate、taibifModifiedDate、associatedMedia、mediaLicense</td></tr>
            <tr><td>常用資料</td><td>出現紀錄相關的次要欄位</td><td>共 4 個欄位：modifiedDate、gbifDatasetID、establishmentMeans、issue</td></tr>
            <tr><td>原始資料</td><td>資料上傳者所提供的資料</td><td></td></tr>
            </tbody>
          </table>
          <li>各查詢類型的回傳欄位說明：</li>
          <table class="table table-striped table-bordered">
            <thead><tr><th>類型 {mode}</th><th>回傳內容</th><th>回傳欄位</th></tr></thead>
            <tbody>
            <tr><td>basic_occ</td><td>轉譯資料 + 基本資料</td><td>共回傳 50 個欄位</td></tr>
            <tr><td>detail_occ</td><td>轉譯資料 + 基本資料 + 常用資料</td><td>共回傳 54 個欄位</td></tr>
            <tr><td>raw_occ</td><td>原始資料</td><td>資料上傳者所提供的所有資料</td></tr>
            </tbody>
          </table>
          </div>
          <h3 class="heading-lg-ul">參數說明</h3>
          <table class="table table-striped table-bordered">
            <thead><tr><th>參數名稱 {parameter}</th><th>中文欄位名</th><th>型態</th><th>basic_occ 可查詢</th><th>detail_occ 可查詢</th><th>raw_occ 可查詢</th><th>範例</th><th>補充說明與限定搜尋字彙</th></tr></thead>
            <tbody>
              <tr><td colspan="8">基本資訊</td></tr>
              <tr><td>occurrenceID</td><td>資料發布者提供資料辨識碼</td><td>ID</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=HAST-127359" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=HAST-127359</a></td><td></td></tr>
              <tr><td>taibifOccurrenceID</td><td>TaiBIF 資料辨識碼</td><td>ID</td><td>Ｏ</td><td>Ｏ</td><td></td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=hast-1186" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceID=hast-1186</a></td><td></td></tr>
              <tr><td>basisOfRecord</td><td>紀錄類型</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?basisOfRecord=HumanObservation" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?basisOfRecord=HumanObservation</a></td><td></td></tr>
              <tr><td>modifiedDate</td><td>原始資料更新日期</td><td>Date</td><td></td><td>Ｏ</td><td>Ｏ</td><td>單一日期：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01</a><br>
                兩個日期之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01,2022-03-31" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?modifiedDate=2022-01-01,2022-03-31</a></td><td></td></tr>
              <tr><td>taibifModifiedDate</td><td>TaiBIF 更新日期</td><td>Date</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td>單一日期：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModifiedDate=2022-01-01" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModifiedDate=2022-01-01</a><br>
                兩個日期之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModifiedDate=2022-01-01,2022-03-31" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?taibifModifiedDate=2022-01-01,2022-03-31</a></td><td></td></tr>
              <tr><td>gbifDatasetID</td><td>GBIF 資料集 ID</td><td>UUID</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716</a></td><td></td></tr>
              <tr><td>datasetName</td><td>資料集名稱</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td></td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?datasetName=turtlespot" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?datasetName=Sea turtle</a></td><td></td></tr>
              <tr><td>occurrenceStatus</td><td>觀測狀態</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceStatus=present" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?occurrenceStatus=present</a></td><td></td></tr>
              <tr><td colspan="8">物種資訊</td></tr>
              <tr><td>scientificName</td><td>拉丁學名</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=chelonia" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=chelonia</a><br>
                <a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=Collix ghosha" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?scientificName=Collix ghosha</a></td><td></td></tr>
              <tr><td>taxonGroup</td><td>類群種類</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonGroup=insects" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonGroup=insects</a></td><td>物種類群，目前提供：plants, fungi, bacteria, insects, fishes, reptiles, amphibians, birds, mammals, others. 如有別的類群需求請聯絡我們。</td></tr>
              <tr><td>taicolTaxonID</td><td>臺灣物種名錄物種編碼 taxonID</td><td>String</td><td></td><td>Ｏ</td><td></td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?taicolTaxonId=t0096596" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?taicolTaxonId=t0096596</a></td><td></td></tr>
              <tr><td>kingdom</td><td>界</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?kingdom=Plantae" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?kingdom=Plantae</a></td><td></td></tr>
              <tr><td>phylum</td><td>門</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?phylum=Tracheophyta" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?phylum=Tracheophyta</a></td><td></td></tr>
              <tr><td>class</td><td>綱</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?class=Elasmobranchii" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?class=Elasmobranchii</a></td><td></td></tr>
              <tr><td>order</td><td>目</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?order=Magnoliales" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?order=Magnoliales</a></td><td></td></tr>
              <tr><td>family</td><td>科</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?family=Erebidae" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?family=Erebidae</a></td><td></td></tr>
              <tr><td>genus</td><td>屬</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?genus=Grevillea" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?genus=Grevillea</a></td><td></td></tr>
              <tr><td>taxonRank</td><td>分類階層</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonRank=order" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?taxonRank=order</a></td><td></td></tr>
              <tr><td>establishmentMeans</td><td>類群當地原生性</td><td>String</td><td></td><td></td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/raw_occ?establishmentMeans=native" target="_blank">https://portal.taibif.tw/api/v2/occurrence/raw_occ?establishmentMeans=native</a></td><td>native, nativeReintroduced, introduced, introducedAssistedColonisation, vagrant, uncertain</td></tr>
              <tr><td colspan="8">時間資訊</td></tr>
              <tr><td>eventDate</td><td>觀測日期</td><td>Date</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td>單一日期：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01</a><br>
                兩個日期之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01,2022-03-31" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?eventDate=2022-01-01,2022-03-31</a></td><td></td></tr>
              <tr><td>year</td><td>觀測年</td><td>Numeric</td><td></td><td>Ｏ</td><td>Ｏ</td><td>單一年份：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2022" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2022</a><br>
                兩個年份之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2020,2022" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?year=2020,2022</a></td><td></td></tr>
              <tr><td>month</td><td>觀測月</td><td>Numeric</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?month=3" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?month=3</a></td><td></td></tr>
              <tr><td colspan="8">地理資訊</td></tr>
              <tr><td>country</td><td>國家</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?country=Taiwan" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?country=Taiwan</a></td><td></td></tr>
              <tr><td>county</td><td>臺灣縣市</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td>單一縣市：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Lienchiang County" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Lienchiang County</a><br>
              多選：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Kaohsiung City,Taitung County" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?county=Kaohsiung City,Taitung County</a></td><td></td></tr>
              <tr><td>decimalLatitude</td><td>緯度</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td>緯度之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLatitude=-22.24829&decimalLatitude=-14.21675" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLatitude=-22.24829&decimalLatitude=-14.21675</a>
              <br>經緯度之間：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=121&decimalLatitude=22" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=121&decimalLatitude=22</a>
              <br>方形：<a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=120&decimalLongitude=121&decimalLatitude=22&decimalLatitude=24" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?decimalLongitude=120&decimalLongitude=121&decimalLatitude=22&decimalLatitude=24</a></td><td></td></tr>
              <tr><td>decimalLongitude</td><td>經度</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td>格式同上</td><td></td></tr>
              <tr><td>coordinateUncertaintyInMeters</td><td>原始座標誤差(公尺)</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?coordinateUncertaintyInMeters=500" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?coordinateUncertaintyInMeters=500</a></td><td></td></tr>
              <tr><td colspan="8">其他資訊</td></tr>
              <tr><td>issue</td><td>資料問題</td><td>String</td><td></td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?issue=Taxon Match None" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?issue=Taxon Match None</a></td><td>Taxon Match None, Coordinate Invalid, Recorded Date Invalid</td></tr>
              <tr><td>license</td><td>觀測紀錄授權</td><td>String</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?license=CC0" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?license=CC0</a></td><td>CC0, CC-BY, CC-BY-NC, NA</td></tr>
              <tr><td>selfProduced</td><td>TaiBIF IPT 來源的資料</td><td>Boolean</td><td>Ｏ</td><td>Ｏ</td><td>Ｏ</td><td><a href="https://portal.taibif.tw/api/v2/occurrence/detail_occ?selfProduced=TRUE" target="_blank">https://portal.taibif.tw/api/v2/occurrence/detail_occ?selfProduced=TRUE</a></td><td>TRUE, FALSE</td></tr>
            </tbody>
          </table>

          <h3 class="heading-lg-ul">其他回傳欄位說明：</h3>
          <table class="table table-striped table-bordered">
            <thead><tr><th>回傳欄位</th><th>說明</th><th>型態</th></tr></thead>
            <tbody>
              <tr><td colspan="3">基本資訊</td></tr>
              <tr><td>taibifCreatedDate</td><td>資料建立日期</td><td>String</td></tr>
              <tr><td>datasetShortName</td><td>資料集名稱</td><td>String</td></tr>
              <tr><td colspan="3">物種資訊</td></tr>
              <tr><td>isPreferredName</td><td>TaiCOL 上的俗名</td><td>String</td></tr>
              <tr><td>gbifAcceptedID</td><td>GBIF TaxonID</td><td>String</td></tr>
              <tr><td>scientificNameID</td><td>物種名稱代碼</td><td>String</td></tr>
              <tr><td>taxonBackbone</td><td>物種 Backbone 來源</td><td>String</td></tr>
              <tr><td colspan="3">時間資訊</td></tr>
              <tr><td>day</td><td>日</td><td>Numeric</td></tr>
              <tr><td colspan="3">地理資訊</td></tr>
              <tr><td>geodeticDatum</td><td>座標系統</td><td>String</td></tr>
              <tr><td>verbatimSRS</td><td>空間參考系統</td><td>String</td></tr>
              <tr><td>dataGeneralizations</td><td>座標是否有模糊化</td><td>String</td></tr>
              <tr><td>coordinatePrecision</td><td>座標模糊化程度</td><td>String</td></tr>
              <tr><td>locality</td><td>出現地</td><td>String</td></tr>
              <tr><td>habitatReserve</td><td>自然生態保護區</td><td>String</td></tr>
              <tr><td>wildlifeReserve</td><td>野生動物保護區</td><td>String</td></tr>
              <tr><td>countryCode</td><td>國家代碼</td><td>String</td></tr>
              <tr><td colspan="3">標本相關</td></tr>
              <tr><td>typeStatus</td><td>模式標本</td><td>String</td></tr>
              <tr><td>preservation</td><td>保存方式</td><td>String</td></tr>
              <tr><td>collectionID</td><td>館藏號</td><td>String</td></tr>
              <tr><td colspan="3">其他資訊</td></tr>
              <tr><td>recordedBy</td><td>記錄(採集)者</td><td>String</td></tr>
              <tr><td>recordNumber</td><td>採集號</td><td>String</td></tr>
              <tr><td>organismQuantity</td><td>數量</td><td>String</td></tr>
              <tr><td>organismQuantityType</td><td>數量單位</td><td>String</td></tr>
              <tr><td>associatedMedia</td><td>多媒體連結</td><td>String</td></tr>
              <tr><td>mediaLicense</td><td>多媒體授權</td><td>String</td></tr>
            </tbody>
          </table>
          <h3 class="heading-lg-ul">更多範例</h3>
          <table class="table table-striped table-bordered">
            <thead><tr><th>使用情境</th><th>範例</th></tr></thead>
            <tbody>
            <tr><td>取得所有有臺灣點位的哺乳類資料</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?country=Taiwan&taxonGroup=mammals</td></tr>
            <tr><td>取得某觀測日期的300筆資料</td><td>https://portal.taibif.tw/api/v2/occurrence/detail_occ?rows=300&eventDate=2022-01-01</td></tr>
            </tbody>
          </table>
        </div>
        

        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="dataset_api">
          <h1 class="heading-lg-ul">
            資料集 Datset API
          </h1>
          <div class="pub-data-section">

          </div>
          <div class="pub-data-section">
          <h4>查詢方式：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th></tr>
            </thead>
            <tbody>
            <tr><td>取得資料集資訊</td><td>datasetName, publisherID, publisherName, author, publicationDate, datasetModifiedDate, gbifDatasetID, license, core</td><td>/api/v2/dataset/</td></tr>
            </tbody>
          </table>

          <h4>查詢參數說明：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>參數名稱 {parameter}</th><th>說明</th><th>範例</th><th>限定搜尋字彙</th></tr>
            </thead>
            <tbody>
              <tr><td>datasetName</td><td>資料集名稱，關鍵字模糊查詢</td><td><a href="https://portal.taibif.tw/api/v2/dataset?datasetName=海龜" target="_blank">https://portal.taibif.tw/api/v2/dataset?datasetName=海龜</a></td><td></td></tr>
              <tr><td>publisherID</td><td>同 GBIF 發布單位 ID</td><td><a href="https://portal.taibif.tw/api/v2/dataset?publisherID=7c07cec1-2925-443c-81f1-333e4187bdea" target="_blank">https://portal.taibif.tw/api/v2/dataset?publisherID=7c07cec1-2925-443c-81f1-333e4187bdea</a></td><td></td></tr>
              <tr><td>publisherName</td><td>發布單位名稱，關鍵字模糊查詢</td><td><a href="https://portal.taibif.tw/api/v2/dataset?publisherName=Taiwan" target="_blank">https://portal.taibif.tw/api/v2/dataset?publisherName=Taiwan</a></td><td></td></tr>
              <tr><td>author</td><td>發布者</td><td><a href="https://portal.taibif.tw/api/v2/dataset?author=Li" target="_blank">https://portal.taibif.tw/api/v2/dataset?author=Li</a></td><td></td></tr>
              <tr><td>publicationDate</td><td>資料集發布日期</td><td>單一日期：<a href="https://portal.taibif.tw/api/v2/dataset?publicationDate=2020-07-30" target="_blank">https://portal.taibif.tw/api/v2/dataset?publicationDate=2020-07-30</a> <br>兩個日期之間：<a href="https://portal.taibif.tw/api/v2/dataset?publicationDate=2013-08-12,2020-07-01" target="_blank">https://portal.taibif.tw/api/v2/dataset?publicationDate=2013-08-12,2020-07-01</a></td><td></td></tr>
              <tr><td>datasetModifiedDate</td><td>資料集更新日期</td><td><a href="https://portal.taibif.tw/api/v2/dataset?datasetModifiedDate=2020-07-30" target="_blank">https://portal.taibif.tw/api/v2/dataset?datasetModifiedDate=2020-07-30</a></td><td></td></tr>
              <tr><td>gbifDatasetID</td><td>GBIF 資料集 ID</td><td><a href="https://portal.taibif.tw/api/v2/dataset?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716" target="_blank">https://portal.taibif.tw/api/v2/dataset?gbifDatasetID=233783dc-e13a-4770-9d24-797590ff8716</a></td><td></td></tr>
              <tr><td>license</td><td>資料授權格式</td><td><a href="https://portal.taibif.tw/api/v2/dataset?license=CC0" target="_blank">https://portal.taibif.tw/api/v2/dataset?license=CC0</a> <br><a href="https://portal.taibif.tw/api/v2/dataset?license=CC-BY" target="_blank">https://portal.taibif.tw/api/v2/dataset?license=CC-BY</a></td><td>CC0, CC-BY, CC-BY-NC, NA</td></tr>
              <tr><td>core</td><td>資料核心集</td><td><a href="https://portal.taibif.tw/api/v2/dataset?core=OCCURRENCE" target="_blank">https://portal.taibif.tw/api/v2/dataset?core=OCCURRENCE</a></td><td>SAMPLINGEVENT, OCCURRENCE, CHECKLIST, METADATA, OTHER</td></tr>
              	
            </tbody>
          </table>
          <h4>回傳欄位說明：</h4>
          使用 Dataset API 回傳欄位包含查詢參數，總共 12 個欄位。
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>回傳欄位</th><th>說明</th><th>型態</th></tr>
            </thead>
            <tbody>
              <tr><td>datasetShortName</td><td>資料集在 IPT 上的 short name</td><td>String</td></tr>
              <tr><td>doi</td><td>數位物件識別號（Digital Object Identifier）</td><td>String</td></tr>
              <tr><td>numRecord</td><td>資料筆數</td><td>String</td></tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 pub-data-content hide" data-cat="publisher_api">
          <h1 class="heading-lg-ul">
            發布單位 Publisher API
          </h1>
          <div class="pub-data-section">
            <h4>查詢方式：</h4>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>用途</th><th>參數名稱 {parameter}</th><th>查詢網址</th></tr>
            </thead>
            <tbody>
              <tr><td>取得發布單位資訊</td><td>publisherName, publisherID, countryCode</td><td>/api/v2/publisher/</td></tr>	
            </tbody>
          </table>

          <h4>查詢參數說明：</h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>參數名稱{parameter}</th><th>說明</th><th>範例</th></tr>
            </thead>
            <tbody>
              <tr><td>publisherName</td><td>單位名稱，關鍵字模糊查詢</td><td><a href="https://portal.taibif.tw/api/v2/publisher?publisherName=Forestry" target="_blank">https://portal.taibif.tw/api/v2/publisher?publisherName=Forestry</a></td></tr>
              <tr><td>publisherID</td><td>於 TaiBIF 註冊的發布單位列表，同 GBIF 發布單位 ID</td><td><a href="https://portal.taibif.tw/api/v2/publisher?publisherID=e506ec0c-b3c5-4c3d-ae69-ebc56596fc52" target="_blank">https://portal.taibif.tw/api/v2/publisher?publisherID=e506ec0c-b3c5-4c3d-ae69-ebc56596fc52</a></td></tr>
              <tr><td>countryCode</td><td>發布單位國家代碼，使用 ISO 3166-1 兩碼</td><td><a href="https://portal.taibif.tw/api/v2/publisher?countryCode=TW" target="_blank">https://portal.taibif.tw/api/v2/publisher?countryCode=TW</a></td></tr>
            </tbody>
          </table>

          <h4>其他回傳欄位說明：</h4> 使用 Publisher API 回傳欄位包含查詢參數，總共 8 個欄位。
          <table class="table table-striped table-bordered">
            <thead>
              <tr><th>回傳欄位</th><th>說明</th><th>型態</th></tr>
            </thead>
            <tbody>
              <tr><td>description</td><td>發布單位描述</td><td>String</td></tr>
              <tr><td>administrativeContact</td><td>發布單位聯絡人</td><td>String</td></tr>
              <tr><td>countryOrArea</td><td>發布單位國家</td><td>String</td></tr>
              <tr><td>installations</td><td>裝置</td><td>String</td></tr>
              <tr><td>technicalContact</td><td>技術聯絡人</td><td>String</td></tr>
            </tbody>
          </table>
        </div>
        {% endif%}
        {% if LANGUAGE_CODE == "en" %}
        
        {% include "inc_breadcrumb.html" with tab="01" active_label="Publish Your Data"%}
          <!-- row begin -->
          <div class="row">
            <!-- visible-xs modal begin -->
            <div class="visible-xs">
              <a href="javascript:void(0)" class="xs-schedule-flow-btn myicon icon-arrow-left" data-toggle="modal" data-target="#flowBtnModal">
                更多資料上傳介紹
              </a>
            </div>
      
            <!-- xs-schedule-navBtn-modal begin -->
            <div class="modal right fade" id="flowBtnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
      
                  <div class="modal-body">
                    <span class="modal-close myicon icon-close" data-dismiss="modal" aria-label="Close"></span>
                    <ul class="schedule-flow-nav-wrapper">
                      {% include "taibif-api-nav-items.html" %}
                    </ul>
                    </p>
                  </div>
      
                </div>
                <!-- modal-content -->
              </div>
              <!-- modal-dialog -->
            </div>
            <!-- xs-schedule-navBtn-modal end -->
      
            <!-- visible-xs modal end -->
      
            
            <!-- left nav begin -->
            <div class="col-sm-3 hidden-xs">
              <ul class="schedule-flow-nav-wrapper">
                {% include "taibif-api-nav-items.html" %}
              </ul>
            </div>
            <!-- left nav end -->
        <div class="col-xs-12 col-sm-9 pub-data-content" data-cat="sop">
          
        </div>
        {% endif%}
      <!-- right content end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
{% endblock %}
