{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "參與協作者培訓" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/tech-class-license.css' %}">
{% endblock head %}

{% block script %}
<script>
$(document).ready(function () {
    function updateBreadcrumb(dataCat, text) {
        // 移除現有的動態生成的麵包屑
        $('ol.breadcrumb li.dynamic-item').remove();

        // 動態新增麵包屑
        const dynamicBreadcrumb = 
            '<li class="breadcrumb-item active dynamic-item" aria-current="page" data-cat="' + dataCat + '">' 
            + text + 
            '</li>';

        $('ol.breadcrumb').append(dynamicBreadcrumb);
    }

    // 預設 hash 值
    const defaultHash = 'training';

    // 進入頁面時，初始化 url 上的 hash
    if (!window.location.hash) {
        window.location.hash = defaultHash;
    }

    // 獲取當前 url 上的 hash，若不存在則使用預設值
    const hash = window.location.hash.substring(1) || defaultHash;
    if (hash) {
        $('.dropdown-item[data-cat="' + hash + '"]').click();
    }

    // 根據 hash 初始化麵包屑
    const $matchedItem = $('.dropdown-item[data-cat="' + hash + '"]');
    if ($matchedItem.length) {
        const text = $matchedItem.text();
        updateBreadcrumb(hash, text); 
    }

    // 點擊 dropdown-item 更新麵包屑
    $('.dropdown-item').on('click', function (e) {

        // 取得 data-cat 和文字內容
        const dataCat = $(this).data('cat');
        const text = $(this).text();

        // 更新 url
        window.location.hash = dataCat;

        // 更新麵包屑
        updateBreadcrumb(dataCat, text);
    });
});
</script>
{% endblock %}


{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "參與協作者培訓" %}</h1>
            <img src="{% static 'images/mascot-frog.png'%}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5 container-1340">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "教育資源" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "參與協作者培訓" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- col left begin -->
    <div class="col-12 col-md-3">
        <div class="dropdown dropdown-flexible-wrapper">
            <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown" aria-expanded="false">
            {% trans "參與協作者培訓" %}
            </a>
            <div class="dropdown-menu-flexible d-md-block">
                <a data-cat="training" class="dropdown-item nav-item current-sunset" href="#training">{% trans "TaiBIFer 協作者培訓制度" %}</a>
                <a data-cat="application" class="dropdown-item nav-item" href="#application">{% trans "申請成為 TaiBIFer 協作者" %}</a>
                <a data-cat="list" class="dropdown-item nav-item" href="#list">{% trans "TaiBIFer 協作者名單" %}</a>
            </div>
        </div>
    </div>
    <!-- col left end -->

    <!-- col right begin -->
    <div data-cat="training" class="col-12 col-md-9 nav-item-content content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "協作者培訓制度說明" %}</h4>
        <div class="article-content-wrapper">
            <h3>{% trans "培訓目的" %}</h3>
        </div>
        <p>
            {% trans "生物多樣性資訊為台灣近年越趨興盛的跨領域學門，乃結合了生物多樣性及資訊學領域的知識，" %}
            {% trans "將資料加以分析並可應用於研究、政策等各個層面。然而，由於這個學門所需的知識門檻較高，" %}
            {% trans "許多想參與的人往往因知識或技術不足而望之卻步，在台灣目前也缺乏相關人才培訓的體制，" %}
            {% trans "所以 TaiBIF 團隊希望能透過培訓制度的建立，除了吸引更多人投入生物多樣性資訊領域，" %}
            {% trans "也能培育出更多專業人力，甚至創造出許多新興的職涯發展機會。" %}
        </p>

        <div class="article-content-wrapper">
            <h3>{% trans "協作者類型及內容" %}</h3>
        </div>
        <ul>
            <li class="sub-heading-2">{% trans "翻譯協作者" %}</li>
            <ul>
                <li><strong>{% trans "任務內容" %}</strong>{% trans "： 協助翻譯文件，文件來源主要來自GBIF或其他國際組織的專業技術資源，將以英翻中為主。" %}</li>
                <li><strong>{% trans "條件門檻" %}</strong>{% trans "： 需有良好中英文讀寫能力，附上相關英文檢定證明或翻譯作品者佳。" %}</li>
                <li><strong>{% trans "報酬回饋" %}</strong>{% trans "： 按照原文字數計酬，依照TaiBIF 團隊評估試譯的結果訂定，每千字 1,610-2,800 元。" %}</li>
            </ul>

            <li class="sub-heading-2">{% trans "推廣大使" %}</li>
            <ul>
                <li><strong>{% trans "任務內容" %}</strong>{% trans "： 協助工作坊教學，以擔任課程助教為主，可進階成為講師。" %}</li>
                <li><strong>{% trans "條件門檻" %}</strong>{% trans "： 須對開放資料有一點基礎了解，以生物多樣性背景為佳，且表達清晰。" %}</li>
                <li><strong>{% trans "報酬回饋" %}</strong>{% trans "： 協助工作坊教學每小時1,000元，進階成為講師則以每小時2,000元計。" %}</li>
            </ul>

            <li class="sub-heading-2">{% trans "資料清理協作者" %}</li>
            <ul>
                <li><strong>{% trans "任務內容" %}</strong>{% trans "： 協助客製化的資料清理。" %}</li>
                <li><strong>{% trans "條件門檻" %}</strong>{% trans "： 需有開放資料經驗，且對資料具敏感度，至少要會使用excel處理基本資料問題。" %}</li>
                <li><strong>{% trans "報酬回饋" %}</strong>{% trans "： 依據需要資料清理的團隊組織的需求為主，根據資料量和處理難度來按件計酬。" %}</li>
            </ul>

            <li class="sub-heading-2">{% trans "名錄資料協作者" %}</li>
            <ul>
                <li><strong>{% trans "任務內容" %}</strong>{% trans "： 協助臺灣物種名錄補充相關資料。" %}</li>
                <li><strong>{% trans "條件門檻" %}</strong>{% trans "： 需至少有生物分類學基礎，分類研究者尤佳。" %}</li>
                <li><strong>{% trans "報酬回饋" %}</strong>{% trans "： 每年年末依據建立資料量，提供修訂補助。" %}</li>
            </ul>
        </ul>

        <div class="article-content-wrapper">
            <h3>{% trans "培訓機制" %}</h3>
        </div>
        <ul class="volunteer-mechanism-list">
            <li><span class="highlight-box-primary">{% trans "必要" %}</span> {% trans "至少上過一次完整工作坊課程" %}</li>
                <ul>
                    <li>{% trans "TaiBIF工作坊：翻譯協作者、推廣大使、資料清理協作者" %}</li>
                    <li>{% trans "TaiCOL工作坊：名錄資料協作者" %}</li>
                </ul>
            <li><span class="highlight-box-primary">{% trans "必要" %}</span> {% trans "全部通過作業及基本測驗並拿到證書" %}</li>
            <li><span class="highlight-box-secondary">{% trans "選擇" %}</span><strong> {% trans "翻譯協作者" %}</strong>{% trans "：試譯一段文章段落，進階拿到翻譯協作者認證" %}</li>
            <li><span class="highlight-box-secondary">{% trans "選擇" %}</span><strong> {% trans "推廣大使" %}</strong>{% trans "：至少擔任過一次實習助教，拿到實習證明；若要擔任講師，則需另外安排試講" %}</li>
            <li><span class="highlight-box-secondary">{% trans "選擇" %}</span><strong> {% trans "資料清理協作者" %}</strong>{% trans "：TaiBIF 提供原始資料集，需按照情境題完成資料發布" %}</li>
            <li><span class="highlight-box-secondary">{% trans "選擇" %}</span><strong> {% trans "名錄資料協作者" %}</strong>{% trans "：完成TaiCOL工作坊考核要求，至少新增/補充20筆資料，或至少建立10筆學名使用（單筆文獻或多筆文獻總和）。" %}</li>
            <li><span class="highlight-box-primary">{% trans "有條件必要" %}</span> {% trans "培訓通過考核後可開始與TaiBIF合作提供相關服務，但若完成認證後" %}<strong>{% trans "一年內未執行任何一次服務且未接觸其他任何生物多樣性資訊相關工作者 (翻譯協作者三年內)" %}</strong>{% trans "，則需重新跑過下列流程：" %}</li>
                <ul>
                    <li>{% trans "必要條件第二項，須重新繳交作業和完成測驗（不需再參加一次工作坊）。" %}</li>
                    <li>{% trans "選擇條件：依據類別重新執行一次（翻譯協作者須再次完成試譯；推廣大使須再擔任一次實習助教；資料清理協作者須再次接受資料發布測驗）" %}</li>
                </ul>
        </ul>

        <div class="article-content-wrapper">
            <h3>{% trans "服務流程" %}</h3>
        </div>
        <ul>
            <li><strong>{% trans "翻譯協作者" %}</strong>{% trans "：TaiBIF 安排所需翻譯文件，放到Crowdin上，翻譯者可自行到專案翻譯，完成後按照字數計酬。" %}</li>
            <li><strong>{% trans "推廣大使" %}</strong>{% trans "：每年TaiBIF 會舉辦1-2次對外實體工作坊，會寄發通知招募助教，並按實際協助教學時數計酬，差旅費另計。" %}</li>
            <li><strong>{% trans "資料清理協作者" %}</strong>{% trans "：針對客製化個案（需要整理資料的單位提出申請，TBIA夥伴單位可優先）徵詢處理的協作者，並分派適合人選（按背景、專長、興趣），由申請單位按件計酬，NGO組織可另議。" %}</li>
            <li><strong>{% trans "名錄資料協作者" %}</strong>{% trans "：於TaiCOL學名管理工具上幫忙補充缺少資訊，看到有缺就可以幫忙補。可回報欲認領之類群或是期刊後，自行安排定期巡邏有無新的分類相關文獻發表，自行到工具上登錄資訊。資料庫會自動記錄編輯動作，無需另外回報。" %}</li>
        </ul>

        <div class="article-content-wrapper">
            <h3>{% trans "協作者福利" %}</h3>
        </div>
        <ul>
            <li>{% trans "每年可安排一次中研院博物館導覽" %}</li>
            <li>{% trans "可獲得TaiBIF & TaiCOL 精美紀念品" %}</li>
            <li>{% trans "TBiA 夥伴單位相關福利（安排中）" %}</li>
            <li>{% trans "其他不定期小驚喜安排中" %}</li>
        </ul>
    </div>

    <div data-cat="application" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "申請成為 TaiBIFer 協作者" %}</h4>
        <p>
            {% trans "要成為TaiBIFer，必要條件為參與TaiBIF 所辦理的「生物多樣性資料發布及應用工作坊」並完成核心及增能課程認證，每年會舉辦兩次，" %}
            開放報名時間請隨時關注<a href="https://www.facebook.com/TaiBIF.tw/" target="_blank">{% trans "TaiBIF粉絲頁" %}</a>最新消息。完成課程認證後，我們將會依據您於報名時所選的協作者類型，與您聯繫進一步的考核事宜。
        </p>

        <div class="article-content-wrapper">
            <h3>{% trans "工作坊課程認證辦法" %}</h3>
        </div>
        <p>
            {% trans "每期工作坊皆有4項課程指定作業，包含2項核心作業及2項增能作業。完成課程指定作業，" %}
            {% trans "並於課後一個月內繳交至線上作業繳交表單，經各項主題課程講師評分後，分數達標即可獲得TaiBIF課程認證證書。" %}
        </p>

        <div class="article-content-wrapper">
            <h3>{% trans "指定作業項目" %} <span class="highlight-box-primary highlight-box-small">{% trans "將持續更新" %}</span></h3>
        </div>
        <div class="sub-heading-2">{% trans "核心作業" %}</div>
        <ol>
            <li>{% trans "DwC 資料欄位對應 + Sampling Event 資料集整理" %}</li>
            <li>{% trans "資料集上傳TaiBIF test IPT" %}</li>
        </ol>
        <div class="sub-heading-2">{% trans "增能作業" %}</div>
        <ol>
            <li>{% trans "openRefine 資料清理" %}</li>
            <li>{% trans "開放資料下載" %}</li>
        </ol>

        <div class="article-content-wrapper">
            <h3>{% trans "作業評核標準" %}</h3>
        </div>
        <div class="sub-heading-2">{% trans "核心作業" %}</div>
        <p>{% trans "核心作業每項滿分20分，累計各項作業總分達25分即通過。" %}</p>
        <div class="sub-heading-2">{% trans "增能作業" %}</div>
        <p>{% trans "此認證須完成包含核心作業在內所有作業，每項滿分20分，累計各項作業總分達60分即通過；40分以上未達60分者則給予核心認證。" %}</p>

        <div class="article-content-wrapper">
            <h3>{% trans "證書樣式" %}</h3>
        </div>
        <div class="certification-container">
            <img src="{% static 'images/workshop_certification.png'%}"/>
            <img src="{% static 'images/workshop_certification_advanced.png'%}"/>
        </div>
    </div>

    <div data-cat="list" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "TaiBIFer 協作者名單" %}</h4>
        {% if grouped_taibifer %}
            {% for role, years in grouped_taibifer.items %}
                <div class="article-content-wrapper">
                    <h4>{{ role }}</h4>
                </div>
                <div class="table-responsive">
                    <table class="table content-readable-table">
                        <thead>
                            <tr>
                                <th>{% trans "年度" %}</th>
                                <th>{% trans "名單" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year, names in years.items %}
                                {% for name in names %}
                                    <tr>
                                        <td>{% blocktrans trimmed %}{{ year }}年度{% endblocktrans %}</td>
                                        <td>{{ name }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <strong>{% trans "目前沒有協作者資料。" %}</strong>
        {% endif %}
        <div class="article-content-wrapper">
            <h3>{% trans "證書樣式" %}</h3>
        </div>
        <div class="certification-volunteer-container">
            <img src="{% static 'images/workshop_certification_promotor.jpg'%}"/>
            <img src="{% static 'images/workshop_certification_cleaner.jpg'%}"/>
            <img src="{% static 'images/workshop_certification_translator.jpg'%}"/>
        </div>
    </div>
    <!-- col right end -->
</div>
<!-- container end -->
{% endblock %}
