{% extends "base.html" %}
{% load static %}
{% block title %}參與志工培訓{% endblock %}


{% block main %}
    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">參與志工培訓</h1>
            <img src="{% static 'images/mascot-frog.png'%}" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">教育資源</li>
            <li class="breadcrumb-item active" aria-current="page">參與志工培訓</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row">
          <!-- col left begin -->
          <div class="col-12 col-md-3">
  
            <div class="dropdown dropdown-flexible-wrapper">
              <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown" aria-expanded="false">
                參與志工培訓
              </a>
              <div class="dropdown-menu dropdown-menu-flexible d-md-block">
                <a data-cat="training" class="dropdown-item nav-item current-sunset" href="#">TaiBIFer 志工培訓制度</a>
                <a data-cat="application" class="dropdown-item nav-item" href="#">申請成為 TaiBIFer 志工</a>
                <a data-cat="list" class="dropdown-item nav-item" href="#">TaiBIFer 志工名單</a>
              </div>
            </div>
  
          </div>
          <!-- col left end -->
          <!-- col right begin -->
          <div data-cat="training" class="col-12 col-md-9 nav-item-content">
            <h4 class="headline-left-hr">志工培訓制度說明</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="application" class="col-12 col-md-9 nav-item-content hide">
            <h4 class="headline-left-hr">申請成為 TaiBIFer 志工</h4>
            <p>敬請期待</p>
          </div>

          <div data-cat="list" class="col-12 col-md-9 nav-item-content hide">
            <h4 class="headline-left-hr">TaiBIFer 志工名單</h4>
            <p>敬請期待</p>
          </div>
          <!-- col right end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
  


{% endblock %}