{% extends "base.html" %}
{% load static %}
{% block title %}線上教材包{% endblock %}


{% block main %}


    <!-- topnav begin -->
    <div class="bg-main-pale">
      <div class="container">
        <div class="caption-mascot-wrapper">
          <h1 class="title">線上教材包</h1>
          <img src="assets/images/mascot-frog.png" alt="" class="symbol">
        </div>
      </div>
    </div>
    <!-- topnav end -->
    <!-- container begin -->
    <div class="container my-5">
      <!-- breadcrumb begin -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item">教育資源</li>
          <li class="breadcrumb-item active" aria-current="page">線上教材包</li>
        </ol>
      </nav>
      <!-- breadcrumb end -->
      <!-- row begin -->
      <div class="row">
        <!-- col left begin -->
        <div class="col-12 col-md-3">

          <div class="dropdown dropdown-flexible-wrapper">
            <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown">
              線上教材包
            </a>
            <div class="dropdown-menu dropdown-menu-flexible">
              <a class="dropdown-item current-sunset" href="#">01-開放資料流程</a>
              <a class="dropdown-item" href="#">02-資料發布類型</a>
              <a class="dropdown-item" href="#">03-資料標準及共通欄位</a>
              <a class="dropdown-item" href="#">04-開放授權規範</a>
            </div>
          </div>

        </div>
        <!-- col left end -->
        <!-- col right begin -->
        <div class="col-12 col-md-9">
          <div class="embed-responsive embed-responsive-3by2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ngalC1o8PrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="my-4">
            <h4 class="headline-left-hr">課程說明：</h4>
            <p>一份好的資料集，必須可以再利用（具互操作性），若能提供越多欄位資料，則資料的品質及價值也能相對地提高，在任何情況下，資料集至少要有下列所述 Darwin Core 欄位</p>
            <h4 class="headline-left">相關參考連結：</h4>
            <ul>
              <li>DwC 資料欄位的各集合內容：<a href="https://tools.gbif.org/dwca-validator/extensions.do" target="_blank">Darwin Core Registered Extensions</a>（按 core 和 extension 分類）</li>
              <li>DwC 資料欄位標準英文定義快速查詢：<a href="https://dwc.tdwg.org/terms/" target="_blank">Darwin Core Quick Reference Guide</a>（按詞條的 class 分類）</li>
            </ul>
          </div>
        </div>
        <!-- col right end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->


{% endblock %}