{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}線上教材包{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    var hash = window.location.hash.substring(1);
    if (hash) {
        $('.dropdown-item[data-cat="' + hash + '"]').click();
    }

});
</script>
{% endblock %}


{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">線上教材包</h1>
            <img src="{% static 'images/mascot-frog.png'%}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">首頁</a></li>
            <li class="breadcrumb-item">教育資源</li>
            <li class="breadcrumb-item active" aria-current="page">線上教材包</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- row begin -->
    <div class="row">
        <!-- col left begin -->
        <div class="col-12 col-md-3">
            <div class="dropdown dropdown-flexible-wrapper">
                <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown" aria-expanded="false">
                    線上教材包
                </a>
                <div class="dropdown-menu-flexible d-md-block">
                    <a data-cat="standard-00" class="dropdown-item nav-item current-sunset" href="#standard-00">{% trans "基礎00-TaiBIF簡介" %}</a>
                    <a data-cat="standard-01" class="dropdown-item nav-item" href="#standard-01">{% trans "基礎01-開放資料流程" %}</a>
                    <a data-cat="standard-02" class="dropdown-item nav-item" href="#standard-02">{% trans "基礎02-資料發布類型" %}</a>
                    <a data-cat="standard-03" class="dropdown-item nav-item" href="#standard-03">{% trans "基礎03-資料標準及共通欄位" %}</a>
                    <a data-cat="standard-04" class="dropdown-item nav-item" href="#standard-04">{% trans "基礎04-開放資料的前置準備及清理" %}</a>
                    <a data-cat="standard-05" class="dropdown-item nav-item" href="#standard-05">{% trans "基礎05-生物多樣性敏感資料處理原則" %}</a>
                    <a data-cat="standard-06" class="dropdown-item nav-item" href="#standard-06">{% trans "基礎06-資料上傳 IPT" %}</a>
                    <a data-cat="advanced-01" class="dropdown-item nav-item" href="#advanced-01">{% trans "進階01-開放資料授權規範" %}</a>
                    <a data-cat="advanced-02" class="dropdown-item nav-item" href="#advanced-02">{% trans "進階02-TBIA及入口網介紹" %}</a>
                    <a data-cat="advanced-03" class="dropdown-item nav-item" href="#advanced-03">{% trans "進階03-如何下載及引用開放資料" %}</a>
                    <a data-cat="advanced-04" class="dropdown-item nav-item" href="#advanced-04">{% trans "進階04-資料論文" %}</a>
                    <a data-cat="advanced-05" class="dropdown-item nav-item" href="#advanced-05">{% trans "進階05-OpenRefine 資料清理工具介紹與實作" %}</a>
                </div>
            </div>
        </div>
        <!-- col left end -->

        <!-- col right begin -->
        <div data-cat="standard-00" class="col-12 col-md-9 nav-item-content">
            <h1 class="heading-lg-ul">{% trans "基礎00-TaiBIF簡介" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=17ljFmWp-Us&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/sC16pqun40vjyV?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20240520-TaiBIF和GBIF介紹-劉璟儀.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-01" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎01-開放資料流程" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=TzJeR3IH2pM&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/qLkhlr7AansjFq?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20230913-開放資料流程-柯智仁.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-02" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎02-資料發布類型" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=Z4k4VdP1BsA&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/3ZgsImbD8GtGqW?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20230913 資料發布類型-陳建文.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-03" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎03-資料標準及共通欄位" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=MnwZGrtx6cM&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/9doAWSglaZUzIs?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20230913-資料標準-劉璟儀.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-04" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎04-開放資料的前置準備及清理" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=V2kPk1QPj50&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/qR3uE5bEgJSm9u?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20240521-開放資料的前置準備與清理-楊富鈞.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-05" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎05-生物多樣性敏感資料處理原則" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=bQ4mDAkt9YI&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/2kqzgnlttJaY9H?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20240520-敏感資料處理原則-柯智仁.pptx.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="standard-06" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "基礎06-資料上傳 IPT" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/68wnofrPt4FlcO?hostedIn=slideshare&amp;page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/article/download/TaiBIF IPT操作說明 2023 v2.6.3.pdf" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="advanced-01" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "進階01-開放資料授權規範" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UnzcKgEM9no?si=hHQRBc8LV3Z6SEMD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/DdVaLmtjx8Fm99?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20220317-開放授權規範-林誠夏.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="advanced-02" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "進階02-TBIA及入口網介紹" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=HVPAzVhx7lc&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/rRI1Aiabd90wF9?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20240522-如何下載與引用TBIA資料-張俊怡.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="advanced-03" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "進階03-如何下載及引用開放資料" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wMx4jQCsPsQ?si=-dsnxl6DEwMACDD8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/fRyr4Q1P43w2Tq?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20220325-如何下載與引用資料-柯智仁.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="advanced-04" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "進階04-資料論文" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sVHBnLy9rMk?si=14g9WhfPKiATUJ6L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/5HTo588IJSl6wM?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20230513-datapaper-何芷蔚.pdf" target="_blank" class="myicon icon-download-document"></a></p>
            </div>
        </div>

        <div data-cat="advanced-05" class="col-12 col-md-9 nav-item-content hide">
            <h1 class="heading-lg-ul">{% trans "進階05-OpenRefine 資料清理工具介紹與實作" %}</h1>
            <div class="article-content-wrapper">
                <div class="article-content-wrapper">
                    <h3>{% trans "教學影片" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=zR1B2xJFrBI&list=PLE7KqWTjcep34RX6AuFc2Y2h8DkrmCQSn&index=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <!-- <div class="article-content-wrapper">
                    <h3>{% trans "教學講義" %}</h3>
                </div>
                <div class="embed-responsive embed-responsive-3by2">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/2kqzgnlttJaY9H?hostedIn=slideshare&page=upload" width="850" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <p class="mt-3">PDF 講義下載：<a href="/media/online-workshop-handouts/20240521-資料清理 OpenRefine- 劉璟儀.pdf" target="_blank" class="myicon icon-download-document"></a></p> -->
            </div>
        </div>
        <!-- col right end -->
    </div>
    <!-- row end -->
</div>
<!-- container end -->
{% endblock %}