{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "課程認證" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/tech-class-license.css' %}">
{% endblock head %}

{% block script %}
<script>
$(document).ready(function () {
    function updateBreadcrumb(dataCat, text) {
        // 移除現有的動態生成的麵包屑
        $('ol.breadcrumb li.dynamic-item').remove();

        // 動態新增麵包屑
        const dynamicBreadcrumb = 
            '<li class="breadcrumb-item active dynamic-item" aria-current="page" data-cat="' + dataCat + '">' 
            + text + 
            '</li>';

        $('ol.breadcrumb').append(dynamicBreadcrumb);
    }

    // 預設 hash 值
    const defaultHash = 'standard-course';

    // 進入頁面時，初始化 url 上的 hash
    if (!window.location.hash) {
        window.location.hash = defaultHash;
    }

    // 獲取當前 url 上的 hash，若不存在則使用預設值
    const hash = window.location.hash.substring(1) || defaultHash;
    if (hash) {
        $('.dropdown-item[data-cat="' + hash + '"]').click();
    }

    // 根據 hash 初始化麵包屑
    const $matchedItem = $('.dropdown-item[data-cat="' + hash + '"]');
    if ($matchedItem.length) {
        const text = $matchedItem.text();
        updateBreadcrumb(hash, text); 
    }

    // 點擊 dropdown-item 更新麵包屑
    $('.dropdown-item').on('click', function (e) {

        // 取得 data-cat 和文字內容
        const dataCat = $(this).data('cat');
        const text = $(this).text();

        // 更新 url
        window.location.hash = dataCat;

        // 更新麵包屑
        updateBreadcrumb(dataCat, text);
    });
});
</script>
{% endblock %}


{% block main %}
<!-- topnav begin -->
<div class="bg-main-pale">
    <div class="container">
        <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "課程認證" %}</h1>
            <img src="{% static 'images/mascot-frog.png'%}" alt="" class="symbol">
        </div>
    </div>
</div>
<!-- topnav end -->

<!-- container begin -->
<div class="container container-1340 my-5">
    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "教育資源" %}</li>
            <li class="breadcrumb-item active" ><a href="{% url 'tech-workshop' %}">{% trans "資料開放與應用工作坊" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "課程認證" %}</li>
        </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- col left begin -->
    <div class="col-12 col-md-3">
        <div class="dropdown dropdown-flexible-wrapper">
            <a class="btn btn-toggle-flexible visible-xs" href="#" data-toggle="dropdown" aria-expanded="false">
                {% trans "課程認證" %}
            </a>
            <div class="dropdown-menu-flexible d-md-block">
                <a data-cat="standard-course" class="dropdown-item nav-item current-sunset" href="#standard-course">{% trans "核心課程" %}</a>
                <a data-cat="advanced-course" class="dropdown-item nav-item" href="#advanced-course">{% trans "增能課程" %}</a>
                <a data-cat="certification-method" class="dropdown-item nav-item" href="#certification-method">{% trans "認證辦法" %}</a>
                <a data-cat="online-workshop-certification" class="dropdown-item nav-item" href="#online-workshop-certification">{% trans "線上自學工作坊課程認證" %}</a>
                <a data-cat="certified-list" class="dropdown-item nav-item" href="#certified-list">{% trans "歷年通過認證名單" %}</a>
            </div>
        </div>
    </div>
    <!-- col left end -->
    <!-- col right begin -->
    <div data-cat="standard-course" class="col-12 col-md-9 nav-item-content content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "核心課程" %}</h4>
        <p>{% trans "此部分為開放資料所需學習之必修課程，亦為 IPT 帳號審核相關依據" %}</p>
        <div class="article-content-wrapper">
            <h3>{% trans "基礎概論" %}</h3>
        </div>
        <p>
            <ol>
                <li>{% trans "開放資料流程" %}</li>
                <li>{% trans "資料發布類型" %}</li>
                <li>{% trans "資料標準及共通欄位" %}</li>
                <li><span class="highlight-box-primary">HW</span> {% trans "資料欄位對應（DwC）實作練習" %}</li>
                <li>{% trans "敏感物種資料處理原則" %}</li>
            </ol>
        </p>
        <div class="article-content-wrapper">
            <h3>{% trans "資料處理及上傳" %}</h3>
        </div>
        <p>
            <ul>
                <li><span class="highlight-box-primary">HW</span> {% trans "開放資料的前置準備" %}</li>
                <li><span class="highlight-box-primary">HW</span> {% trans "如何上傳資料至 IPT" %}</li>
            </ul>
        </p>
    </div>

    <div data-cat="advanced-course" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "增能課程" %}</h4>
        <div class="article-content-wrapper">
            <h3>{% trans "資料處理及上傳" %}</h3>
        </div>
        <p>
            <ol>
                <li><span class="highlight-box-primary">{% trans "增能 HW" %}</span> {% trans "用工具進行資料清理" %}</li>
            </ol>
        </p>
        <div class="article-content-wrapper">
            <h3>{% trans "資料管理及應用" %}</h3>
        </div>
        <p>
            <ol>
                <li>{% trans "介紹臺灣生物多樣性資訊聯盟（TBIA）及共通資料庫查詢系統（入口網）" %} </li>
                <li><span class="highlight-box-primary">{% trans "增能 HW" %}</span> {% trans "怎麼下載GBIF資料及引用" %}</li>
                <li>{% trans "資料應用案例介紹、資料論文、如何避免資料誤用" %}</li>
                <li>{% trans "資料管理方案（DMP）實務探討（depositar）" %}</li>
            </ol>
        </p>
    </div>

    <div data-cat="certification-method" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "認證辦法" %}</h4>
        <p>
            {% trans "每期工作坊皆有4項課程指定作業，包含2項核心作業及2項增能作業。 完成課程指定作業，並於課後一個月內繳交至線上作業繳交表單，" %}
            {% trans "經各項主題課程講師評分後，分數達標即可獲得TaiBIF課程認證證書。" %}
        </p>
        <div class="article-content-wrapper">
            <h3>{% trans "指定作業項目（將持續更新）" %}</h3>
        </div>
        <p>
            <strong>{% trans "核心作業" %}</strong>
            <ol>
                <li>{% trans "DwC 資料欄位對應 + Sampling Event 資料集整理" %}</li>
                <li>{% trans "資料集上傳TaiBIF test IPT" %}</li>
            </ol>
        </p>
        <p>
            <strong>{% trans "增能作業" %}</strong>
            <ol>
                <li>{% trans "openRefine 資料清理" %}</li>
                <li>{% trans "開放資料下載" %}</li>
            </ol>
        </p> 
        <div class="article-content-wrapper">
            <h3>{% trans "作業評核標準" %}</h3>
        </div>
        <p>
            <strong>{% trans "核心認證" %}</strong>
            <p>{% trans "核心作業每項滿分20分，累計各項作業總分達25分即通過。" %}</p>
        </p>
        <p>
            <strong>{% trans "增能認證" %}</strong>
            <p>{% trans "此認證須完成包含核心作業在內所有作業，每項滿分20分，累計各項作業總分達60分即通過；40分以上未達60分者則給予核心認證。" %}</p>
        </p> 
        <div class="article-content-wrapper">
            <h3>{% trans "證書樣式" %}</h3>
        </div>
        <div class="certification-container">
            <img src="{% static 'images/workshop_certification.png'%}"/>
            <img src="{% static 'images/workshop_certification_advanced.png'%}"/>
        </div>
    </div>

    <div data-cat="online-workshop-certification" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h1 class="heading-lg-ul">{% trans "線上自學工作坊課程認證" %}</h1>
        <p>
            若您有申請<a href="{% url 'open-consulation' %}">{% trans "線上自學工作坊" %}</a>{% trans "，則請點選" %}<a href="https://forms.gle/DoG5epPyfyS3BsrJA" target="_blank">{% trans "線上自學工作坊作業繳交區" %}</a>，上傳核心和增能認證作業，並聯繫我們告知您已完成作業。
        </p>
    </div>

    <div data-cat="certified-list" class="col-12 col-md-9 nav-item-content hide content-readable-panel">
        <h4 class="heading-lg-ul">{% trans "歷年通過認證名單" %}</h4>
        <p>
            {% trans "課程認證制度自 2022-09-26 起（2022最後場次工作坊）實施" %}
        </p>
        <div class="certification-container">
            <img src="{% static 'images/workshop_certification.png'%}"/>
            <img src="{% static 'images/workshop_certification_advanced.png'%}"/>
        </div>
        {% for year, levels in certification_data.items %}
            <div class="article-content-wrapper">
                <h3>{% blocktrans trimmed %}{{ year }}年度{% endblocktrans %}</h3>
            </div>
            {% if levels.basic %}
                <div>
                    <strong>{% trans "核心課程通過名單" %}</strong><small>（共計 {{ levels.basic|length }} 名）</small>
                    <ul class="certification-list-container">
                        {% for name in levels.basic %}
                            <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if levels.advanced %}
                <div>
                    <strong>{% trans "增能課程通過名單" %}</strong><small>（共計 {{ levels.advanced|length }} 名）</small>
                    <ul class="certification-list-container">
                        {% for name in levels.advanced %}
                            <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- col right end -->
</div>
<!-- container end -->
{% endblock %}
