{% extends "base.html" %}
{% load static %}
{% block title %}感謝名單{% endblock %}


{% block main %}

 <!-- topnav begin -->
 <div class="bg-main-pale">
  <div class="container">
    <div class="caption-mascot-wrapper">
      <h1 class="title">感謝名單</h1>
      <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
    </div>
  </div>
</div>
<!-- topnav end -->

 <!-- container begin -->
 <div class="container my-5">

    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
        <li class="breadcrumb-item">關於我們</li>
        <li class="breadcrumb-item active" aria-current="page">感謝名單</li>
      </ol>
    </nav>
    <!-- breadcrumb end -->
    <!-- 致謝名單 begin -->
    <div class="my-5">
      <h1 class="headline-center-sm">TaiBIF 參與人員致謝名單</h1>
      <div class="table-responsive mt-3">
        <table class="table table-ltmilo">
          <thead>
            <tr>
              <th class="col-3 col-md-2">姓名</th>
              <th class="col-auto col-md-5">角色類型</th>
              <th class="col-auto col-md-5">參與任務</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>邵廣昭</td>
              <td>歷任團隊成員</td>
              <td>TaiBIF 創辦人</td>
            </tr>
            <tr>
              <td>麥舘碩</td>
              <td>歷任團隊成員、開發協作者</td>
              <td>TaiBIF 資訊系統開發</td>
            </tr>
            <tr>
              <td>穆家宏</td>
              <td>歷任團隊成員、開發協作者</td>
              <td>TaiBIF 資訊系統開發</td>
            </tr>
            <tr>
              <td>邱奕勝</td>
              <td>歷任團隊成員、推廣大使</td>
              <td>社群經營、推廣交流</td>
            </tr>
            <tr>
            <tr>
              <td>李宜軒</td>
              <td>歷任團隊成員、資料清理協作者</td>
              <td>TaiCOL 物種名錄架構規劃</td>
            </tr>
            <tr>
              <td>曾鈺絜</td>
              <td>歷任團隊成員、開發協作者</td>
              <td>TaiCOL 物種名錄及其他資訊系統開發</td>
            </tr>
            <tr>
              <td>王豫煌</td>
              <td>歷任團隊成員、開發協作者</td>
              <td>TaiBIF 歷任節點經理</td>
            </tr>
            <tr>
              <td>柯智仁</td>
              <td>歷任團隊成員</td>
              <td>TaiBIF 歷任節點經理、國際交流</td>
            </tr>
            <tr>
              <td>龔明哲</td>
              <td>歷任團隊成員、開發協作者</td>
              <td>TaiBIF 官網開發</td>
            </tr>
            <tr>
              <td>林永昌</td>
              <td>開發協作者</td>
              <td>早期資料庫系統開發</td>
            </tr>
            <tr>
              <td>Ike Huang</td>
              <td>開發協作者</td>
              <td>TaiBIF 資訊系統開發合作</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 致謝名單 end -->

    <!-- 志工名單 begin -->
    <div class="my-5">
      <h1 class="headline-center-sm">TaiBIF 專業人員/志工名單</h1>
      <div class="table-responsive mt-3">
        <table class="table table-ltmilo">
          <thead>
            <tr>
              <th class="col-3 col-md-2">TaiBIFer 姓名</th>
              <th class="col-auto col-md-5">角色類型</th>
              <th class="col-auto col-md-5">參與任務</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>楊富鈞</td>
              <td>推廣大使、歷任團隊成員</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>方品仁</td>
              <td>翻譯協作者</td>
              <td>GBIF 文件翻譯協作</td>
            </tr>
            <tr>
              <td>何宣慶</td>
              <td>翻譯協作者</td>
              <td>歷任翻譯協作</td>
            </tr>
            <tr>
              <td>曾柏諺</td>
              <td>翻譯協作者</td>
              <td>歷任翻譯協作</td>
            </tr>
            <tr>
              <td>林詠喬</td>
              <td>開發協作者</td>
              <td>TaiBIF 官網開發協作</td>
            </tr>
            <tr>
              <td>柯智仁</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>郭貴嵐</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
            <tr>
              <td>郭姿蒨</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
            <tr>
              <td>鍾惠名</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
            <tr>
              <td>倪旻萱</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
            <tr>
              <td>余佑錚</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>吳俊毅</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>陳佑真</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>陳建文</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>黃俊嘉</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師</td>
            </tr>
            <tr>
              <td>林誠夏</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊講師、TaiBIF 開放授權法制顧問</td>
            </tr>
            <tr>
              <td>何亞凡</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
            <tr>
              <td>賴建成</td>
              <td>推廣大使</td>
              <td>TaiBIF 工作坊助教</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 志工名單 end -->
    <div class="my-5">
      <h1 class="headline-center-sm">指導單位</h1>
      <div class="row justify-content-center align-items-center">
        <div class="col-7 col-md-4 col-supervisor-logo">
            <a href="https://www.nstc.gov.tw/" target="_blank">
                <img src="{% static 'images/logo-supervisor-nstc.png' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-5 col-md-3 col-supervisor-logo">
            <a href="https://www.coa.gov.tw/" target="_blank">
                <img src="{% static 'images/logo-supervisor-coa.png' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-3 col-md-2 col-supervisor-logo">
            <a href="https://www.biodiv.tw" target="_blank">
                <img src="{% static 'images/logo-supervisor-brcas.png' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-5 col-md-3 col-supervisor-logo">
            <a href="https://www.sinica.edu.tw/ch" target="_blank">
                <img src="{% static 'images/logo-supervisor-sinica.png' %}" alt="" class="img-fluid">
            </a>
        </div>
      </div>
    </div>
    <!-- 夥伴單位 begin -->
    <div class="my-5">
      <h1 class="headline-center-sm">夥伴單位</h1>
      <div class="row justify-content-center align-items-center">
        <div class="col-partner-logo">
            <a href="https://www.forest.gov.tw/" target="_blank">
                <img src="{% static 'images/logo-partner-forest.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="#">
                <img src="{% static 'images/logo-partner-endemic.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="https://www.cpami.gov.tw" target="_blank">
                <img src="{% static 'images/logo-partner-cpami.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="https://www.oca.gov.tw/ch/index.jsp" target="_blank">
                <img src="{% static 'images/logo-partner-oca.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="https://www.tfri.gov.tw" target="_blank">
                <img src="{% static 'images/logo-partner-tfri.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="#">
                <img src="{% static 'images/logo-partner-ntm.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="#">
                <img src="{% static 'images/logo-partner-wra.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-partner-logo">
            <a href="#">
                <img src="{% static 'images/logo-partner-depositar.jpg' %}" alt="" class="img-fluid">
            </a>
        </div>
      </div>
    </div>
    <!-- 夥伴單位 end -->
  </div>
  <!-- container end -->

{% endblock %}