{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "感謝名單" %}{% endblock %}


{% block main %}

 <!-- topnav begin -->
 <div class="bg-main-pale">
  <div class="container">
    <div class="caption-mascot-wrapper">
      <h1 class="title">{% trans "感謝名單" %}</h1>
      <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
    </div>
  </div>
</div>
<!-- topnav end -->

 <!-- container begin -->
 <div class="container my-5">

    <!-- breadcrumb begin -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "首頁" %}</a></li>
        <li class="breadcrumb-item">{% trans "關於我們" %}</li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "感謝名單" %}</li>
      </ol>
    </nav>
    <!-- breadcrumb end -->
    <!-- 致謝名單 begin -->
    <div class="my-5">
      <h1 class="headline-center-sm">TaiBIF 參與人員致謝名單</h1>
      <div class="table-responsive mt-3">
        <table class="table table-ltmilo">
          <thead>
            <tr>
              <th class="col-3 col-md-2">姓名</th>
              <th class="col-auto col-md-5">角色類型</th>
              <th class="col-auto col-md-5">參與任務</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in participants %}
              <tr>
                <td>{{ participant.name }}</td>
                <td>{{ participant.role }}</td>
                <td>{{ participant.missions }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- 致謝名單 end -->

    <!-- 志工名單 begin -->
    <div class="my-5">
      <h1 class="headline-center-sm">TaiBIF 專業人員/志工名單</h1>
      <div class="table-responsive mt-3">
        <table class="table table-ltmilo">
          <thead>
            <tr>
              <th class="col-3 col-md-2">TaiBIFer 姓名</th>
              <th class="col-auto col-md-5">角色類型</th>
              <th class="col-auto col-md-5">參與任務</th>
            </tr>
          </thead>
          <tbody>
            {% for taibifer in taibifers %}
              <tr>
                <td>{{ taibifer.name }}</td>
                <td>{{ taibifer.role }}</td>
                <td>{{ taibifer.missions }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- container end -->

{% endblock %}