{% extends "base.html" %}
{% load static %}

{% block main %}
{% include "inc_breadcrumb.html" with tab="02" active_label="工具分享" %}

 <style>
   p{
  line-height: 1.8;
  }

  hr {
  border-top: 1px solid;
    }
 </style>

  <!-- container begin -->
  <div class="container">
    <h2 class="h2">
      工具分享
    </h2>
    <hr>

    <div class="journals-intro-ctn">
      <p>生物多樣性資料校對轉換工具為 TaiBIF 資訊團隊研發，目前提供學名檢查、中文名批次比對與坐標轉換。本研究目前由中研院「台灣生物多樣性資訊平台之學術、社會推廣與國際接軌」、國科會「建置與維護及整合台灣生物多樣性資訊國家入口網 (TaiBIF) 及與 GBIF 接軌」及林務局「生態資源資料庫分組整合推動計畫」等計畫經費支持，引用網址：<a href="http://taibif.org.tw/BDTools/tools.html" target="_blank">http://taibif.org.tw/BDTools/tools.html</a></p>
    </div>

    <!-- list begin -->    
    <div class="tools-intro-wrapper">
      <div class="tools-title">學名拼字校對</div>
      <div class="tools-content">
        <p>
          為能提升學名之正確性，本系統蒐羅 TaiBNET 與 Species 2000 名錄資料庫之學名資料做為比對校正之參考依據，並能顯示簡便明確的拼字差異及相似程度，以方便使用者鑑別學名字母異同之處，順利且省時地進行名錄之修訂。
        </p>
        <p><a href="#" target="_blank"><span class="myicon icon-link"></span> Catalogue of Life (Species 2000) 名錄比對</a></p>
        <p><a href="#" target="_blank"><span class="myicon icon-link"></span> Scientific name spell checker (Checklist of Taiwan)</a></p>
        <p><a href="#" target="_blank"><span class="myicon icon-link"></span> 臺灣物種名錄比對</a></p>
      </div>
    </div>

    <div class="tools-intro-wrapper">
      <div class="tools-title">地理分布線上坐標轉換</div>
      <div class="tools-content">
        <p>
          有鑑於過去物種生態分布之地理坐標系統不同，造成整合地理資訊上之困難，及物種於地圖上標記之錯誤，因此本系統可提供線上地理坐標資訊，以便使用者更新老舊生態分布之資料，得以進一步比較分析與研究，系統提供 WGS 84、TM2 67 與 TM2 97 三種格式之間的相互轉換。
        </p>
        <p><a href="#" target="_blank"><span class="myicon icon-link"></span> 坐標轉換</a></p>
      </div>
    </div>
    <!-- list end -->
  </div>
{% endblock %}
