{% extends "base.html" %} 
{% load i18n %} 
{% load humanize %}
{% load static %}
{% block title %}{% trans "網站導覽" %}{% endblock %}


{% block main %}


    
    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">{% trans "網站導覽" %}</h1>
            <img src="{% static 'images/mascot-Mreevesi.png' %}" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{% trans "首頁" %}</a></li>
            <li class="breadcrumb-item">{% trans "關於我們" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "網站導覽" %}</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row web-navi-container">
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "關於我們" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'about_taibif' %}">{% trans "TaiBIF 介紹" %}</a></li>
                <li><a href="{% url 'about_gbif' %}">{% trans "GBIF 介紹" %}</a></li>
                <li><a href="{% url 'taibif-achievement' %}">{% trans "TaiBIF 成果" %}</a></li>
                <li><a href="{% url 'thanks-list' %}">{% trans "感謝名單" %}</a></li>
                <li><a href="{% url 'web-navi' %}">{% trans "網站導覽" %}</a></li>
                <li><a href="{% url 'links' %}">{% trans "相關連結" %}</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'download-resources' %}">{% trans "TaiBIF 資源下載專區" %}</a></li>
                <li><a href="{% url 'data-policy' %}">{% trans "使用條款暨隱私權政策" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "開放資料" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'open-process' %}">{% trans "開放資料流程" %}</a></li>
                <li><a href="{% url 'open-timezone' %}">{% trans "計畫資料繳交依據與時程" %}</a></li>
                <li><a href="{% url 'tools' %}">{% trans "開放資料工具" %}</a></li>
                <li><a href="{% url 'data_stats' %}">{% trans "資料發布狀況" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "教育資源" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'tech-open' %}">{% trans "什麼是開放資料" %}</a></li>
                <li><a href="{% url 'tech-book' %}">{% trans "生物多樣性資訊概論" %}</a></li>
                <li><a href="{% url 'tech-workshop' %}">{% trans "資料開放與應用工作坊" %}</a></li>
                <li><a href="{% url 'tech-volunteer' %}">{% trans "參與志工培訓" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "資料應用" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'data-paper' %}">{% trans "資料期刊與論文" %}</a></li>
                <li><a href="{% url 'data-visual' %}">{% trans "資料視覺化" %}</a></li>
                <li><a href="{% url 'data-case' %}">{% trans "資料應用案例" %}</a></li>
                <li><a href="{% url 'data-product' %}">{% trans "資料產品" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "找資料" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'search-occurrence' cat='search' %}">{% trans "物種出現紀錄" %}</a></li>
                <li><a href="{% url 'search-species' %}">{% trans "物種" %}</a></li>
                <li><a href="{% url 'search-dataset' %}">{% trans "資料集" %}</a></li>
                <li><a href="{% url 'search-publisher' %}">{% trans "資料發布單位" %}</a></li>
                <li><a href="{% url 'taibif-api' %}">API</a></li>
                <li><a href="#">{% trans "全站搜尋" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "最新消息" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'article-search' %}?category=news">{% trans "新聞" %}</a></li>
                <li><a href="{% url 'article-search' %}?category=event">{% trans "活動" %}</a></li>
                <li><a href="{% url 'article-search' %}?category=sci">{% trans "科普" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">{% trans "專題文章" %}</div>
              <ul class="list-sitemap">
                <li><a href="{% url 'article-search' %}?category=story">{% trans "資料故事" %}</a></li>
                <li><a href="{% url 'article-search' %}?category=tech">{% trans "技術專欄" %}</a></li>
                <li><a href="{% url 'article-search' %}?category=pub">{% trans "出版品" %}</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
  
{% endblock %}