{% extends "base.html" %}
{% load static %}
{% block title %}網站導覽{% endblock %}


{% block main %}


    
    <!-- topnav begin -->
    <div class="bg-main-pale">
        <div class="container">
          <div class="caption-mascot-wrapper">
            <h1 class="title">網站導覽</h1>
            <img src="assets/images/mascot-Mreevesi.png" alt="" class="symbol">
          </div>
        </div>
      </div>
      <!-- topnav end -->
      <!-- container begin -->
      <div class="container my-5">
        <!-- breadcrumb begin -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">關於我們</li>
            <li class="breadcrumb-item active" aria-current="page">網站導覽</li>
          </ol>
        </nav>
        <!-- breadcrumb end -->
        <!-- row begin -->
        <div class="row">
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">關於我們</div>
              <ul class="list-sitemap">
                <li><a href="#">TaiBIF 介紹</a></li>
                <li><a href="#">GBIF 介紹</a></li>
                <li><a href="#">TaiBIF 成果</a></li>
                <li><a href="#">感謝名單</a></li>
                <li><a href="#">網站導覽</a></li>
                <li><a href="#">相關連結</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">TaiBIF 資源下載專區</a></li>
                <li><a href="#">使用條款暨隱私權政策</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">開放資料</div>
              <ul class="list-sitemap">
                <li><a href="#">開放資料流程</a></li>
                <li><a href="#">計畫資料繳交依據與時程</a></li>
                <li><a href="#">開放資料工具</a></li>
                <li><a href="#">資料發布狀況</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">教育資源</div>
              <ul class="list-sitemap">
                <li><a href="#">什麼是開放資料</a></li>
                <li><a href="#">生物多樣性資訊概論</a></li>
                <li><a href="#">資料開放與應用工作坊</a></li>
                <li><a href="#">參與志工培訓</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">資料應用</div>
              <ul class="list-sitemap">
                <li><a href="#">資料期刊與論文</a></li>
                <li><a href="#">資料視覺化與圖表產出</a></li>
                <li><a href="#">資料應用案例</a></li>
                <li><a href="#">資料產品</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">找資料</div>
              <ul class="list-sitemap">
                <li><a href="#">物種出現紀錄</a></li>
                <li><a href="#">物種</a></li>
                <li><a href="#">資料集</a></li>
                <li><a href="#">資料發布單位</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">全站搜尋</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">最新消息</div>
              <ul class="list-sitemap">
                <li><a href="#">新聞</a></li>
                <li><a href="#">活動</a></li>
                <li><a href="#">更新</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
          <!-- col begin -->
          <div class="col-12 col-md-3 mb-3">
            <div class="card card-ltmilo h-100">
              <div class="title">專題文章</div>
              <ul class="list-sitemap">
                <li><a href="#">資料故事</a></li>
                <li><a href="#">科普文章</a></li>
                <li><a href="#">技術專欄</a></li>
                <li><a href="#">出版品</a></li>
              </ul>
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
  
{% endblock %}