.search-container {
    width: 100%;
    margin: unset;
    padding: unset;
}

.search-main {
    padding-left: 40px;
    border: 1px solid green;
}

.search-sidebar {
    border-right: 1px #e5e5e5 solid;
    padding-right: unset;
    margin-top: 10px;
    /*overflow: auto;*/
}

.search-sidebar__title {
     margin: auto;
     padding: 12px;
     border-bottom: 1px solid #e5e5e5;
     height: 48px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.search-sidebar__title--head {
    background-color: #4A3E3A;
    color: #fff;
}

.clear-filters {
    padding: 10px;
}
.num-filters {
    font-size: 10px;
    right: 10px;
    top: 20px;
    position: absolute;
    z-index: 99;
}
.search-loading {
    text-align: center;
    padding: 60px;
}

.search-keyword {
    height: 42px;
    border-radius: 0;
    border-top: unset;
}

.search-keyword-sign {
    height: 42px;
    border-radius: 0;
    border-top: unset;
    border-left: unset;
    border-right: unset;
}
.search-keyword-sign:hover {
    background-color: unset;
    border-color: unset;
    border-bottom: unset;
}

.search-tag {
    margin: 10px 6px;
    padding: 4px 12px;
}

.search-menu-tabs>li.active>a, .search-menu-tabs>li.active>a:focus, .search-menu-tabs>li.active>a:hover {
    cursor: default;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 3px solid #7b2626;
}

.loader {
    width: 60px;
    margin: 60px auto;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: gray;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}
