.search-loading {
    text-align: center;
    padding: 60px;
}


.loader {
    width: 60px;
    margin: 60px auto;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: gray;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Searching';
  }
  33% {
    content: 'Searching.';
  }
  67% {
    content: 'Searching..';
  }
  100% {
    content: 'Searching...';
  }
}

.taxon-tree-container {
    margin: 14px 0 0 -30px;
}

.taxon-tree-node-wrapper{
    margin-left: 20px;
    border-left: unset;
}
.taxon-tree-node-wrapper .taxon-tree-node-wrapper {
    position: relative;
    border-left: 1px solid #a9a9a9;
    margin-left: 20px;
}

.taxon-tree-node-item {
    /*border: 1px solid #a9a9a9;*/
    /*padding: 0 8px;*/
    padding: 0 6px;
    display: inline;
    /*background-color: #efefef;*/
    /*border-left: 4px solid #836c5a;*/
    margin: -3px 0 0 10px;
}
.taxon-tree-node-item:before {
    position: absolute;
    /* left: 0px; */
    /* top: -2px; */
    content: '';
    display: block;
    height: 20px;
    /* border-bottom: 1px solid #a9a9a9; */
    width: 10px;
}

